<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.SysRedListMapper">

    <!-- 获取所有用户Id集合 -->
    <select id="getAllUserId" resultType="java.lang.Long">
        SELECT user_id
        FROM sys_red_list
    </select>

</mapper>