<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbMemberReduceListMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbMemberReduceList">
        <id column="member_reduce_id" jdbcType="BIGINT" property="memberReduceId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="reduce_time" jdbcType="TIMESTAMP" property="reduceTime"/>
        <result column="out_type" jdbcType="BIGINT" property="outType"/>
        <result column="to_org_id" jdbcType="BIGINT" property="toOrgId"/>
        <result column="to_org_code" jdbcType="VARCHAR" property="toOrgCode"/>
        <result column="to_org_name" jdbcType="VARCHAR" property="toOrgName"/>
        <result column="to_org_place" jdbcType="VARCHAR" property="toOrgPlace"/>
        <result column="reduce_reason" jdbcType="BIGINT" property="reduceReason"/>
        <result column="old_identity" jdbcType="BIGINT" property="oldIdentity"/>
        <result column="quit_type" jdbcType="BIGINT" property="quitType"/>
        <result column="quit_reason" jdbcType="BIGINT" property="quitReason"/>
        <result column="ebl_flag" jdbcType="VARCHAR" property="eblFlag"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.egovchina.partybuilding.partybuild.entity.TabPbMemberReduceList">
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
        <result column="person_status" jdbcType="LONGVARCHAR" property="personStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
    member_reduce_id, dept_id, user_id, real_name, reduce_time, out_type, to_org_id, 
    to_org_code, to_org_name, to_org_place, reduce_reason, old_identity, quit_type, quit_reason, 
    ebl_flag, del_flag, order_num, description, create_time, create_userid, create_username, 
    update_time, update_userid, update_username, version
  </sql>
    <sql id="Blob_Column_List">
    comment, person_status
  </sql>
    <!--查询历史党员记录-->
    <select id="historyPartyPage" parameterType="com.egovchina.partybuilding.partybuild.entity.HistoricalPartyMemberQueryBean"
            resultMap="com.egovchina.partybuilding.partybuild.repository.TabSysUserMapper.History_UserInfo">
        select
        r.user_id,u.realname,u.id_card_no,u.gender,u.nation,r.dept_id
        ,d.name as in_where_dept_name,TIMESTAMPDIFF(YEAR, u.join_org_time,r.reduce_time) AS
        age,r.update_time,r.reduce_time,r.out_type,r.quit_type
        from tab_pb_member_reduce_list r
        JOIN sys_user u on r.user_id = u.user_id
        JOIN sys_dept d on r.dept_id = d.dept_id
        where r.del_flag = '0'
        <if test="orgRange != null and orgRange != '' and deptId != null">
            <choose>
            <when test="orgRange == 1">
                AND (d.dept_id = #{deptId} OR d.parent_id = #{deptId})
            </when>
            <when test="orgRange == 2">
                AND find_in_set(#{deptId}, d.full_path)
            </when>
            <when test="orgRange == 3">
                AND d.dept_id = #{deptId}
            </when>
            </choose>
        </if>
        <if test="(orgRange == null or orgRange=='') and deptId != null ">
            AND r.dept_id = #{deptId}
        </if>
        <if test="realName !=null and realName != ''">
            AND u.realname like concat('%', #{realName}, '%')
        </if>
        <if test="outType !=null and outType != ''">
            AND r.out_type = #{outType}
        </if>
        <if test="quitType !=null and quitType != ''">
            AND r.quit_type = #{quitType}
        </if>
        ORDER BY r.update_time DESC
    </select>
    <!--用于查询以前成为历史党员的记录-->
    <select id="historyPartyPageDel"
            parameterType="com.egovchina.partybuilding.partybuild.entity.HistoricalPartyMemberQueryBean"
            resultType="com.egovchina.partybuilding.partybuild.vo.MemberReducesVO">
        select
        r.user_id,TIMESTAMPDIFF(YEAR, r.reduce_time, r.update_time) AS age
        from tab_pb_member_reduce_list r
        JOIN sys_user u on r.user_id = u.user_id
        JOIN sys_dept d on r.dept_id = d.dept_id
        where r.del_flag = '1'
        <if test="orgRange != null and orgRange != '' and deptId != null">
            <choose>
                <when test="orgRange == 1">
                    AND (d.dept_id = #{deptId} OR d.parent_id = #{deptId})
                </when>
                <when test="orgRange == 2">
                    AND find_in_set(#{deptId}, d.full_path)
                </when>
                <when test="orgRange == 3">
                    AND d.dept_id = #{deptId}
                </when>
            </choose>
        </if>
        <if test="(orgRange == null or orgRange=='') and deptId != null ">
            AND r.dept_id = #{deptId}
        </if>
        ORDER BY r.update_time DESC
    </select>

    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM tab_pb_member_reduce_list WHERE user_id = #{userId,jdbcType=BIGINT} ORDER BY reduce_time DESC LIMIT 1
    </select>
    <select id="selectListByUserId" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
         FROM tab_pb_member_reduce_list WHERE user_id = #{userId,jdbcType=BIGINT} ORDER BY reduce_time DESC
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tab_pb_member_reduce_list
        where member_reduce_id = #{memberReduceId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_member_reduce_list
    where member_reduce_id = #{memberReduceId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbMemberReduceList">
    insert into tab_pb_member_reduce_list (member_reduce_id, dept_id, user_id, 
      real_name, reduce_time, out_type, 
      to_org_id, to_org_code, to_org_name, 
      to_org_place, reduce_reason, old_identity, 
      quit_type, quit_reason, ebl_flag, 
      del_flag, order_num, description, 
      create_time, create_userid, create_username, 
      update_time, update_userid, update_username, 
      version, comment, person_status
      )
    values (#{memberReduceId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{realName,jdbcType=VARCHAR}, #{reduceTime,jdbcType=TIMESTAMP}, #{outType,jdbcType=BIGINT}, 
      #{toOrgId,jdbcType=BIGINT}, #{toOrgCode,jdbcType=VARCHAR}, #{toOrgName,jdbcType=VARCHAR}, 
      #{toOrgPlace,jdbcType=VARCHAR}, #{reduceReason,jdbcType=BIGINT}, #{oldIdentity,jdbcType=BIGINT}, 
      #{quitType,jdbcType=BIGINT}, #{quitReason,jdbcType=BIGINT}, #{eblFlag,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{orderNum,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR}, 
      #{version,jdbcType=BIGINT}, #{comment,jdbcType=LONGVARCHAR}, #{personStatus,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbMemberReduceList">
        insert into tab_pb_member_reduce_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberReduceId != null">
                member_reduce_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="reduceTime != null">
                reduce_time,
            </if>
            <if test="outType != null">
                out_type,
            </if>
            <if test="toOrgId != null">
                to_org_id,
            </if>
            <if test="toOrgCode != null">
                to_org_code,
            </if>
            <if test="toOrgName != null">
                to_org_name,
            </if>
            <if test="toOrgPlace != null">
                to_org_place,
            </if>
            <if test="reduceReason != null">
                reduce_reason,
            </if>
            <if test="oldIdentity != null">
                old_identity,
            </if>
            <if test="quitType != null">
                quit_type,
            </if>
            <if test="quitReason != null">
                quit_reason,
            </if>
            <if test="eblFlag != null">
                ebl_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="personStatus != null">
                person_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberReduceId != null">
                #{memberReduceId,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="reduceTime != null">
                #{reduceTime,jdbcType=TIMESTAMP},
            </if>
            <if test="outType != null">
                #{outType,jdbcType=BIGINT},
            </if>
            <if test="toOrgId != null">
                #{toOrgId,jdbcType=BIGINT},
            </if>
            <if test="toOrgCode != null">
                #{toOrgCode,jdbcType=VARCHAR},
            </if>
            <if test="toOrgName != null">
                #{toOrgName,jdbcType=VARCHAR},
            </if>
            <if test="toOrgPlace != null">
                #{toOrgPlace,jdbcType=VARCHAR},
            </if>
            <if test="reduceReason != null">
                #{reduceReason,jdbcType=BIGINT},
            </if>
            <if test="oldIdentity != null">
                #{oldIdentity,jdbcType=BIGINT},
            </if>
            <if test="quitType != null">
                #{quitType,jdbcType=BIGINT},
            </if>
            <if test="quitReason != null">
                #{quitReason,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=LONGVARCHAR},
            </if>
            <if test="personStatus != null">
                #{personStatus,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbMemberReduceList">
        update tab_pb_member_reduce_list
        <set>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="reduceTime != null">
                reduce_time = #{reduceTime,jdbcType=TIMESTAMP},
            </if>
            <if test="outType != null">
                out_type = #{outType,jdbcType=BIGINT},
            </if>
            <if test="toOrgId != null">
                to_org_id = #{toOrgId,jdbcType=BIGINT},
            </if>
            <if test="toOrgCode != null">
                to_org_code = #{toOrgCode,jdbcType=VARCHAR},
            </if>
            <if test="toOrgName != null">
                to_org_name = #{toOrgName,jdbcType=VARCHAR},
            </if>
            <if test="toOrgPlace != null">
                to_org_place = #{toOrgPlace,jdbcType=VARCHAR},
            </if>
            <if test="reduceReason != null">
                reduce_reason = #{reduceReason,jdbcType=BIGINT},
            </if>
            <if test="oldIdentity != null">
                old_identity = #{oldIdentity,jdbcType=BIGINT},
            </if>
            <if test="quitType != null">
                quit_type = #{quitType,jdbcType=BIGINT},
            </if>
            <if test="quitReason != null">
                quit_reason = #{quitReason,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                ebl_flag = #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=LONGVARCHAR},
            </if>
            <if test="personStatus != null">
                person_status = #{personStatus,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where member_reduce_id = #{memberReduceId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbMemberReduceList">
    update tab_pb_member_reduce_list
    set dept_id = #{deptId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      real_name = #{realName,jdbcType=VARCHAR},
      reduce_time = #{reduceTime,jdbcType=TIMESTAMP},
      out_type = #{outType,jdbcType=BIGINT},
      to_org_id = #{toOrgId,jdbcType=BIGINT},
      to_org_code = #{toOrgCode,jdbcType=VARCHAR},
      to_org_name = #{toOrgName,jdbcType=VARCHAR},
      to_org_place = #{toOrgPlace,jdbcType=VARCHAR},
      reduce_reason = #{reduceReason,jdbcType=BIGINT},
      old_identity = #{oldIdentity,jdbcType=BIGINT},
      quit_type = #{quitType,jdbcType=BIGINT},
      quit_reason = #{quitReason,jdbcType=BIGINT},
      ebl_flag = #{eblFlag,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT},
      comment = #{comment,jdbcType=LONGVARCHAR},
      person_status = #{personStatus,jdbcType=LONGVARCHAR}
    where member_reduce_id = #{memberReduceId,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbMemberReduceList">
    update tab_pb_member_reduce_list
    set dept_id = #{deptId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      real_name = #{realName,jdbcType=VARCHAR},
      reduce_time = #{reduceTime,jdbcType=TIMESTAMP},
      out_type = #{outType,jdbcType=BIGINT},
      to_org_id = #{toOrgId,jdbcType=BIGINT},
      to_org_code = #{toOrgCode,jdbcType=VARCHAR},
      to_org_name = #{toOrgName,jdbcType=VARCHAR},
      to_org_place = #{toOrgPlace,jdbcType=VARCHAR},
      reduce_reason = #{reduceReason,jdbcType=BIGINT},
      old_identity = #{oldIdentity,jdbcType=BIGINT},
      quit_type = #{quitType,jdbcType=BIGINT},
      quit_reason = #{quitReason,jdbcType=BIGINT},
      ebl_flag = #{eblFlag,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT}
    where member_reduce_id = #{memberReduceId,jdbcType=BIGINT}
  </update>
</mapper>