<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbPartyMassesMatterMapper">
  <!-- 数据库字段对象关系映射 -->
  <resultMap id="BaseResultMap"
             type="com.egovchina.partybuilding.partybuild.entity.TabPbPartyMassesMatter">
    <result column="party_masses_matter_id" property="partyMassesMatterId"/>
    <result column="party_masses_id" property="partyMassesId"/>
    <result column="service_name" property="serviceName"/>
    <result column="content" property="content"/>
    <result column="crowd" property="crowd"/>
    <result column="contact" property="contact"/>
    <result column="tel" property="tel"/>
    <result column="address" property="address"/>
    <result column="service_hours" property="serviceHours"/>
    <result column="cover" property="cover"/>
    <result column="ebl_flag" property="eblFlag"/>
    <result column="del_flag" property="delFlag"/>
    <result column="order_num" property="orderNum"/>
    <result column="description" property="description"/>
    <result column="create_time" property="createTime"/>
    <result column="create_userid" property="createUserid"/>
    <result column="create_username" property="createUsername"/>
    <result column="update_time" property="updateTime"/>
    <result column="update_userid" property="updateUserid"/>
    <result column="update_username" property="updateUsername"/>
    <result column="version" property="version"/>
  </resultMap>

  <!-- VO对象 -->
  <resultMap id="VoResultMap"
             type="com.egovchina.partybuilding.partybuild.vo.PartyMassesMatterVO">
    <result column="party_masses_matter_id" property="partyMassesMatterId"/>
    <result column="party_masses_id" property="partyMassesId"/>
    <result column="party_masses_name" property="partyMassesName"/>
    <result column="service_name" property="serviceName"/>
    <result column="content" property="content"/>
    <result column="crowd" property="crowd"/>
    <result column="contact" property="contact"/>
    <result column="tel" property="tel"/>
    <result column="address" property="address"/>
    <result column="service_hours" property="serviceHours"/>
    <result column="cover" property="cover"/>
    <!--关联附件数据-->
    <collection property="attachments"
                select="com.egovchina.partybuilding.partybuild.repository.TabPbAttachmentMapper.selectWithConditions"
                column="{hostId=party_masses_matter_id,attachmentType=attachment_type}"/>
  </resultMap>

  <!-- base查询字段  -->
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
      party_masses_matter_id,
      party_masses_id,
      service_name,
      content,
      crowd,
      contact,
      tel,
      address,
      cover,
      ebl_flag,
      del_flag,
      order_num,
      description,
      create_time,
      create_userid,
      create_username,
      update_time,
      update_userid,
      update_username,
      version,
    </trim>
  </sql>

  <!-- vo查询字段  -->
  <sql id="Vo_Column_List">
    <trim suffixOverrides=",">
      '70' as attachment_type,
      p.party_masses_matter_id,
      p.party_masses_id,
      ( select m.party_masses_name from tab_pb_party_masses m where m.party_masses_id = p.party_masses_id) as party_masses_name,
      p.service_name,
      p.content,
      p.crowd,
      p.contact,
      p.tel,
      p.address,
      p.service_hours,
      p.cover,
    </trim>
  </sql>

  <!--新增-->
  <insert id="insert" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbPartyMassesMatter" useGeneratedKeys="true" keyProperty="partyMassesMatterId">
    insert into tab_pb_party_masses_matter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partyMassesMatterId != null ">
        party_masses_matter_id,
      </if>
      <if test="partyMassesId != null ">
        party_masses_id,
      </if>
      <if test="serviceName != null ">
        service_name,
      </if>
      <if test="content != null ">
        content,
      </if>
      <if test="crowd != null ">
        crowd,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="tel != null ">
        tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="eblFlag != null ">
        ebl_flag,
      </if>
      <if test="delFlag != null ">
        del_flag,
      </if>
      <if test="orderNum != null ">
        order_num,
      </if>
      <if test="description != null ">
        description,
      </if>
      <if test="createTime != null ">
        create_time,
      </if>
      <if test="createUserid != null ">
        create_userid,
      </if>
      <if test="createUsername != null ">
        create_username,
      </if>
      <if test="updateTime != null ">
        update_time,
      </if>
      <if test="updateUserid != null ">
        update_userid,
      </if>
      <if test="updateUsername != null ">
        update_username,
      </if>
      <if test="version != null ">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partyMassesMatterId != null">
        #{partyMassesMatterId, jdbcType=BIGINT},
      </if>
      <if test="partyMassesId != null">
        #{partyMassesId, jdbcType=BIGINT},
      </if>
      <if test="serviceName != null">
        #{serviceName, jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content, jdbcType=VARCHAR},
      </if>
      <if test="crowd != null">
        #{crowd, jdbcType=BIGINT},
      </if>
      <if test="contact != null">
        #{contact, jdbcType=VARCHAR},
      </if>
      <if test="tel != null ">
        #{tel, jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address, jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover, jdbcType=VARCHAR},
      </if>
      <if test="eblFlag != null">
        #{eblFlag, jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag, jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum, jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description, jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime, jdbcType=TIMESTAMP},
      </if>
      <if test="createUserid != null">
        #{createUserid, jdbcType=BIGINT},
      </if>
      <if test="createUsername != null">
        #{createUsername, jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime, jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null">
        #{updateUserid, jdbcType=BIGINT},
      </if>
      <if test="updateUsername != null">
        #{updateUsername, jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version, jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <!--根据id修改-->
  <update id="updateById" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbPartyMassesMatter">
    update tab_pb_party_masses_matter
    <set>
      <if test="partyMassesId != null">
        party_masses_id = #{partyMassesId, jdbcType=BIGINT},
      </if>
      <if test="serviceName != null">
        service_name = #{serviceName, jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content, jdbcType=VARCHAR},
      </if>
      <if test="crowd != null">
        crowd = #{crowd, jdbcType=BIGINT},
      </if>
      <if test="contact != null">
        contact = #{contact, jdbcType=VARCHAR},
      </if>
      <if test="tel != null ">
        tel = #{tel, jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address, jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover, jdbcType=VARCHAR},
      </if>
      <if test="eblFlag != null">
        ebl_flag = #{eblFlag, jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag, jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum, jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description, jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime, jdbcType=TIMESTAMP},
      </if>
      <if test="createUserid != null">
        create_userid = #{createUserid, jdbcType=BIGINT},
      </if>
      <if test="createUsername != null">
        create_username = #{createUsername, jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime, jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null">
        update_userid = #{updateUserid, jdbcType=BIGINT},
      </if>
      <if test="updateUsername != null">
        update_username = #{updateUsername, jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version, jdbcType=BIGINT},
      </if>
    </set>
    where party_masses_matter_id = #{partyMassesMatterId, jdbcType=BIGINT}
  </update>
  <update id="logicDeleteByPartyMassesId">
    update tab_pb_party_masses_matter
    <set>
      <if test="eblFlag != null">
        ebl_flag = #{eblFlag, jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag, jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime, jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null">
        update_userid = #{updateUserid, jdbcType=BIGINT},
      </if>
      <if test="updateUsername != null">
        update_username = #{updateUsername, jdbcType=VARCHAR},
      </if>
    </set>
    where party_masses_id = #{partyMassesId, jdbcType=BIGINT}
  </update>

  <!--根据id删除-->
  <delete id="deleteById" parameterType="long">
        delete from tab_pb_party_masses_matter where id  = #{id}
    </delete>


  <!-- 根据id查找 -->
  <select id="selectById" resultMap="VoResultMap" parameterType="long">
    select <include refid="Vo_Column_List"/>
    from tab_pb_party_masses_matter p where p.party_masses_matter_id = #{id} and p.del_flag = 0
  </select>


  <!-- base where条件  -->
  <sql id="Base_Where_Condition">
    <where>
      p.del_flag = 0
      <if test="partyMassesId != null">
        and p.party_masses_id = #{partyMassesId}
      </if>
      <if test="serviceName != null">
        and p.service_name like concat('%', #{serviceName} ,'%')
      </if>
      <if test="crowd != null">
        and p.crowd = #{crowd}
      </if>
    </where>
  </sql>


  <!--查询列表-->
  <select id="list" resultMap="VoResultMap" parameterType="com.egovchina.partybuilding.partybuild.entity.PartyMassesMatterQueryBean">
    select <include refid="Vo_Column_List"/>
    from tab_pb_party_masses_matter p
    <include refid="Base_Where_Condition"/>
  </select>
</mapper>