<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbLeadTeamMemberMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbLeadTeamMember">
        <id column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="lead_team_id" jdbcType="BIGINT" property="leadTeamId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="person_name" jdbcType="VARCHAR" property="personName"/>
        <result column="positive_id" jdbcType="BIGINT" property="positiveId"/>
        <result column="positive_name" jdbcType="VARCHAR" property="positiveName"/>
        <result column="tenure_mode" jdbcType="BIGINT" property="tenureMode"/>
        <result column="tenure_begin" jdbcType="TIMESTAMP" property="tenureBegin"/>
        <result column="tenure_duration" jdbcType="BIGINT" property="tenureDuration"/>
        <result column="tenure_leave" jdbcType="TIMESTAMP" property="tenureLeave"/>
        <result column="as_committee_member" jdbcType="TINYINT" property="asCommitteeMember"/>
        <result column="as_committee_director" jdbcType="TINYINT" property="asCommitteeDirector"/>
        <result column="lead_member_order" jdbcType="BIGINT" property="leadMemberOrder"/>
        <result column="ebl_flag" jdbcType="VARCHAR" property="eblFlag"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="approval_number" jdbcType="VARCHAR" property="approvalNumber"/>
        <result column="rank" jdbcType="VARCHAR" property="rank"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
    </resultMap>

    <!--VO 结果集-->
    <resultMap id="LeadTeamMemberVOResultMap" type="com.egovchina.partybuilding.partybuild.vo.LeadTeamMemberVO">
        <id column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="lead_team_id" jdbcType="BIGINT" property="leadTeamId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="person_name" jdbcType="VARCHAR" property="personName"/>
        <result column="positive_id" jdbcType="BIGINT" property="positiveId"/>
        <result column="positive_name" jdbcType="VARCHAR" property="positiveName"/>
        <result column="tenure_mode" jdbcType="BIGINT" property="tenureMode"/>
        <result column="tenure_begin" jdbcType="TIMESTAMP" property="tenureBegin"/>
        <result column="tenure_duration" jdbcType="BIGINT" property="tenureDuration"/>
        <result column="tenure_leave" jdbcType="TIMESTAMP" property="tenureLeave"/>
        <result column="as_committee_member" jdbcType="TINYINT" property="asCommitteeMember"/>
        <result column="as_committee_director" jdbcType="TINYINT" property="asCommitteeDirector"/>
        <result column="lead_member_order" jdbcType="BIGINT" property="leadMemberOrder"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="approval_number" jdbcType="VARCHAR" property="approvalNumber"/>
        <result column="rank" jdbcType="VARCHAR" property="rank"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
    </resultMap>

    <sql id="Base_Column_List">
        member_id, org_id, lead_team_id, user_id, person_name, positive_id, positive_name,
        tenure_mode, tenure_begin, tenure_duration, tenure_leave, as_committee_member, as_committee_director,
        lead_member_order, ebl_flag, del_flag, order_num, description, create_time, create_userid,
        create_username, update_time, update_userid, update_username, version,rank, approval_number, avatar
    </sql>

    <!--VO ResultMap-->
    <sql id="LeadTeamMemberVO_Column_List">
        ltm.member_id, ltm.org_id, ltm.lead_team_id, ltm.user_id, ltm.person_name, ltm.positive_id, ltm.positive_name,
        ltm.tenure_mode, ltm.tenure_begin, ltm.tenure_duration, ltm.tenure_leave, ltm.as_committee_member, ltm.as_committee_director,
        ltm.lead_member_order, ltm.description, ltm.rank, ltm.approval_number, ltm.avatar
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_lead_team_member
        where member_id = #{memberId,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="memberId" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbLeadTeamMember">
        insert into tab_pb_lead_team_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">
                member_id,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="leadTeamId != null">
                lead_team_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="personName != null">
                person_name,
            </if>
            <if test="positiveId != null">
                positive_id,
            </if>
            <if test="positiveName != null">
                positive_name,
            </if>
            <if test="tenureMode != null">
                tenure_mode,
            </if>
            <if test="tenureBegin != null">
                tenure_begin,
            </if>
            <if test="tenureDuration != null">
                tenure_duration,
            </if>
            <if test="tenureLeave != null">
                tenure_leave,
            </if>
            <if test="asCommitteeMember != null">
                as_committee_member,
            </if>
            <if test="asCommitteeDirector != null">
                as_committee_director,
            </if>
            <if test="leadMemberOrder != null">
                lead_member_order,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="eblFlag != null">
                ebl_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="approvalNumber != null">
                approval_number,
            </if>
            <if test="rank != null">
                rank,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">
                #{memberId,jdbcType=BIGINT},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="leadTeamId != null">
                #{leadTeamId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="personName != null">
                #{personName,jdbcType=VARCHAR},
            </if>
            <if test="positiveId != null">
                #{positiveId,jdbcType=BIGINT},
            </if>
            <if test="positiveName != null">
                #{positiveName,jdbcType=VARCHAR},
            </if>
            <if test="tenureMode != null">
                #{tenureMode,jdbcType=BIGINT},
            </if>
            <if test="tenureBegin != null">
                #{tenureBegin,jdbcType=TIMESTAMP},
            </if>
            <if test="tenureDuration != null">
                #{tenureDuration,jdbcType=BIGINT},
            </if>
            <if test="tenureLeave != null">
                #{tenureLeave,jdbcType=TIMESTAMP},
            </if>
            <if test="asCommitteeMember != null">
                #{asCommitteeMember,jdbcType=TINYINT},
            </if>
            <if test="asCommitteeDirector != null">
                #{asCommitteeDirector,jdbcType=TINYINT},
            </if>
            <if test="leadMemberOrder != null">
                #{leadMemberOrder,jdbcType=BIGINT},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="eblFlag != null">
                #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="approvalNumber != null">
                #{approvalNumber,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                #{rank,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"  parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbLeadTeamMember">
        update tab_pb_lead_team_member
        <set>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=BIGINT},
            </if>
            <if test="leadTeamId != null">
                lead_team_id = #{leadTeamId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="personName != null">
                person_name = #{personName,jdbcType=VARCHAR},
            </if>
            <if test="positiveId != null">
                positive_id = #{positiveId,jdbcType=BIGINT},
            </if>
            <if test="positiveName != null">
                positive_name = #{positiveName,jdbcType=VARCHAR},
            </if>
            <if test="tenureMode != null">
                tenure_mode = #{tenureMode,jdbcType=BIGINT},
            </if>
            <if test="tenureBegin != null">
                tenure_begin = #{tenureBegin,jdbcType=TIMESTAMP},
            </if>
            <if test="tenureDuration != null">
                tenure_duration = #{tenureDuration,jdbcType=BIGINT},
            </if>
            <if test="tenureLeave != null">
                tenure_leave = #{tenureLeave,jdbcType=TIMESTAMP},
            </if>
            <if test="asCommitteeMember != null">
                as_committee_member = #{asCommitteeMember,jdbcType=TINYINT},
            </if>
            <if test="asCommitteeDirector != null">
                as_committee_director = #{asCommitteeDirector,jdbcType=TINYINT},
            </if>
            <if test="leadMemberOrder != null">
                lead_member_order = #{leadMemberOrder,jdbcType=BIGINT},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="eblFlag != null">
                ebl_flag = #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="approvalNumber != null">
                approval_number= #{approvalNumber,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                rank = #{rank,jdbcType=VARCHAR},
            </if>
        </set>
        where member_id = #{memberId,jdbcType=BIGINT}
    </update>

    <!--根据领导班子ID查询班子成员-->
    <select id="selectTeamMemberVOListByTeamId" parameterType="java.lang.Long"
            resultMap="LeadTeamMemberVOResultMap">
        SELECT
        <include refid="LeadTeamMemberVO_Column_List"/>
        FROM tab_pb_lead_team_member ltm
        LEFT JOIN sys_dept d ON ltm.org_id = d.dept_id
        WHERE lead_team_id = #{leadTeamId}
        ORDER BY ltm.member_id
    </select>

    <select id="selectLeadTeamMemberVOById" parameterType="java.lang.Long" resultMap="LeadTeamMemberVOResultMap">
        SELECT
        <include refid="LeadTeamMemberVO_Column_List"/>
        ,d.NAME AS org_name
        FROM
        tab_pb_lead_team_member ltm
        LEFT JOIN sys_dept d ON ltm.org_id = d.dept_id
        WHERE ltm.member_id = #{memberId}
    </select>

    <!--根据条件查询班子成员VO列表-->
    <select id="selectLeadTeamMemberVOListByCondition"
            parameterType="com.egovchina.partybuilding.partybuild.entity.LeadTeamMemberQueryBean"
            resultMap="LeadTeamMemberVOResultMap">
        SELECT
        <include refid="LeadTeamMemberVO_Column_List"/>
        ,d.name as org_name
        FROM tab_pb_lead_team_member ltm
        LEFT JOIN sys_user u ON ltm.user_id = u.user_id
        LEFT JOIN tab_pb_lead_team t ON ltm.lead_team_id = t.lead_team_id
        LEFT JOIN sys_dept d ON t.org_id = d.dept_id
        WHERE ltm.del_flag = 0
        <if test="personName != null and personName != ''">
            AND ltm.person_name LIKE concat('%', #{personName}, '%')
        </if>
        <if test="idCardNo != null and idCardNo != ''">
            AND u.id_card_no LIKE concat('%', #{idCardNo}, '%')
        </if>
        <if test="rank != null and rank != ''">
            AND ltm.rank = #{rank}
        </if>
        <if test="positiveId != null and positiveId != ''">
            AND ltm.positive_id = #{positiveId}
        </if>
        <!--组织范围  1 当前组织（包括一级下级组织）2当前组织（包含所有下级组织） -->
        <choose>
            <when test="orgRange == 1">
                AND (d.dept_id = #{rangeDeptId} OR d.parent_id = #{rangeDeptId})
            </when>
            <when test="orgRange == 2">
                AND find_in_set(#{rangeDeptId}, d.full_path)
            </when>
            <otherwise>
                AND d.dept_id = #{rangeDeptId}
            </otherwise>
        </choose>
    </select>

    <!--根据班子id逻辑删除班子成员-->
    <update id="logicDeleteByLeadTeamId"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbLeadTeamMember">
        update tab_pb_lead_team_member
        set del_flag = 1, update_userid = #{updateUserid}, update_username = #{updateUsername}, update_time = #{updateTime}
        where lead_team_id = #{leadTeamId}
    </update>

    <!--成员已经存在在指定班子中-->
    <select id="memberAlreadyExistsInTheTeam" resultType="java.lang.Boolean">
        SELECT TRUE
        FROM
            tab_pb_lead_team_member
        WHERE
            del_flag = 0
            AND user_id = #{userId} and lead_team_id = #{leadTeamId}
    </select>
</mapper>