<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizheng.partybuilding.repository.TabPbEduMsgBoardMapper">
    <resultMap id="BaseResultMap" type="com.yizheng.partybuilding.entity.TabPbEduMsgBoard">
        <id column="msg_id" jdbcType="BIGINT" property="msgId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="msg_type" jdbcType="VARCHAR" property="msgType"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="BaseResultByIdMap" type="com.yizheng.partybuilding.dto.TabPbEduMsgBoardDto">
    <result column="attachment_instance" jdbcType="VARCHAR" property="attachment"/>

    </resultMap>
    <sql id="Base_Column_List">
    msg_id, user_id, msg_type, title, content, create_time
  </sql>
    <sql id="WhereCase">
        <if test="userId != null">
            AND emb.user_id = #{userId}
        </if>
        <if test="msgType != null">
            AND emb.msg_type = #{msgType}
        </if>
        <if test="title != null">
            AND emb.title = #{title}
        </if>
        <if test="content != null">
            AND emb.content = #{content}
        </if>
        <if test="createTime != null">
            AND emb.create_time = #{createTime}
        </if>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultByIdMap">
      SELECT t.*,a.attachment_instance FROM  tab_pb_edu_msg_board t LEFT JOIN tab_pb_attachment a
        ON t.msg_id=a.host_id WHERE t.msg_id = #{msgId,jdbcType=BIGINT} AND a.attachment_type=18
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_msg_board
    where msg_id = #{msgId,jdbcType=BIGINT}
  </delete>
    <insert id="insert"  useGeneratedKeys="true" keyProperty="msgId" parameterType="com.yizheng.partybuilding.dto.TabPbEduMsgBoardDto">
    insert into tab_pb_edu_msg_board (msg_id, user_id, msg_type, 
      title, content, create_time,bus_id
      )
    values (#{msgId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{msgType,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
       #{busId,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduMsgBoard">
        insert into tab_pb_edu_msg_board
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="msgId != null">
                msg_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="msgType != null">
                msg_type,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="msgId != null">
                #{msgId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="msgType != null">
                #{msgType,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduMsgBoard">
        update tab_pb_edu_msg_board
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="msgType != null">
                msg_type = #{msgType,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where msg_id = #{msgId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yizheng.partybuilding.entity.TabPbEduMsgBoard">
    update tab_pb_edu_msg_board
    set user_id = #{userId,jdbcType=BIGINT},
      msg_type = #{msgType,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where msg_id = #{msgId,jdbcType=BIGINT}
  </update>

    <select id="selectWithConditions" resultMap="BaseResultMap">
          select *from tab_pb_edu_msg_board

    </select>
    <!--查询登陆用户的留言信息-->
    <select id="selectMsgBoardByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
          SELECT
          msg_type,title,content,create_time
          FROM
          `tab_pb_edu_msg_board`
          WHERE user_id = #{userId}
    </select>

    <!-- 根据业务id和类型 查询评论的次数-->
    <select id="selectMsgBoardCount" parameterType="com.yizheng.partybuilding.entity.TabPbEduMsgBoard" resultType="java.lang.Long">
        select count(*) from tab_pb_edu_msg_board
        <where>
            <if test="busId !=null">
                and  bus_id=#{busId}
            </if>
            <if test="msgType">
                and msg_type=#{msgType}
            </if>
        </where>
    </select>
</mapper>