<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbPartyMassesMapper">
  <!-- 数据库字段对象关系映射 -->
  <resultMap id="BaseResultMap"
             type="com.egovchina.partybuilding.partybuild.entity.TabPbPartyMasses">
    <result column="party_masses_id" property="partyMassesId"/>
    <result column="party_masses_name" property="partyMassesName"/>
    <result column="administrative_division_id" property="administrativeDivisionId"/>
    <result column="administrative_division_name" property="administrativeDivisionName"/>
    <result column="coordinate" property="coordinate"/>
    <result column="tel" property="tel"/>
    <result column="contact" property="contact"/>
    <result column="address" property="address"/>
    <result column="service_hours" property="serviceHours"/>
    <result column="content" property="content"/>
    <result column="longitude" property="longitude"/>
    <result column="latitude" property="latitude"/>
    <result column="cover" property="cover"/>
    <result column="ebl_flag" property="eblFlag"/>
    <result column="del_flag" property="delFlag"/>
    <result column="order_num" property="orderNum"/>
    <result column="description" property="description"/>
    <result column="create_time" property="createTime"/>
    <result column="create_userid" property="createUserid"/>
    <result column="create_username" property="createUsername"/>
    <result column="update_time" property="updateTime"/>
    <result column="update_userid" property="updateUserid"/>
    <result column="update_username" property="updateUsername"/>
    <result column="version" property="version"/>
  </resultMap>

  <!-- VO对象 -->
  <resultMap id="VoResultMap"
             type="com.egovchina.partybuilding.partybuild.vo.PartyMassesVO">
    <result column="party_masses_id" property="partyMassesId"/>
    <result column="party_masses_name" property="partyMassesName"/>
    <result column="administrative_division_id" property="administrativeDivisionId"/>
    <result column="administrative_division_name" property="administrativeDivisionName"/>
    <result column="tel" property="tel"/>
    <result column="contact" property="contact"/>
    <result column="address" property="address"/>
    <result column="service_hours" property="serviceHours"/>
    <result column="content" property="content"/>
    <result column="longitude" property="longitude"/>
    <result column="latitude" property="latitude"/>
    <result column="cover" property="cover"/>
    <result column="level" property="level"/>
    <!--关联附件数据-->
    <collection property="attachments"
                select="com.egovchina.partybuilding.partybuild.repository.TabPbAttachmentMapper.selectWithConditions"
                column="{hostId=party_masses_id,attachmentType=attachment_type}"/>
  </resultMap>

  <!-- base查询字段  -->
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
      party_masses_id,
      party_masses_name,
      administrative_division_id,
      administrative_division_name,
      coordinate,
      tel,
      contact,
      address,
      service_hours,
      content,
      longitude,
      latitude,
      cover,
      ebl_flag,
      del_flag,
      order_num,
      description,
      create_time,
      create_userid,
      create_username,
      update_time,
      update_userid,
      update_username,
      version,
    </trim>
  </sql>

  <!-- vo查询字段  -->
  <sql id="Vo_Column_List">
    <trim suffixOverrides=",">
      '69' as attachment_type,
      party_masses_id,
      party_masses_name,
      d.administrative_division_id,
      d.administrative_division_name,
      tel,
      contact,
      address,
      service_hours,
      content,
      m.longitude,
      m.latitude,
      cover,
      d.level,
    </trim>
  </sql>

  <!--新增-->
  <insert id="insert" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbPartyMasses" useGeneratedKeys="true" keyProperty="partyMassesId">
    insert into tab_pb_party_masses
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partyMassesId != null ">
        party_masses_id,
      </if>
      <if test="partyMassesName != null ">
        party_masses_name,
      </if>
      <if test="administrativeDivisionId != null ">
        administrative_division_id,
      </if>
      <if test="administrativeDivisionName != null ">
        administrative_division_name,
      </if>
      <if test="coordinate != null ">
        coordinate,
      </if>
      <if test="tel != null ">
        tel,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="address != null ">
        address,
      </if>
      <if test="serviceHours != null ">
        service_hours,
      </if>
      <if test="content != null ">
        content,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="eblFlag != null ">
        ebl_flag,
      </if>
      <if test="delFlag != null ">
        del_flag,
      </if>
      <if test="orderNum != null ">
        order_num,
      </if>
      <if test="description != null ">
        description,
      </if>
      <if test="createTime != null ">
        create_time,
      </if>
      <if test="createUserid != null ">
        create_userid,
      </if>
      <if test="createUsername != null ">
        create_username,
      </if>
      <if test="updateTime != null ">
        update_time,
      </if>
      <if test="updateUserid != null ">
        update_userid,
      </if>
      <if test="updateUsername != null ">
        update_username,
      </if>
      <if test="version != null ">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partyMassesId != null">
        #{partyMassesId, jdbcType=BIGINT},
      </if>
      <if test="partyMassesName != null">
        #{partyMassesName, jdbcType=VARCHAR},
      </if>
      <if test="administrativeDivisionId != null">
        #{administrativeDivisionId, jdbcType=BIGINT},
      </if>
      <if test="administrativeDivisionName != null">
        #{administrativeDivisionName, jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null">
        #{coordinate, jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel, jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address, jdbcType=VARCHAR},
      </if>
      <if test="serviceHours != null ">
        #{serviceHours, jdbcType=VARCHAR},
      </if>
      <if test="content != null ">
        #{content, jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude, jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude, jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover, jdbcType=VARCHAR},
      </if>
      <if test="eblFlag != null">
        #{eblFlag, jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag, jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum, jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description, jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime, jdbcType=TIMESTAMP},
      </if>
      <if test="createUserid != null">
        #{createUserid, jdbcType=BIGINT},
      </if>
      <if test="createUsername != null">
        #{createUsername, jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime, jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null">
        #{updateUserid, jdbcType=BIGINT},
      </if>
      <if test="updateUsername != null">
        #{updateUsername, jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version, jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <!--根据id修改-->
  <update id="updateById" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbPartyMasses">
    update tab_pb_party_masses
    <set>
      <if test="partyMassesName != null">
        party_masses_name = #{partyMassesName, jdbcType=VARCHAR},
      </if>
      <if test="administrativeDivisionId != null">
        administrative_division_id = #{administrativeDivisionId, jdbcType=BIGINT},
      </if>
      <if test="administrativeDivisionName != null">
        administrative_division_name = #{administrativeDivisionName, jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null">
        coordinate = #{coordinate, jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel, jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address, jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude, jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude, jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover, jdbcType=VARCHAR},
      </if>
      <if test="eblFlag != null">
        ebl_flag = #{eblFlag, jdbcType=VARCHAR},
      </if>
      <if test="serviceHours != null ">
        service_hours = #{serviceHours, jdbcType=VARCHAR},
      </if>
      <if test="content != null ">
        content = #{content, jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag, jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum, jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description, jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime, jdbcType=TIMESTAMP},
      </if>
      <if test="createUserid != null">
        create_userid = #{createUserid, jdbcType=BIGINT},
      </if>
      <if test="createUsername != null">
        create_username = #{createUsername, jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime, jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null">
        update_userid = #{updateUserid, jdbcType=BIGINT},
      </if>
      <if test="updateUsername != null">
        update_username = #{updateUsername, jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version, jdbcType=BIGINT},
      </if>
    </set>
    where party_masses_id = #{partyMassesId, jdbcType=BIGINT}
  </update>

  <!--根据id删除-->
  <delete id="deleteById" parameterType="long">
        delete from tab_pb_party_masses where id  = #{id}
    </delete>


  <!-- 根据id查找 -->
  <select id="selectById" resultMap="VoResultMap" parameterType="long">
    select <include refid="Vo_Column_List"/>
    from tab_pb_party_masses m
    inner join tab_pb_administrative_division d on m.administrative_division_id = d.administrative_division_id
    and d.del_flag = '0'
    where m.party_masses_id = #{id} and m.del_flag = 0
  </select>


  <!-- base where条件  -->
  <sql id="Base_Where_Condition">
    <where>
      m.del_flag = 0
      <if test="partyMassesName != null">
        and m.party_masses_name like concat('%',#{partyMassesName},'%')
      </if>
      <if test="administrativeDivisionName != null">
        and m.administrative_division_name like concat('%',#{administrativeDivisionName},'%')
      </if>
      <if test="serviceHours != null ">
        and m.service_hours = #{serviceHours}
      </if>
      <if test="level != null">
        and d.level = #{level}
      </if>
      <!--组织范围  1 当前党群（包括一级下级党群）2当前党群（包含所有下级党群） -->
      <if test="partyMassesRange != null and partyMassesRange != ''">
        <choose>
          <when test="partyMassesRange == 1">
            AND (d.administrative_division_id = #{administrativeDivisionId} OR d.parent_id = #{administrativeDivisionId})
          </when>
          <when test="partyMassesRange == 2">
            AND d.administrative_division_code like concat((select inner_level from tab_pb_administrative_division innerd where innerd.administrative_division_id = #{administrativeDivisionId}), '%')
          </when>
        </choose>
      </if>
      <if test="partyMassesRange == null or partyMassesRange.toString() == ''">
        AND d.administrative_division_id = #{administrativeDivisionId}
      </if>
    </where>
  </sql>


  <!--查询列表-->
  <select id="list" resultMap="VoResultMap" parameterType="com.egovchina.partybuilding.partybuild.entity.PartyMassesQueryBean">
    select <include refid="Vo_Column_List"/>
    from tab_pb_party_masses m
    inner join tab_pb_administrative_division d on m.administrative_division_id = d.administrative_division_id
    and d.del_flag = '0'
    <include refid="Base_Where_Condition"/>
  </select>

  <select id="checkIsExistPartyMassesName" resultType="java.lang.Boolean">
    select
    count(1)
    from
    tab_pb_party_masses
    where
    del_flag = 0
    AND party_masses_name = #{partyMassesName}
    <if test="partyMassesId != null and partyMassesId != 0">
      AND party_masses_id != #{partyMassesId}
    </if>
  </select>

  <select id="selectListByCondition" resultType="com.egovchina.partybuilding.partybuild.vo.PartyMassesTree">
    SELECT
      p.party_masses_name AS PartyMassesName,
      p.party_masses_id AS partyMassesId,
      d.administrative_division_id AS id,
      d.parent_id AS parentId
    FROM
      tab_pb_administrative_division d
      INNER JOIN tab_pb_party_masses p ON d.administrative_division_id = p.administrative_division_id
      <if test="parentId != null">
        AND d.parent_id = #{parentId}
      </if>
      AND d.del_flag = 0
      AND d.ebl_flag = 1
      AND p.del_flag = 0
    ORDER BY d.order_num
  </select>
  <select id="checkAdministrativeDivisionExistPartyMasses" resultType="java.lang.Boolean">
    select
    count(1)
    from
    tab_pb_party_masses
    where
    del_flag = 0
    AND administrative_division_id = #{administrativeDivisionId}
  </select>
</mapper>