<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizheng.partybuilding.repository.TabPbEduTeachersMapper">
    <resultMap id="BaseResultMap" type="com.yizheng.partybuilding.entity.TabPbEduTeachers">
        <id column="teacher_id" jdbcType="BIGINT" property="teacherId"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nation" jdbcType="BIGINT" property="nation"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="birth_time" jdbcType="TIMESTAMP" property="birthTime"/>
        <result column="gender" jdbcType="BIGINT" property="gender"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="political_status" jdbcType="VARCHAR" property="politicalStatus"/>
        <result column="region" jdbcType="BIGINT" property="region"/>
        <result column="tell_phone" jdbcType="VARCHAR" property="tellPhone"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="health" jdbcType="VARCHAR" property="health"/>
        <result column="work_address" jdbcType="VARCHAR" property="workAddress"/>
        <result column="good_field" jdbcType="BIGINT" property="goodField"/>
        <result column="teacher_type" property="teacherType"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="attachment_instance" property="attachmentInstance"/>
    </resultMap>

    <!--用于智能选学的ResultMap-->
    <resultMap id="ResultMapForZLXX" type="com.yizheng.partybuilding.dto.SimpleEduTeacherDto">
        <id column="teacher_id" jdbcType="BIGINT" property="teacherId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <collection property="courses"
                    select="com.yizheng.partybuilding.repository.TabPbEduTeachersCourseMapper.selectList"
                    column="teacherId=teacher_id"/>
    </resultMap>

    <sql id="Base_Column_List">
    teacher_id, account, password, nation, name, birth_time, gender, id_card, political_status, teacher_type,
    region, tell_phone, position, health, work_address, good_field, email, description, 
    del_flag, order_num, create_time, create_userid, create_username, update_time, update_userid, 
    update_username
   </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT tea.* FROM tab_pb_edu_teachers tea
        WHERE tea.del_flag = '0'
        and teacher_id = #{teacherId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_teachers
    where teacher_id = #{teacherId,jdbcType=BIGINT}
  </delete>
    <insert id="insertAll" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachers">
    insert into tab_pb_edu_teachers (teacher_id, account, password, 
      nation, name, birth_time, 
      gender, id_card, political_status, 
      region, tell_phone, position, 
      health, work_address, good_field, 
      email, description, del_flag, 
      order_num, create_time, create_userid, 
      create_username, update_time, update_userid, 
      update_username)
    values (#{teacherId,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nation,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{birthTime,jdbcType=TIMESTAMP}, 
      #{gender,jdbcType=BIGINT}, #{idCard,jdbcType=VARCHAR}, #{politicalStatus,jdbcType=VARCHAR}, 
      #{region,jdbcType=BIGINT}, #{tellPhone,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{health,jdbcType=VARCHAR}, #{workAddress,jdbcType=VARCHAR}, #{goodField,jdbcType=BIGINT}, 
      #{email,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, 
      #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, 
      #{updateUsername,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachers" useGeneratedKeys="true" keyProperty="teacherId">
        insert into tab_pb_edu_teachers
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nation != null">
                nation,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="birthTime != null">
                birth_time,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="teacherType != null">
                teacher_type,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="politicalStatus != null">
                political_status,
            </if>
            <if test="region != null">
                region,
            </if>
            <if test="tellPhone != null">
                tell_phone,
            </if>
            <if test="position != null">
                position,
            </if>
            <if test="health != null">
                health,
            </if>
            <if test="workAddress != null">
                work_address,
            </if>
            <if test="goodField != null">
                good_field,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">
                #{teacherId,jdbcType=BIGINT},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nation != null">
                #{nation,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="birthTime != null">
                #{birthTime,jdbcType=TIMESTAMP},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=BIGINT},
            </if>
            <if test="teacherType != null">
                #{teacherType,jdbcType=BIGINT},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="politicalStatus != null">
                #{politicalStatus,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                #{region,jdbcType=BIGINT},
            </if>
            <if test="tellPhone != null">
                #{tellPhone,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
            <if test="health != null">
                #{health,jdbcType=VARCHAR},
            </if>
            <if test="workAddress != null">
                #{workAddress,jdbcType=VARCHAR},
            </if>
            <if test="goodField != null">
                #{goodField,jdbcType=BIGINT},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachers">
        update tab_pb_edu_teachers
        <set>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nation != null">
                nation = #{nation,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="birthTime != null">
                birth_time = #{birthTime,jdbcType=TIMESTAMP},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=BIGINT},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="teacherType != null">
                teacher_type = #{teacherType},
            </if>
            <if test="politicalStatus != null">
                political_status = #{politicalStatus,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                region = #{region,jdbcType=BIGINT},
            </if>
            <if test="tellPhone != null">
                tell_phone = #{tellPhone,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                position = #{position,jdbcType=VARCHAR},
            </if>
            <if test="health != null">
                health = #{health,jdbcType=VARCHAR},
            </if>
            <if test="workAddress != null">
                work_address = #{workAddress,jdbcType=VARCHAR},
            </if>
            <if test="goodField != null">
                good_field = #{goodField,jdbcType=BIGINT},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
        </set>
        where teacher_id = #{teacherId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachers">
    update tab_pb_edu_teachers
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      birth_time = #{birthTime,jdbcType=TIMESTAMP},
      gender = #{gender,jdbcType=BIGINT},
      id_card = #{idCard,jdbcType=VARCHAR},
      political_status = #{politicalStatus,jdbcType=VARCHAR},
      region = #{region,jdbcType=BIGINT},
      tell_phone = #{tellPhone,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      health = #{health,jdbcType=VARCHAR},
      work_address = #{workAddress,jdbcType=VARCHAR},
      good_field = #{goodField,jdbcType=BIGINT},
      email = #{email,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR}
    where teacher_id = #{teacherId,jdbcType=BIGINT}
  </update>
    <update id="tombstone" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachers">
        update tab_pb_edu_teachers
        <set>
            del_flag = 1,
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
        </set>
        where teacher_id = #{teacherId}
    </update>

    <select id="checkAccount" parameterType="java.lang.String">
        SELECT COUNT(*) FROM tab_pb_edu_teachers WHERE account = #{account}
    </select>
    
    <select id="selectListTeachers" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachers" resultMap="BaseResultMap">
        SELECT tea.*,att.attachment_instance FROM tab_pb_edu_teachers tea
        LEFT JOIN tab_pb_attachment att ON tea.teacher_id = att.host_id AND att.attachment_type = ${@com.yizheng.commons.util.AttachmentType@TEACHERS_MANAGER}
        and att.del_flag = '0'
        WHERE tea.del_flag = '0'
        <if test="region != null">
            and region = #{region}
        </if>
        <if test="teacherType != null">
            and teacher_type = #{teacherType}
        </if>
        <if test="name != null and name != '' ">
            and name LIKE CONCAT('%',#{name},'%')
        </if>

    </select>

    <!--智能选学-查询师资及课程-->
    <select id="selectTeacherWithCoursesForZZLX" parameterType="java.util.Map" resultMap="ResultMapForZLXX">
        SELECT
          t.teacher_id,
          t.name
        FROM tab_pb_edu_teachers t
        WHERE
          t.del_flag = 0
          AND t.teacher_type in (${teacherType})
    </select>
</mapper>