<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbGrantCommitteMemberMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbGrantCommitteMember">
        <id column="grant_committee_member_id" jdbcType="BIGINT" property="grantCommitteeMemberId"/>
        <result column="grant_committee_id" jdbcType="BIGINT" property="grantCommitteeId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>

        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="gender" jdbcType="BIGINT" property="gender"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="unit_id" jdbcType="BIGINT" property="unitId"/>
        <result column="unit_name" jdbcType="VARCHAR" property="unitName"/>
        <result column="current_org_id" jdbcType="BIGINT" property="currentOrgId"/>
        <result column="current_org_name" jdbcType="VARCHAR" property="currentOrgName"/>

        <result column="lead_team_id" jdbcType="BIGINT" property="leadTeamId"/>
        <result column="party_member_id" jdbcType="BIGINT" property="partyMemberId"/>
        <result column="person_name" jdbcType="VARCHAR" property="personName"/>
        <result column="positive_id" jdbcType="BIGINT" property="positiveId"/>
        <result column="positive_name" jdbcType="VARCHAR" property="positiveName"/>
        <result column="tenure_mode" jdbcType="BIGINT" property="tenureMode"/>
        <result column="tenure_begin" jdbcType="TIMESTAMP" property="tenureBegin"/>
        <result column="tenure_duration" jdbcType="BIGINT" property="tenureDuration"/>
        <result column="tenure_leave" jdbcType="TIMESTAMP" property="tenureLeave"/>
        <result column="as_committee_member" jdbcType="TINYINT" property="asCommitteeMember"/>
        <result column="as_committee_director" jdbcType="TINYINT" property="asCommitteeDirector"/>
        <result column="lead_member_order" jdbcType="BIGINT" property="leadMemberOrder"/>
        <result column="ebl_flag" jdbcType="VARCHAR" property="eblFlag"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>
    <resultMap id="StreetCommitteeMemberVOResultMap"
               type="com.egovchina.partybuilding.partybuild.vo.StreetCommitteeMemberVO">
        <id column="grant_committee_member_id" jdbcType="BIGINT" property="grantCommitteeMemberId"/>
        <result column="grant_committee_id" jdbcType="BIGINT" property="grantCommitteeId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>

        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="gender" jdbcType="BIGINT" property="gender"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="unit_id" jdbcType="BIGINT" property="unitId"/>
        <result column="unit_name" jdbcType="VARCHAR" property="unitName"/>
        <result column="current_org_id" jdbcType="BIGINT" property="currentOrgId"/>
        <result column="current_org_name" jdbcType="VARCHAR" property="currentOrgName"/>

        <result column="lead_team_id" jdbcType="BIGINT" property="leadTeamId"/>
        <result column="party_member_id" jdbcType="BIGINT" property="partyMemberId"/>
        <result column="person_name" jdbcType="VARCHAR" property="personName"/>
        <result column="positive_id" jdbcType="BIGINT" property="positiveId"/>
        <result column="positive_name" jdbcType="VARCHAR" property="positiveName"/>
        <result column="tenure_mode" jdbcType="BIGINT" property="tenureMode"/>
        <result column="tenure_begin" jdbcType="TIMESTAMP" property="tenureBegin"/>
        <result column="tenure_duration" jdbcType="BIGINT" property="tenureDuration"/>
        <result column="tenure_leave" jdbcType="TIMESTAMP" property="tenureLeave"/>
        <result column="as_committee_member" jdbcType="TINYINT" property="asCommitteeMember"/>
        <result column="as_committee_director" jdbcType="TINYINT" property="asCommitteeDirector"/>
        <result column="lead_member_order" jdbcType="BIGINT" property="leadMemberOrder"/>
    </resultMap>

    <sql id="Base_Column_List">
    grant_committee_member_id, grant_committee_id, user_id, org_id, lead_team_id, party_member_id, 
    person_name, positive_id, positive_name, tenure_mode, tenure_begin, tenure_duration, 
    tenure_leave, as_committee_member, as_committee_director, lead_member_order, ebl_flag, 
    del_flag, order_num, description, create_time, create_userid, create_username, update_time, 
    update_userid, update_username, version
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
        B.*,
        U.gender,
        U.phone,
        d.unit_id,
        d.unit_name,
        d.name AS org_name,
        A.org_id AS current_org_id,
        ( SELECT name FROM sys_dept WHERE dept_id = A.org_id ) AS current_org_name
    FROM
        tab_pb_grant_committee A
        INNER JOIN tab_pb_grant_committe_member B ON A.grant_committee_id = B.grant_committee_id
        INNER JOIN sys_user U ON B.user_id = U.user_id
        INNER JOIN sys_dept d ON B.org_id = d.dept_id
    WHERE
        B.del_flag = '0'
            AND B.grant_committee_member_id = #{grantCommitteeMemberId,jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbGrantCommitteMember">
        insert into tab_pb_grant_committe_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="grantCommitteeId != null">
                grant_committee_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="leadTeamId != null">
                lead_team_id,
            </if>
            <if test="partyMemberId != null">
                party_member_id,
            </if>
            <if test="personName != null">
                person_name,
            </if>
            <if test="positiveId != null">
                positive_id,
            </if>
            <if test="positiveName != null">
                positive_name,
            </if>
            <if test="tenureMode != null">
                tenure_mode,
            </if>
            <if test="tenureBegin != null">
                tenure_begin,
            </if>
            <if test="tenureDuration != null">
                tenure_duration,
            </if>
            <if test="tenureLeave != null">
                tenure_leave,
            </if>
            <if test="asCommitteeMember != null">
                as_committee_member,
            </if>
            <if test="asCommitteeDirector != null">
                as_committee_director,
            </if>
            <if test="leadMemberOrder != null">
                lead_member_order,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="grantCommitteeId != null">
                #{grantCommitteeId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="leadTeamId != null">
                #{leadTeamId,jdbcType=BIGINT},
            </if>
            <if test="partyMemberId != null">
                #{partyMemberId,jdbcType=BIGINT},
            </if>
            <if test="personName != null">
                #{personName,jdbcType=VARCHAR},
            </if>
            <if test="positiveId != null">
                #{positiveId,jdbcType=BIGINT},
            </if>
            <if test="positiveName != null">
                #{positiveName,jdbcType=VARCHAR},
            </if>
            <if test="tenureMode != null">
                #{tenureMode,jdbcType=BIGINT},
            </if>
            <if test="tenureBegin != null">
                #{tenureBegin,jdbcType=TIMESTAMP},
            </if>
            <if test="tenureDuration != null">
                #{tenureDuration,jdbcType=BIGINT},
            </if>
            <if test="tenureLeave != null">
                #{tenureLeave,jdbcType=TIMESTAMP},
            </if>
            <if test="asCommitteeMember != null">
                #{asCommitteeMember,jdbcType=TINYINT},
            </if>
            <if test="asCommitteeDirector != null">
                #{asCommitteeDirector,jdbcType=TINYINT},
            </if>
            <if test="leadMemberOrder != null">
                #{leadMemberOrder,jdbcType=BIGINT},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbGrantCommitteMember">
        update tab_pb_grant_committe_member
        <set>
            <if test="grantCommitteeId != null">
                grant_committee_id = #{grantCommitteeId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=BIGINT},
            </if>
            <if test="leadTeamId != null">
                lead_team_id = #{leadTeamId,jdbcType=BIGINT},
            </if>
            <if test="partyMemberId != null">
                party_member_id = #{partyMemberId,jdbcType=BIGINT},
            </if>
            <if test="personName != null">
                person_name = #{personName,jdbcType=VARCHAR},
            </if>
            <if test="positiveId != null">
                positive_id = #{positiveId,jdbcType=BIGINT},
            </if>
            <if test="positiveName != null">
                positive_name = #{positiveName,jdbcType=VARCHAR},
            </if>
            <if test="tenureMode != null">
                tenure_mode = #{tenureMode,jdbcType=BIGINT},
            </if>
            <if test="tenureBegin != null">
                tenure_begin = #{tenureBegin,jdbcType=TIMESTAMP},
            </if>
            <if test="tenureDuration != null">
                tenure_duration = #{tenureDuration,jdbcType=BIGINT},
            </if>
            <if test="tenureLeave != null">
                tenure_leave = #{tenureLeave,jdbcType=TIMESTAMP},
            </if>
            <if test="asCommitteeMember != null">
                as_committee_member = #{asCommitteeMember,jdbcType=TINYINT},
            </if>
            <if test="asCommitteeDirector != null">
                as_committee_director = #{asCommitteeDirector,jdbcType=TINYINT},
            </if>
            <if test="leadMemberOrder != null">
                lead_member_order = #{leadMemberOrder,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                ebl_flag = #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
        </set>
        where grant_committee_member_id = #{grantCommitteeMemberId,jdbcType=BIGINT}
    </update>

    <select id="selectByCommitteeIdAndUserId"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbGrantCommitteMember"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_grant_committe_member
        where del_flag='0' and grant_committee_id= #{grantCommitteeId,jdbcType=BIGINT} and
        user_id=#{userId,jdbcType=BIGINT}
    </select>

    <select id="selectStreetCommitteeMemberVOList"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbGrantCommitteMember"
            resultMap="StreetCommitteeMemberVOResultMap">
        SELECT
        B.grant_committee_member_id,B.grant_committee_id,B.user_id,B.org_id,B.lead_team_id,B.party_member_id,
        B.person_name,B.positive_id,B.positive_name,B.tenure_mode,B.tenure_begin,B.tenure_duration,
        B.tenure_leave,B.as_committee_member,B.as_committee_director,B.lead_member_order,
        U.gender,
        U.phone,
        d.unit_id,
        d.unit_name,
        d.NAME AS org_name,
        A.org_id AS current_org_id,
        ( SELECT NAME FROM sys_dept WHERE dept_id = A.org_id ) AS current_org_name
        FROM
        tab_pb_grant_committee A
        INNER JOIN tab_pb_grant_committe_member B ON A.grant_committee_id = B.grant_committee_id
        INNER JOIN sys_user U ON B.user_id = U.user_id
        INNER JOIN sys_dept d ON B.org_id = d.dept_id
        WHERE
        B.del_flag = '0'
        <if test=" grantCommitteeId!= null">
            and A.grant_committee_id = #{grantCommitteeId,jdbcType=BIGINT}
        </if>

        <if test="personName != null and personName != ''">
            and B.person_name like concat('%', #{personName}, '%')
        </if>

        <if test="positiveName != null and positiveName != ''">
            and B.positive_name like concat('%',#{positiveName},'%')
        </if>
    </select>

    <update id="updateByGrantCommitteeSelective"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbGrantCommitteMember">
        update tab_pb_grant_committe_member
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=BIGINT},
            </if>
            <if test="leadTeamId != null">
                lead_team_id = #{leadTeamId,jdbcType=BIGINT},
            </if>
            <if test="partyMemberId != null">
                party_member_id = #{partyMemberId,jdbcType=BIGINT},
            </if>
            <if test="personName != null">
                person_name = #{personName,jdbcType=VARCHAR},
            </if>
            <if test="positiveId != null">
                positive_id = #{positiveId,jdbcType=BIGINT},
            </if>
            <if test="positiveName != null">
                positive_name = #{positiveName,jdbcType=VARCHAR},
            </if>
            <if test="tenureMode != null">
                tenure_mode = #{tenureMode,jdbcType=BIGINT},
            </if>
            <if test="tenureBegin != null">
                tenure_begin = #{tenureBegin,jdbcType=TIMESTAMP},
            </if>
            <if test="tenureDuration != null">
                tenure_duration = #{tenureDuration,jdbcType=BIGINT},
            </if>
            <if test="tenureLeave != null">
                tenure_leave = #{tenureLeave,jdbcType=TIMESTAMP},
            </if>
            <if test="asCommitteeMember != null">
                as_committee_member = #{asCommitteeMember,jdbcType=TINYINT},
            </if>
            <if test="asCommitteeDirector != null">
                as_committee_director = #{asCommitteeDirector,jdbcType=TINYINT},
            </if>
            <if test="leadMemberOrder != null">
                lead_member_order = #{leadMemberOrder,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                ebl_flag = #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
        </set>
        where grant_committee_id = #{grantCommitteeId,jdbcType=BIGINT}
    </update>

    <select id="selectStreetCommitteeMemberVOById" parameterType="java.lang.Long"
            resultMap="StreetCommitteeMemberVOResultMap">
        SELECT
            B.grant_committee_member_id,B.grant_committee_id,B.user_id,B.org_id,B.lead_team_id,B.party_member_id,
            B.person_name,B.positive_id,B.positive_name,B.tenure_mode,B.tenure_begin,B.tenure_duration,
            B.tenure_leave,B.as_committee_member,B.as_committee_director,B.lead_member_order,
            U.gender,
            U.phone,
            d.unit_id,
            d.unit_name,
            d.name AS org_name,
            A.org_id AS current_org_id,
            ( SELECT name FROM sys_dept WHERE dept_id = A.org_id ) AS current_org_name
        FROM
            tab_pb_grant_committee A
            INNER JOIN tab_pb_grant_committe_member B ON A.grant_committee_id = B.grant_committee_id
            INNER JOIN sys_user U ON B.user_id = U.user_id
            INNER JOIN sys_dept d ON B.org_id = d.dept_id
        WHERE
            B.del_flag = '0'
            AND B.grant_committee_member_id = #{grantCommitteeMemberId,jdbcType=BIGINT}
    </select>

    <select id="verifyStreetCommitteeMembers" resultType="java.lang.Integer">
        SELECT
            count(0)
        FROM
            tab_pb_grant_committe_member
        WHERE
            del_flag = 0
            AND grant_committee_id = #{grantCommitteeId,jdbcType=BIGINT}
            AND user_id = #{userId,jdbcType=BIGINT}
    </select>
</mapper>