<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizheng.partybuilding.repository.TabPbEduSubjectfortestMapper">
    <resultMap id="BaseResultMap" type="com.yizheng.partybuilding.entity.TabPbEduSubjectfortest">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="test_id" jdbcType="INTEGER" property="testId"/>
        <result column="subject_id" jdbcType="INTEGER" property="subjectId"/>
        <result column="score" jdbcType="REAL" property="score"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, test_id, subject_id, score
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_subjectfortest
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 根据试卷id获取题目答案与分数信息 -->
    <select id="getSubjectAnswerByTestId" resultMap="SubjectAnswerMap">
        select estest.subject_id,esub.answer,estest.score from tab_pb_edu_subjectfortest estest
        inner join tab_pb_edu_subject esub on estest.subject_id=esub.id
        where estest.test_id=#{testId,jdbcType=INTEGER}
        order by estest.id asc
    </select>
    <resultMap id="SubjectAnswerMap" type="com.yizheng.partybuilding.dto.TabPbEduSubjectAnswerDto">
        <result column="subject_id" jdbcType="INTEGER" property="subjectId"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <result column="score" jdbcType="REAL" property="score"/>
    </resultMap>

    <!-- 根据试卷id获取题目信息 -->
    <select id="getSubjectForTest" resultMap="SubjectForTestMap">
        select estest.test_id,estest.score,esub.id, esub.category, esub.title, esub.type, esub.difficulty, esub.selects, esub.answer, esub.answer_analysis
        from tab_pb_edu_subjectfortest estest
        inner join tab_pb_edu_subject esub on estest.subject_id=esub.id
        where estest.test_id=#{testId,jdbcType=INTEGER}
        order by estest.id asc
    </select>
    <resultMap id="SubjectForTestMap" type="com.yizheng.partybuilding.dto.TabPbSubjectForTestDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="category" jdbcType="INTEGER" property="category"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="difficulty" jdbcType="INTEGER" property="difficulty"/>
        <result column="selects" jdbcType="VARCHAR" property="selects"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <result column="answer_analysis" jdbcType="VARCHAR" property="answerAnalysis"/>
        <result column="test_id" jdbcType="INTEGER" property="testId"/>
        <result column="score" jdbcType="REAL" property="score"/>
    </resultMap>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_pb_edu_subjectfortest
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yizheng.partybuilding.entity.TabPbEduSubjectfortest">
    insert into tab_pb_edu_subjectfortest (id, test_id, subject_id, 
      score)
    values (#{id,jdbcType=INTEGER}, #{testId,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, 
      #{score,jdbcType=REAL})
  </insert>
    <insert id="insertSelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduSubjectfortest">
        insert into tab_pb_edu_subjectfortest
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="testId != null">
                test_id,
            </if>
            <if test="subjectId != null">
                subject_id,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="testId != null">
                #{testId,jdbcType=INTEGER},
            </if>
            <if test="subjectId != null">
                #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                #{score,jdbcType=REAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduSubjectfortest">
        update tab_pb_edu_subjectfortest
        <set>
            <if test="testId != null">
                test_id = #{testId,jdbcType=INTEGER},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=REAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yizheng.partybuilding.entity.TabPbEduSubjectfortest">
    update tab_pb_edu_subjectfortest
    set test_id = #{testId,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      score = #{score,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>