<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizheng.partybuilding.repository.TabPbEduCourseMapper">
    <resultMap id="BaseResultMap" type="com.yizheng.partybuilding.entity.TabPbEduCourse">
        <id column="course_id" jdbcType="BIGINT" property="courseId"/>
        <result column="type" jdbcType="BIGINT" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="is_video" jdbcType="TINYINT" property="isVideo"/>
        <result column="quantity" jdbcType="BIGINT" property="quantity"/>
        <result column="course_time" jdbcType="TIMESTAMP" property="courseTime"/>
        <result column="duration" jdbcType="BIGINT" property="duration"/>
        <result column="teacher_id" jdbcType="BIGINT" property="teacherId"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="course_forms" jdbcType="BIGINT" property="courseForms"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="bus_type" jdbcType="BIGINT" property="busType"/>
    </resultMap>
    <!--selectAllTabPbEduCourseMap-->
    <resultMap id="selectAllTabPbEduCourseMap" extends="BaseResultMap" type="com.yizheng.partybuilding.dto.TabPbEduCourseDto">
        <result column="like_count" jdbcType="BIGINT" property="likeCount"/>
        <result column="watch_count" jdbcType="BIGINT" property="watchCount"/>
    </resultMap>


    <sql id="Base_Column_List">
    course_id, type, name, cover, is_video, quantity, course_time, duration, teacher_id, 
    course_forms, del_flag, order_num, address, create_time, create_userid, create_username, 
    update_time, update_userid, update_username
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_course
        where course_id = #{courseId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_course
    where course_id = #{courseId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yizheng.partybuilding.entity.TabPbEduCourse">
    insert into tab_pb_edu_course (course_id, type, name, 
      cover, is_video, quantity, 
      course_time, duration, teacher_id, 
      course_forms, del_flag, order_num, 
      address, create_time, create_userid, 
      create_username, update_time, update_userid, 
      update_username)
    values (#{courseId,jdbcType=BIGINT}, #{type,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{cover,jdbcType=VARCHAR}, #{isVideo,jdbcType=TINYINT}, #{quantity,jdbcType=BIGINT}, 
      #{courseTime,jdbcType=TIMESTAMP}, #{duration,jdbcType=BIGINT}, #{teacherId,jdbcType=BIGINT}, 
      #{courseForms,jdbcType=BIGINT}, #{delFlag,jdbcType=VARCHAR}, #{orderNum,jdbcType=BIGINT}, 
      #{address,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, 
      #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, 
      #{updateUsername,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="courseId"
            parameterType="com.yizheng.partybuilding.entity.TabPbEduCourse">
        insert into tab_pb_edu_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">
                course_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="isVideo != null">
                is_video,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="courseTime != null">
                course_time,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="courseForms != null">
                course_forms,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="busType != null">
                bus_type,
            </if>
            <if test="videoAddress != null">
                video_address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">
                #{courseId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="isVideo != null">
                #{isVideo,jdbcType=TINYINT},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=BIGINT},
            </if>
            <if test="courseTime != null">
                #{courseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=BIGINT},
            </if>
            <if test="teacherId != null">
                #{teacherId,jdbcType=BIGINT},
            </if>
            <if test="courseForms != null">
                #{courseForms,jdbcType=BIGINT},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="busType != null">
                #{busType,jdbcType=BIGINT},
            </if>
            <if test="videoAddress != null">
                #{videoAddress,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduCourse">
        update tab_pb_edu_course
        <set>
            <if test="type != null">
                type = #{type,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="isVideo != null">
                is_video = #{isVideo,jdbcType=TINYINT},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=BIGINT},
            </if>
            <if test="courseTime != null">
                course_time = #{courseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=BIGINT},
            </if>
            <if test="teacherId != null">
                teacher_id = #{teacherId,jdbcType=BIGINT},
            </if>
            <if test="courseForms != null">
                course_forms = #{courseForms,jdbcType=BIGINT},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="busType != null">
                bus_type =  #{busType} ,
            </if>
        </set>
        where course_id = #{courseId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yizheng.partybuilding.entity.TabPbEduCourse">
    update tab_pb_edu_course
    set type = #{type,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      is_video = #{isVideo,jdbcType=TINYINT},
      quantity = #{quantity,jdbcType=BIGINT},
      course_time = #{courseTime,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=BIGINT},
      teacher_id = #{teacherId,jdbcType=BIGINT},
      course_forms = #{courseForms,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=BIGINT}
  </update>


    <!--教育基地批量新增课程-->
    <insert id="batchInsertFromEduPositionBusiness" useGeneratedKeys="true" keyProperty="courseId"
            parameterType="java.util.List">
        insert into tab_pb_edu_course(`name`, cover, is_video, quantity, duration, course_time, teacher_id, course_forms,
          address, create_time, create_userid, create_username, update_time, update_userid, update_username)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.cover}, #{item.isVideo}, #{item.quantity}, #{item.duration}, #{item.courseTime}, #{item.teacherId}, #{item.courseForms},
              #{item.address}, #{item.createTime}, #{item.createUserid}, #{item.createUsername}, #{item.updateTime}, #{item.updateUserid}, #{item.updateUsername})
        </foreach>
    </insert>

    <!--根据数据ID批量逻辑删除-->
    <update id="batchLogicDeleteById" parameterType="java.util.List">
        update tab_pb_edu_course ec
        left join tab_pb_edu_position_course epc using(course_id)
        set ec.del_flag = 1, epc.del_flag = 1
        where course_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </update>

    <!--根据基地id批量逻辑删除-->
    <update id="batchLogicDeleteByPid" parameterType="java.lang.Long">
        update tab_pb_edu_position_course epc
        left join tab_pb_edu_course ec using(course_id)
        set ec.del_flag = 1, epc.del_flag = 1
        where epc.p_id = #{pId}
    </update>

    <!--根据课程名字查询课程-->
    <select id="selectAllTabPbEduCourse" parameterType="com.yizheng.partybuilding.dto.TabPbEduCourseDto" resultMap="selectAllTabPbEduCourseMap">
               select * from tab_pb_edu_course
               <where>
                   <if test="name != null">
                      and name like CONCAT('%',#{name},'%')
                   </if>
                   <if test="courseId != null">
                       and course_id = #{courseId}
                   </if>
                   <if test="duration != null">
                       and duration = #{duration}
                   </if>
                   <if test="quantity != null">
                       and quantity = #{quantity}
                   </if>
                   <if test="teacherId != null">
                       and teacher_id = #{teacherId}
                   </if>
                   <if test="busType != null">
                       and bus_type = #{busType}
                   </if>

                   and del_flag='0'
               </where>
    </select>

    <!--查询老师名字根据老师id-->
    <select id="teacherNameByTeacherId" parameterType="Long" resultType="String">
      select name from tab_pb_edu_teachers where teacher_id =#{id}
    </select>

    <!--查询老师名字根据老师id-->
    <select id="selectTeacherIdByteacherName" parameterType="String" resultType="Long">
        select teacher_id from tab_pb_edu_teachers where name= #{teacherName}
    </select>

    <!--评论次数根据课程id获取-->
    <select id="selectPingLunNum" parameterType="Long" resultType="int">
       	 select COUNT(*) from tab_pb_edu_msg_board where msg_type=6 and  bus_id=#{courseId}
    </select>

    <!--添加观看次数根据课程id-->
     <update id="addWatchCount" parameterType="Long">
        update  tab_pb_edu_course set watch_count=watch_count+1 where course_id=#{courseId}
     </update>



</mapper>