<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbLinkLeaderMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbLinkLeader">
        <id column="link_ledaer_id" jdbcType="BIGINT" property="linkLedaerId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="link_start_date" jdbcType="TIMESTAMP" property="linkStartDate"/>
        <result column="link_finished_date" jdbcType="TIMESTAMP" property="linkFinishedDate"/>
        <result column="ebl_flag" jdbcType="VARCHAR" property="eblFlag"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.egovchina.partybuilding.partybuild.entity.TabPbLinkLeader">
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <resultMap id="LinkLeaderVOResultMap" type="com.egovchina.partybuilding.partybuild.vo.LinkLeaderVO">
        <id column="link_ledaer_id" jdbcType="BIGINT" property="linkLedaerId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="link_start_date" jdbcType="TIMESTAMP" property="linkStartDate"/>
        <result column="link_finished_date" jdbcType="TIMESTAMP" property="linkFinishedDate"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
        <result column="username" jdbcType="VARCHAR" property="realName"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <sql id="Base_Column_List">
    link_ledaer_id, dept_id, user_id, link_start_date, link_finished_date, ebl_flag, 
    del_flag, order_num, description, create_time, create_userid, create_username, update_time, 
    update_userid, update_username, version
  </sql>
    <sql id="Blob_Column_List">
    comment
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tab_pb_link_leader
        where link_ledaer_id = #{linkLedaerId,jdbcType=BIGINT} and del_flag=0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_link_leader
    where link_ledaer_id = #{linkLedaerId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbLinkLeader">
    insert into tab_pb_link_leader (link_ledaer_id, dept_id, user_id, 
      link_start_date, link_finished_date, ebl_flag, 
      del_flag, order_num, description, 
      create_time, create_userid, create_username, 
      update_time, update_userid, update_username, 
      version, comment)
    values (#{linkLedaerId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{linkStartDate,jdbcType=TIMESTAMP}, #{linkFinishedDate,jdbcType=TIMESTAMP}, #{eblFlag,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{orderNum,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR}, 
      #{version,jdbcType=BIGINT}, #{comment,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbLinkLeader">
        insert into tab_pb_link_leader
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="linkLedaerId != null">
                link_ledaer_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="linkStartDate != null">
                link_start_date,
            </if>
            <if test="linkFinishedDate != null">
                link_finished_date,
            </if>
            <if test="eblFlag != null">
                ebl_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="comment != null">
                comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="linkLedaerId != null">
                #{linkLedaerId,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="linkStartDate != null">
                #{linkStartDate,jdbcType=TIMESTAMP},
            </if>
            <if test="linkFinishedDate != null">
                #{linkFinishedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="eblFlag != null">
                #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbLinkLeader">
        update tab_pb_link_leader
        <set>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="linkStartDate != null">
                link_start_date = #{linkStartDate,jdbcType=TIMESTAMP},
            </if>
            <if test="linkFinishedDate != null">
                link_finished_date = #{linkFinishedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="eblFlag != null">
                ebl_flag = #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where link_ledaer_id = #{linkLedaerId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbLinkLeader">
    update tab_pb_link_leader
    set dept_id = #{deptId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      link_start_date = #{linkStartDate,jdbcType=TIMESTAMP},
      link_finished_date = #{linkFinishedDate,jdbcType=TIMESTAMP},
      ebl_flag = #{eblFlag,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT},
      comment = #{comment,jdbcType=LONGVARCHAR}
    where link_ledaer_id = #{linkLedaerId,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbLinkLeader">
    update tab_pb_link_leader
    set dept_id = #{deptId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      link_start_date = #{linkStartDate,jdbcType=TIMESTAMP},
      link_finished_date = #{linkFinishedDate,jdbcType=TIMESTAMP},
      ebl_flag = #{eblFlag,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT}
    where link_ledaer_id = #{linkLedaerId,jdbcType=BIGINT}
  </update>

    <select id="selectByUserIdAndDeptId" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbLinkLeader"
            resultMap="BaseResultMap">
    select * from  tab_pb_link_leader
    where dept_id = #{deptId,jdbcType=BIGINT}
    and user_id = #{userId,jdbcType=BIGINT}
    and del_flag = 0;
  </select>

    <select id="selectLinkLeaderVoByDeptId" parameterType="java.lang.Long" resultMap="LinkLeaderVOResultMap">
        SELECT
            l.link_ledaer_id,l.dept_id,l.user_id,
            l.link_start_date,l.link_finished_date,
            l.description,l.comment,
            users.realname AS username,
            d.NAME,
            ab.activities_id,
            ab.activities_type,
            ab.subject,
            ab.start_time,
            ab.org_id,
            ab.org_name
        FROM
            sys_user users
            LEFT JOIN tab_pb_link_leader l ON users.user_id = l.user_id
            AND l.del_flag = 0
            LEFT JOIN sys_dept d ON d.dept_id = users.dept_id
            AND d.del_flag = 0
            LEFT JOIN ((
              SELECT
                ac.activities_id,
                ac.org_id,
                ac.activities_type,
                ac.subject,
                ac.start_time,
                d1.name as org_name,
                pa.user_id
                FROM
                tab_pb_activities AS ac
                left JOIN tab_pb_participant AS pa ON ac.activities_id = pa.activities_id
                AND pa.del_flag = 0 AND pa.if_link_leader = 1
                left join sys_dept as d1 on ac.org_id= d1.dept_id AND d1.del_flag = 0
              WHERE
                ac.del_flag = 0
            ) as ab ) on ab.user_id = l.user_id
        WHERE
          l.dept_id = #{deptId}
          AND users.del_flag = 0
    </select>
</mapper>