<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbFamilyMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbFamily">
        <id column="relation_id" jdbcType="BIGINT" property="relationId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="relation" jdbcType="BIGINT" property="relation"/>
        <result column="whether_abroad" property="whetherAbroad"/>
        <result column="abroad" property="abroad"/>
        <result column="relation_user_id" jdbcType="BIGINT" property="relationUserId"/>
        <result column="ebl_flag" jdbcType="VARCHAR" property="eblFlag"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="username" property="username"/>
        <result column="phone" property="phone"/>
        <result column="gender" property="gender"/>
        <result column="id_card_no" property="idCardNo"/>
        <result column="nation" property="nation"/>
        <result column="policy_face" property="policyFace"/>
        <result column="positive" property="positive"/>
        <result column="birthday" property="birthday"/>
    </resultMap>
    <resultMap id="BaseResultVoMap" extends="BaseResultMap" type="com.egovchina.partybuilding.partybuild.vo.FamilyMemberVO" />
    <sql id="Base_Column_List">
        relation,
        (CASE whether_abroad WHEN 1 THEN '否' ELSE '是' END) AS `whether_abroad`,
        abroad,
        order_num,
        relation_id,
        user_id,
        username,
        gender,
        id_card_no,
        nation,
        policy_face,
        phone,
        positive,
        birthday
    </sql>
    <!--查询listVo数据-->
    <select id="getFamilyMemberVoByUserId" resultMap="BaseResultVoMap" parameterType="java.lang.Long" flushCache="true">
        SELECT
        <include refid="Base_Column_List" />
        FROM
	    tab_pb_family
        WHERE
	    user_id = #{userId}
	    AND
	    del_flag = 0
    </select>
    <!--查询根据主键查询单条数据-->
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from
        tab_pb_family
        where
        relation_id = #{relationId}
        and
        del_flag = 0;
    </select>
    <insert id="insertSelective"  parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbFamily">
        insert into tab_pb_family
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="relation != null">
                relation,
            </if>
            <if test="whetherAbroad != null ">
                whether_abroad,
            </if>
            <if test="abroad != null ">
                abroad,
            </if>
            <if test="relationUserId != null">
                relation_user_id,
            </if>
            <if test="eblFlag != null">
                ebl_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="idCardNo != null">
                id_card_no,
            </if>
            <if test="nation != null">
                nation,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="positive != null">
                positive,
            </if>
            <if test="policyFace != null">
                policy_face,
            </if>
            <if test="phone != null">
                phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="relation != null">
                #{relation,jdbcType=BIGINT},
            </if>
            <if test="whetherAbroad != null">
                #{whetherAbroad},
            </if>
            <if test="abroad != null">
                #{abroad},
            </if>
            <if test="relationUserId != null">
                #{relationUserId,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="idCardNo != null">
                #{idCardNo},
            </if>
            <if test="nation != null">
                #{nation},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="positive != null">
                #{positive},
            </if>
            <if test="policyFace != null">
                #{policyFace},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbFamily">
        update tab_pb_family
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="relation != null">
                relation = #{relation,jdbcType=BIGINT},
            </if>
            <if test="whetherAbroad != null">
                whether_abroad = #{whetherAbroad},
            </if>
            <if test="abroad != null">
                abroad = #{abroad},
            </if>
            <if test="relationUserId != null">
                relation_user_id = #{relationUserId,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                ebl_flag = #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="idCardNo != null">
                id_card_no = #{idCardNo},
            </if>
            <if test="nation != null">
                nation = #{nation},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="positive != null">
                positive = #{positive},
            </if>
            <if test="policyFace != null">
                policy_face = #{policyFace},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
        </set>
        where relation_id = #{relationId,jdbcType=BIGINT}
    </update>
    <update id="deleteByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbFamily">
        update tab_pb_family
        <set>
            ebl_flag = 0,
            del_flag = 1,
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
        </set>
        where relation_id = #{relationId,jdbcType=BIGINT}
    </update>
    <!--批量插入家庭-->
    <insert id="batchInsertFamilyList" parameterType="List">
        insert into tab_pb_family
       (user_id,relation,whether_abroad,abroad, relation_user_id,
        ebl_flag,order_num,create_time, create_userid,del_flag,
        username,gender,id_card_no,nation,birthday,positive,policy_face
        ,phone
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId},#{item.relation},#{item.whetherAbroad},#{item.abroad},#{item.relationUserId},#{item.eblFlag},
            #{item.orderNum},#{item.createTime},#{item.createUserid},'0',
            #{item.username},#{item.gender},#{item.idCardNo},#{item.nation},#{item.birthday},
            #{item.positive},#{item.policyFace},#{item.phone}
            )
        </foreach>
    </insert>

</mapper>