<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbParticipantMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbParticipant">
        <id column="participant_id" jdbcType="BIGINT" property="participantId"/>
        <result column="activities_id" jdbcType="BIGINT" property="activitiesId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="real_type" jdbcType="VARCHAR" property="realType"/>
        <result column="notify_time" jdbcType="TIMESTAMP" property="notifyTime"/>
        <result column="signup_time" jdbcType="TIMESTAMP" property="signupTime"/>
        <result column="signin_time" jdbcType="TIMESTAMP" property="signinTime"/>
        <result column="signin_pwd" jdbcType="VARCHAR" property="signinPwd"/>
        <result column="absent_reason" property="absentReason"/>
        <result column="if_orgnizer" jdbcType="TINYINT" property="ifOrgnizer"/>
        <result column="if_moderator" jdbcType="TINYINT" property="ifModerator"/>
        <result column="if_secretary_general" jdbcType="TINYINT" property="ifSecretaryGeneral"/>
        <result column="if_presidium" jdbcType="TINYINT" property="ifPresidium"/>
        <result column="if_deputy_secretary_general" jdbcType="TINYINT" property="ifDeputySecretaryGeneral"/>
        <result column="if_sit_in" jdbcType="TINYINT" property="ifSitIn"/>
        <result column="if_standing_committee" jdbcType="TINYINT" property="ifStandingCommittee"/>
        <result column="if_leader" jdbcType="TINYINT" property="ifLeader"/>
        <result column="if_link_leader" jdbcType="TINYINT" property="ifLinkLeader"/>
        <result column="activitytype" jdbcType="VARCHAR" property="activitytype"/>
        <result column="org_assess" jdbcType="BIGINT" property="orgAssess"/>
        <result column="in_org_id" jdbcType="BIGINT" property="inOrgId"/>
        <result column="parent_org_assess" jdbcType="BIGINT" property="parentOrgAssess"/>
        <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime"/>
        <result column="audit_user" jdbcType="TINYINT" property="auditUser"/>
        <result column="audit_org" jdbcType="TINYINT" property="auditOrg"/>
        <result column="audit_comment" jdbcType="TINYINT" property="auditComment"/>
        <result column="ebl_flag" jdbcType="VARCHAR" property="eblFlag"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.egovchina.partybuilding.partybuild.entity.TabPbParticipant">
        <result column="performance" jdbcType="LONGVARCHAR" property="performance"/>
        <result column="speech" jdbcType="LONGVARCHAR" property="speech"/>
        <result column="org_assess_content" jdbcType="LONGVARCHAR" property="orgAssessContent"/>
        <result column="parent_org_assess_content" jdbcType="LONGVARCHAR" property="parentOrgAssessContent"/>
    </resultMap>

    <!--<resultMap id="BaseResultSign"  extends="BaseResultMap" type="PartyOrganizationActivitiesDto">-->
        <!--<result column="signname" property="signName" jdbcType="VARCHAR"/>-->
        <!--<result column="nosignname" property="nosignName" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->

    <sql id="Base_Column_List">
    participant_id, activities_id, user_id, real_name, real_type, notify_time, signup_time, signin_time,
    signin_pwd, absent_reason, if_orgnizer, if_moderator, if_secretary_general, if_presidium, if_deputy_secretary_general,
    if_sit_in, if_standing_committee, if_leader, if_link_leader, activitytype, org_assess, in_org_id, parent_org_assess,
    audit_time, audit_user, audit_org, audit_comment, ebl_flag, del_flag, order_num, description, create_time, create_userid, create_username, update_time,
    update_userid, update_username, version
  </sql>
    <sql id="Blob_Column_List">
    performance, speech, org_assess_content, parent_org_assess_content
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tab_pb_participant
        where participant_id = #{participantId,jdbcType=BIGINT} and del_flag=0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_participant
    where activities_id = #{activitiesId,jdbcType=BIGINT}
  </delete>
    <insert id="insertSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbParticipant">
        insert into tab_pb_participant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activitiesId != null">
                activities_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="realType != null">
                real_type,
            </if>
            <if test="notifyTime != null">
                notify_time,
            </if>
            <if test="signupTime != null">
                signup_time,
            </if>
            <if test="signinTime != null">
                signin_time,
            </if>
            <if test="signinPwd != null">
                signin_pwd,
            </if>
            <if test="absentReason != null">
                absent_reason,
            </if>
            <if test="ifOrgnizer != null">
                if_orgnizer,
            </if>
            <if test="ifModerator != null">
                if_moderator,
            </if>
            <if test="ifSecretaryGeneral != null">
                if_secretary_general,
            </if>
            <if test="ifPresidium != null">
                if_presidium,
            </if>
            <if test="ifDeputySecretaryGeneral != null">
                if_deputy_secretary_general,
            </if>
            <if test="ifSitIn != null">
                if_sit_in,
            </if>
            <if test="ifStandingCommittee != null">
                if_standing_committee,
            </if>
            <if test="ifLeader != null">
                if_leader,
            </if>
            <if test="ifLinkLeader != null">
                if_link_leader,
            </if>
            <if test="activitytype != null">
                activitytype,
            </if>
            <if test="orgAssess != null">
                org_assess,
            </if>
            <if test="inOrgId != null">
                in_org_id,
            </if>
            <if test="parentOrgAssess != null">
                parent_org_assess,
            </if>
            <if test="eblFlag != null">
                ebl_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="performance != null">
                performance,
            </if>
            <if test="speech != null">
                speech,
            </if>
            <if test="orgAssessContent != null">
                org_assess_content,
            </if>
            <if test="parentOrgAssessContent != null">
                parent_org_assess_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activitiesId != null">
                #{activitiesId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="realType != null">
                #{realType,jdbcType=VARCHAR},
            </if>
            <if test="notifyTime != null">
                #{notifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signupTime != null">
                #{signupTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signinTime != null">
                #{signinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signinPwd != null">
                #{signinPwd,jdbcType=VARCHAR},
            </if>
            <if test="absentReason != null">
                #{absentReason,jdbcType=BIGINT},
            </if>
            <if test="ifOrgnizer != null">
                #{ifOrgnizer,jdbcType=TINYINT},
            </if>
            <if test="ifModerator != null">
                #{ifModerator,jdbcType=TINYINT},
            </if>
            <if test="ifSecretaryGeneral != null">
                #{ifSecretaryGeneral,jdbcType=TINYINT},
            </if>
            <if test="ifPresidium != null">
                #{ifPresidium,jdbcType=TINYINT},
            </if>
            <if test="ifDeputySecretaryGeneral != null">
                #{ifDeputySecretaryGeneral,jdbcType=TINYINT},
            </if>
            <if test="ifSitIn != null">
                #{ifSitIn,jdbcType=TINYINT},
            </if>
            <if test="ifStandingCommittee != null">
                #{ifStandingCommittee,jdbcType=TINYINT},
            </if>
            <if test="ifLeader != null">
                #{ifLeader,jdbcType=TINYINT},
            </if>
            <if test="ifLinkLeader != null">
                #{ifLinkLeader,jdbcType=TINYINT},
            </if>
            <if test="activitytype != null">
                #{activitytype,jdbcType=VARCHAR},
            </if>
            <if test="orgAssess != null">
                #{orgAssess,jdbcType=BIGINT},
            </if>
            <if test="inOrgId != null">
                #{inOrgId,jdbcType=BIGINT},
            </if>
            <if test="parentOrgAssess != null">
                #{parentOrgAssess,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="performance != null">
                #{performance,jdbcType=LONGVARCHAR},
            </if>
            <if test="speech != null">
                #{speech,jdbcType=LONGVARCHAR},
            </if>
            <if test="orgAssessContent != null">
                #{orgAssessContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="parentOrgAssessContent != null">
                #{parentOrgAssessContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbParticipant">
        update tab_pb_participant
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="realType != null">
                real_type = #{realType,jdbcType=VARCHAR},
            </if>
            <if test="notifyTime != null">
                notify_time = #{notifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signupTime != null">
                signup_time = #{signupTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signinTime != null">
                signin_time = #{signinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signinPwd != null">
                signin_pwd = #{signinPwd,jdbcType=VARCHAR},
            </if>
            <if test="absentReason != null">
                absent_reason = #{absentReason,jdbcType=BIGINT},
            </if>
            <if test="ifOrgnizer != null">
                if_orgnizer = #{ifOrgnizer,jdbcType=TINYINT},
            </if>
            <if test="ifModerator != null">
                if_moderator = #{ifModerator,jdbcType=TINYINT},
            </if>
            <if test="ifSecretaryGeneral != null">
                if_secretary_general = #{ifSecretaryGeneral,jdbcType=TINYINT},
            </if>
            <if test="ifPresidium != null">
                if_presidium = #{ifPresidium,jdbcType=TINYINT},
            </if>
            <if test="ifDeputySecretaryGeneral != null">
                if_deputy_secretary_general = #{ifDeputySecretaryGeneral,jdbcType=TINYINT},
            </if>
            <if test="ifSitIn != null">
                if_sit_in = #{ifSitIn,jdbcType=TINYINT},
            </if>
            <if test="ifStandingCommittee != null">
                if_standing_committee = #{ifStandingCommittee,jdbcType=TINYINT},
            </if>
            <if test="ifLeader != null">
                if_leader = #{ifLeader,jdbcType=TINYINT},
            </if>
            <if test="ifLinkLeader != null">
                if_link_leader = #{ifLinkLeader,jdbcType=TINYINT},
            </if>
            <if test="activitytype != null">
                activitytype = #{activitytype,jdbcType=VARCHAR},
            </if>
            <if test="orgAssess != null">
                org_assess = #{orgAssess,jdbcType=BIGINT},
            </if>
            <if test="inOrgId != null">
                in_org_id = #{inOrgId,jdbcType=BIGINT},
            </if>
            <if test="parentOrgAssess != null">
                parent_org_assess = #{parentOrgAssess,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                ebl_flag = #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="performance != null">
                performance = #{performance,jdbcType=LONGVARCHAR},
            </if>
            <if test="speech != null">
                speech = #{speech,jdbcType=LONGVARCHAR},
            </if>
            <if test="orgAssessContent != null">
                org_assess_content = #{orgAssessContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="parentOrgAssessContent != null">
                parent_org_assess_content = #{parentOrgAssessContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where participant_id = #{participantId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbParticipant">
    update tab_pb_participant
    set activities_id = #{activitiesId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      real_name = #{realName,jdbcType=VARCHAR},
      real_type = #{realType,jdbcType=VARCHAR},
      notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      signup_time = #{signupTime,jdbcType=TIMESTAMP},
      signin_time = #{signinTime,jdbcType=TIMESTAMP},
      signin_pwd = #{signinPwd,jdbcType=VARCHAR},
      absent_reason = #{absentReason,jdbcType=BIGINT},
      if_orgnizer = #{ifOrgnizer,jdbcType=TINYINT},
      if_moderator = #{ifModerator,jdbcType=TINYINT},
      if_secretary_general = #{ifSecretaryGeneral,jdbcType=TINYINT},
      if_presidium = #{ifPresidium,jdbcType=TINYINT},
      if_deputy_secretary_general = #{ifDeputySecretaryGeneral,jdbcType=TINYINT},
      if_sit_in = #{ifSitIn,jdbcType=TINYINT},
      if_standing_committee = #{ifStandingCommittee,jdbcType=TINYINT},
      if_leader = #{ifLeader,jdbcType=TINYINT},
      if_link_leader = #{ifLinkLeader,jdbcType=TINYINT},
      activitytype = #{activitytype,jdbcType=VARCHAR},
      org_assess = #{orgAssess,jdbcType=BIGINT},
      in_org_id = #{inOrgId,jdbcType=BIGINT},
      parent_org_assess = #{parentOrgAssess,jdbcType=BIGINT},
      ebl_flag = #{eblFlag,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT},
      performance = #{performance,jdbcType=LONGVARCHAR},
      speech = #{speech,jdbcType=LONGVARCHAR},
      org_assess_content = #{orgAssessContent,jdbcType=LONGVARCHAR},
      parent_org_assess_content = #{parentOrgAssessContent,jdbcType=LONGVARCHAR}
    where participant_id = #{participantId,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbParticipant">
    update tab_pb_participant
    set activities_id = #{activitiesId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      real_name = #{realName,jdbcType=VARCHAR},
      real_type = #{realType,jdbcType=VARCHAR},
      notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      signup_time = #{signupTime,jdbcType=TIMESTAMP},
      signin_time = #{signinTime,jdbcType=TIMESTAMP},
      signin_pwd = #{signinPwd,jdbcType=VARCHAR},
      absent_reason = #{absentReason,jdbcType=BIGINT},
      if_orgnizer = #{ifOrgnizer,jdbcType=TINYINT},
      if_moderator = #{ifModerator,jdbcType=TINYINT},
      if_secretary_general = #{ifSecretaryGeneral,jdbcType=TINYINT},
      if_presidium = #{ifPresidium,jdbcType=TINYINT},
      if_deputy_secretary_general = #{ifDeputySecretaryGeneral,jdbcType=TINYINT},
      if_sit_in = #{ifSitIn,jdbcType=TINYINT},
      if_standing_committee = #{ifStandingCommittee,jdbcType=TINYINT},
      if_leader = #{ifLeader,jdbcType=TINYINT},
      if_link_leader = #{ifLinkLeader,jdbcType=TINYINT},
      activitytype = #{activitytype,jdbcType=VARCHAR},
      org_assess = #{orgAssess,jdbcType=BIGINT},
      in_org_id = #{inOrgId,jdbcType=BIGINT},
      parent_org_assess = #{parentOrgAssess,jdbcType=BIGINT},
      ebl_flag = #{eblFlag,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT},
      performance = #{performance,jdbcType=LONGVARCHAR},
      speech = #{speech,jdbcType=LONGVARCHAR},
      org_assess_content = #{orgAssessContent,jdbcType=LONGVARCHAR},
      parent_org_assess_content = #{parentOrgAssessContent,jdbcType=LONGVARCHAR}
    where participant_id = #{participantId,jdbcType=BIGINT}
  </update>
    <update id="delect" parameterType="java.lang.Long">
        update tab_pb_participant
        <set>

            ebl_flag = 0,
            del_flag = 1,

        </set>
        where activities_id = #{activitiesId}
    </update>

    <!--批量逻辑删除-->
    <update id="batchLogicDelete" parameterType="java.util.List">
        update tab_pb_participant set del_flag = 1 where participant_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </update>

    <!--根据活动id查询活动详情数据-->
    <select id="selectDetailTableByActivitiesId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from tab_pb_participant where activities_id = #{activitiesId} and del_flag =0
    </select>

    <!--批量新增-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into tab_pb_participant(activities_id, user_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.activitiesId}, #{item.userId})
        </foreach>
    </insert>


    <select id="ifModerator" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbParticipant">
            SELECT * FROM tab_pb_participant WHERE if_moderator =1 and activities_id= #{activitiesId}

    </select>

    <select id="selectCountByParticipant" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbParticipant"
            resultType="java.lang.Integer">
        select count(*) from  tab_pb_participant
        where activities_id = #{activitiesId,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
        and del_flag = 0
        and if_link_leader = 1;
    </select>

    <!--根据条件查询包含简单信息的活动参与者列表-->
    <select id="selectSimpleListWithConditions" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM tab_pb_participant
        <where>
            activities_id = #{activitiesId} AND del_flag = #{delFlag}
            <if test="moderatorId != null and moderatorId != ''">
                AND user_id != #{moderatorId}
            </if>
        </where>
    </select>


    <!--查询签到情况列表-->
    <select id="selectCheckInList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
         *
        FROM
        tab_pb_participant p
        WHERE
        p.activities_id = #{activitiesId}
        AND p.del_flag = 0 and p.absent_reason = 0
        <if test="signType != null and signType != ''">
            <choose>
                <when test="signType == 1">
                    AND  p.signin_time is NOT NULL
                </when>
                <when test="signType == 2">
                    AND  p.signin_time is null
                </when>
            </choose>
        </if>
    </select>

    <!--签到变更-->
    <update id="updateSignIn">
            UPDATE tab_pb_participant
                SET signin_time =
                CASE WHEN signin_time IS NULL THEN
                    now( )
                    ELSE NULL END
            WHERE activities_id = #{activitiesId}
                AND participant_id = #{participantId}
    </update>

    <!--验证用户是否存在在指定活动中-->
    <select id="validateUserExists" parameterType="java.util.Map" resultMap="BaseResultMap">
      SELECT
            p.*
        FROM
            tab_pb_participant p
            INNER JOIN tab_pb_activities a ON a.activities_id = p.activities_id
            INNER JOIN sys_user u ON p.user_id = u.user_id
        WHERE
            p.del_flag = 0
            AND u.del_flag = 0
            AND a.del_flag = 0
            AND a.activities_id = #{activitiesId}
            AND u.id_card_no = #{idCardNo}
    </select>

    <select id="selectBySignIn" resultMap="BaseResultMap">
           SELECT * from tab_pb_participant
                where activities_id = #{activitiesId}
                AND participant_id = #{participantId}
                and del_flag=0
    </select>

</mapper>