<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizheng.partybuilding.repository.TabPbEduSiteActivityMapper">
    <resultMap id="BaseResultMap" type="com.yizheng.partybuilding.entity.TabPbEduSiteActivity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="site_id" jdbcType="BIGINT" property="siteId"/>
        <result column="activity_time" jdbcType="TIMESTAMP" property="activityTime"/>
        <result column="activity_title" jdbcType="VARCHAR" property="activityTitle"/>
        <result column="activity_content" jdbcType="VARCHAR" property="activityContent"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="WithAboutInfoResultMap"
               type="com.yizheng.partybuilding.entity.TabPbEduSiteActivity">
        <collection property="attachments"
                    select="com.yizheng.partybuilding.repository.TabPbAttachmentMapper.selectWithConditions"
                    column="{hostId=id,attachmentType=attachment_type}"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, site_id, activity_time, activity_title, activity_content, del_flag, create_time, 
    create_userid, create_username, update_time, update_userid, update_username
  </sql>
    <sql id="Base_WhereCase_List">
        <if test="siteId != null and siteId != ''">
            AND esa.site_id = #{siteId}
        </if>
        <if test="activityTime != null and activityTime != ''">
            AND esa.activity_time = #{activityTime}
        </if>
        <if test="activityTitle != null and activityTitle != ''">
            AND esa.activity_title = #{activityTitle}
        </if>
        <if test="activityContent != null and activityContent != ''">
            AND esa.activity_content = #{activityContent}
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND esa.del_flag = #{delFlag}
        </if>
        <if test="createTime != null and createTime != ''">
            AND esa.create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''">
            AND esa.create_userid = #{createUserid}
        </if>
        <if test="createUsername != null and createUsername != ''">
            AND esa.create_username = #{createUsername}
        </if>
        <if test="updateTime != null and updateTime != ''">
            AND esa.update_time = #{updateTime}
        </if>
        <if test="updateUserid != null and updateUserid != ''">
            AND esa.update_userid = #{updateUserid}
        </if>
        <if test="updateUsername != null and updateUsername != ''">
            AND esa.update_username = #{updateUsername}
        </if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_site_activity
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_site_activity
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.yizheng.partybuilding.entity.TabPbEduSiteActivity">
    insert into tab_pb_edu_site_activity (id, site_id, activity_time, 
      activity_title, activity_content, del_flag, 
      create_time, create_userid, create_username, 
      update_time, update_userid, update_username
      )
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, #{activityTime,jdbcType=TIMESTAMP}, 
      #{activityTitle,jdbcType=VARCHAR}, #{activityContent,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.yizheng.partybuilding.entity.TabPbEduSiteActivity">
        insert into tab_pb_edu_site_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="siteId != null">
                site_id,
            </if>
            <if test="activityTime != null">
                activity_time,
            </if>
            <if test="activityTitle != null">
                activity_title,
            </if>
            <if test="activityContent != null">
                activity_content,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="siteId != null">
                #{siteId,jdbcType=BIGINT},
            </if>
            <if test="activityTime != null">
                #{activityTime,jdbcType=TIMESTAMP},
            </if>
            <if test="activityTitle != null">
                #{activityTitle,jdbcType=VARCHAR},
            </if>
            <if test="activityContent != null">
                #{activityContent,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduSiteActivity">
        update tab_pb_edu_site_activity
        <set>
            <if test="siteId != null">
                site_id = #{siteId,jdbcType=BIGINT},
            </if>
            <if test="activityTime != null">
                activity_time = #{activityTime,jdbcType=TIMESTAMP},
            </if>
            <if test="activityTitle != null">
                activity_title = #{activityTitle,jdbcType=VARCHAR},
            </if>
            <if test="activityContent != null">
                activity_content = #{activityContent,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yizheng.partybuilding.entity.TabPbEduSiteActivity">
    update tab_pb_edu_site_activity
    set site_id = #{siteId,jdbcType=BIGINT},
      activity_time = #{activityTime,jdbcType=TIMESTAMP},
      activity_title = #{activityTitle,jdbcType=VARCHAR},
      activity_content = #{activityContent,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!--根据条件查询-->
    <select id="selectWithConditions" parameterType="java.util.Map" resultMap="WithAboutInfoResultMap">
        select esa.*,
        '43' AS attachment_type
        from tab_pb_edu_site_activity esa
        <where>
            <include refid="Base_WhereCase_List"/>
        </where>
    </select>

    <!--根据站点id获取关联站点活动信息-->
    <select id="selectAllBySiteId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select esa.*
        from tab_pb_edu_site_activity esa
        where esa.site_id = #{siteId}
    </select>

    <!--根据数据ID批量逻辑删除-->
    <update id="batchLogicDeleteById" parameterType="java.util.List">
        update tab_pb_edu_site_activity esa
        left join tab_pb_attachment a on esa.id = a.host_id and a.attachment_type = 43
        set esa.del_flag = 1, a.del_flag = 1
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </update>

    <!--根据站点id批量逻辑删除-->
    <update id="batchLogicDeleteBySiteId" parameterType="java.lang.Long">
        update tab_pb_edu_site_activity esa
        left join tab_pb_attachment a on esa.id = a.host_id and a.attachment_type = 43
        set esa.del_flag = 1, a.del_flag = 1
        where esa.site_id = #{siteId}
    </update>
</mapper>