<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbEduComParticipateMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbEduComParticipate">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="c_id" jdbcType="BIGINT" property="cId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="sh_result" jdbcType="VARCHAR" property="shResult"/>
        <result column="sh_user_id" jdbcType="BIGINT" property="shUserId"/>
        <result column="sh_create_time" jdbcType="TIMESTAMP" property="shCreateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, c_id, title, content, user_id, username, create_time, state, sh_result, sh_user_id, 
    sh_create_time,del_flag
    </sql>
    <select id="selectData" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduComParticipate" resultMap="BaseResultMap">
        select partici.*
        from tab_pb_edu_com_participate partici
        <if test="type != null">
            JOIN tab_pb_edu_communication commu ON partici.c_id = commu.id AND commu.type = #{type}
        </if>
        where partici.del_flag = '0'
        <if test="cId != null">
           and partici.c_id = #{cId}
        </if>
        <if test="userId != null">
            and partici.user_id = #{userId}
        </if>
        <if test="state != null">
            and partici.state = #{state}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_com_participate
    where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduComParticipate">
        insert into tab_pb_edu_com_participate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cId != null">
                c_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="shResult != null">
                sh_result,
            </if>
            <if test="shUserId != null">
                sh_user_id,
            </if>
            <if test="shCreateTime != null">
                sh_create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="cId != null">
                #{cId,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="shResult != null">
                #{shResult,jdbcType=VARCHAR},
            </if>
            <if test="shUserId != null">
                #{shUserId,jdbcType=BIGINT},
            </if>
            <if test="shCreateTime != null">
                #{shCreateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduComParticipate">
        update tab_pb_edu_com_participate
        <set>
            <if test="cId != null">
                c_id = #{cId,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="shResult != null">
                sh_result = #{shResult,jdbcType=VARCHAR},
            </if>
            <if test="shUserId != null">
                sh_user_id = #{shUserId,jdbcType=BIGINT},
            </if>
            <if test="shCreateTime != null">
                sh_create_time = #{shCreateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduComParticipate">
    update tab_pb_edu_com_participate
    set c_id = #{cId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      sh_result = #{shResult,jdbcType=VARCHAR},
      sh_user_id = #{shUserId,jdbcType=BIGINT},
      sh_create_time = #{shCreateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <update id="flagDelete" parameterType="java.lang.Long">
        update tab_pb_edu_com_participate
        <set>
            del_flag = 1,
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="changeState" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduComParticipate">
        update tab_pb_edu_com_participate
        <set>
            state = #{state},
            <if test="shResult != null">
                sh_result = #{shResult}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>