<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizheng.partybuilding.repository.TabPbEduPositionProjectMapper">
    <resultMap id="BaseResultMap" type="com.yizheng.partybuilding.entity.TabPbEduPositionProject">
        <id column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="position_id" jdbcType="BIGINT" property="positionId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="duration" jdbcType="VARCHAR" property="duration"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
    </resultMap>
    <sql id="Base_Column_List">
    project_id, position_id, name, duration, del_flag, order_num, create_time, create_userid,
    create_username, update_time, update_userid, update_username, introduction, cover
  </sql>

    <!--通用条件case-->
    <sql id="Base_WhereCase_List">
        <if test="positionId != null and positionId != ''">
            AND epp.position_id = #{positionId}
        </if>
        <if test="name != null and name != ''">
            AND epp.name = #{name}
        </if>
        <if test="duration != null and duration != ''">
            AND epp.duration = #{duration}
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND epp.del_flag = #{delFlag}
        </if>
        <if test="orderNum != null and orderNum != ''">
            AND epp.order_num = #{orderNum}
        </if>
        <if test="createTime != null and createTime != ''">
            AND epp.create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''">
            AND epp.create_userid = #{createUserid}
        </if>
        <if test="createUsername != null and createUsername != ''">
            AND epp.create_username = #{createUsername}
        </if>
        <if test="updateTime != null and updateTime != ''">
            AND epp.update_time = #{updateTime}
        </if>
        <if test="updateUserid != null and updateUserid != ''">
            AND epp.update_userid = #{updateUserid}
        </if>
        <if test="updateUsername != null and updateUsername != ''">
            AND epp.update_username = #{updateUsername}
        </if>
        <if test="introduction != null and introduction != ''">
            AND epp.introduction = #{introduction}
        </if>
        <if test="cover != null and cover != ''">
            AND epp.cover = #{cover}
        </if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_position_project
        where project_id = #{projectId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_position_project
    where project_id = #{projectId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yizheng.partybuilding.entity.TabPbEduPositionProject">
    insert into tab_pb_edu_position_project (project_id, position_id, name,
      duration, del_flag, order_num, 
      create_time, create_userid, create_username, 
      update_time, update_userid, update_username, introduction, cover
      )
    values (#{projectId,jdbcType=BIGINT}, #{positionId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
      #{duration,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{orderNum,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR},
      #{introduction,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduPositionProject">
        insert into tab_pb_edu_position_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                project_id,
            </if>
            <if test="positionId != null">
                position_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="cover != null">
                cover,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="positionId != null">
                #{positionId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduPositionProject">
        update tab_pb_edu_position_project
        <set>
            <if test="positionId != null">
                position_id = #{positionId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
        </set>
        where project_id = #{projectId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yizheng.partybuilding.entity.TabPbEduPositionProject">
    update tab_pb_edu_position_project
    set position_id = #{positionId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>

    <!--根据条件查询-->
    <select id="selectWithConditions" parameterType="java.util.Map" resultMap="BaseResultMap">
        select epp.*
        from tab_pb_edu_position_project epp
        <where>
            <include refid="Base_WhereCase_List"/>
        </where>
    </select>

    <!--批量新增-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into
          tab_pb_edu_position_project(position_id, `name`, duration, create_time, create_userid, create_username,
            update_time, update_userid, update_username, introduction, cover)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.positionId}, #{item.name}, #{item.duration}, #{item.createTime}, #{item.createUserid}, #{item.createUsername},
              #{item.updateTime}, #{item.updateUserid}, #{item.updateUsername}, #{item.introduction}, #{item.cover})
        </foreach>
    </insert>

    <!--根据基地id查询所有特色项目-->
    <select id="selectAllByPositionId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select epp.*
        from tab_pb_edu_position_project epp
        where epp.position_id = #{positionId} and del_flag = 0
    </select>

    <!--根据id批量逻辑删除-->
    <update id="batchLogicDeleteById" parameterType="java.util.List">
        update tab_pb_edu_position_project epp
        set del_flag = 1
        where project_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </update>

    <!--根据基地id批量逻辑删除-->
    <update id="batchLogicDeleteByPositionId" parameterType="java.lang.Long">
        update tab_pb_edu_position_project epp
        set del_flag = 1
        where position_id = #{positionId}
    </update>
</mapper>