<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbDoubleCommentaryMapper">

    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbDoubleCommentary">
        <id column="commentary_id" jdbcType="BIGINT" property="commentaryId"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="plan_year" jdbcType="VARCHAR" property="planYear"/>
        <result column="report_date" jdbcType="TIMESTAMP" property="reportDate"/>
        <result column="check_date" jdbcType="TIMESTAMP" property="checkDate"/>
        <result column="check_result" jdbcType="BIGINT" property="checkResult"/>
        <result column="ebl_flag" jdbcType="VARCHAR" property="eblFlag"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="check_org" jdbcType="BIGINT" property="checkOrg"/>
        <result column="check_org_name" jdbcType="VARCHAR" property="checkOrgName"/>
        <result column="check_user" jdbcType="BIGINT" property="checkUser"/>
        <result column="check_user_name" jdbcType="VARCHAR" property="checkUserName"/>
        <result column="check_desc" jdbcType="VARCHAR" property="checkDesc"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.egovchina.partybuilding.partybuild.entity.TabPbDoubleCommentary">
        <result column="commentary_content" jdbcType="LONGVARCHAR" property="commentaryContent"/>
    </resultMap>

    <resultMap extends="ResultMapWithBLOBs" id="BaseResultMapWithAttachments"
               type="com.egovchina.partybuilding.partybuild.vo.CommentaryVO">
        <collection property="attachments"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbAttachmentMapper.selectWithConditions"
                    column="{hostId=commentary_id,attachmentType=attachment_type}"/>
    </resultMap>

    <resultMap extends="ResultMapWithBLOBs" id="BaseResultMapWithCount"
               type="com.egovchina.partybuilding.partybuild.vo.CommentaryVO">
        <result column="video_num" jdbcType="INTEGER" property="videoNum"/>
        <result column="img_num" jdbcType="BIGINT" property="imgNum"/>
        <result column="doc_num" jdbcType="BIGINT" property="docNum"/>
    </resultMap>

    <!-- 返回双述双评列表信息Vo数据集合 -->
    <resultMap id="CommentaryVOResultMap" type="com.egovchina.partybuilding.partybuild.vo.CommentaryVO">
        <id column="commentary_id" jdbcType="BIGINT" property="commentaryId"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="plan_year" jdbcType="VARCHAR" property="planYear"/>
        <result column="report_date" jdbcType="TIMESTAMP" property="reportDate"/>
        <result column="check_result" jdbcType="BIGINT" property="checkResult"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="org_short_name" jdbcType="VARCHAR" property="orgShortName"/>
        <result column="result_situation" jdbcType="VARCHAR" property="resultSituation"/>
    </resultMap>

    <sql id="Base_Column_List">
        dc.commentary_id, dc.org_id, dc.plan_year, dc.report_date, dc.check_date, dc.check_result, dc.ebl_flag, dc.del_flag, dc.order_num,
    dc.description, dc.create_time, dc.create_userid, dc.create_username, dc.update_time, dc.update_userid,
    dc.update_username, dc.version, dc.check_org, dc.check_user, dc.check_desc
    </sql>

    <sql id="Blob_Column_List">
        dc.commentary_content
    </sql>

    <sql id="Base_WhereCase_List">
        <if test="orgId != null">
            AND dc.org_id = #{orgId}
        </if>
        <if test="planYear != null and planYear != ''">
            AND dc.plan_year = #{planYear}
        </if>
        <!--上报日期-->
        <if test="reportStartDate != null and reportStartDate != ''">
            AND date_format(dc.report_date, '%Y-%m-%d') >= #{reportStartDate}
        </if>
        <if test="reportEndDate != null and reportEndDate != ''">
            AND date_format(dc.report_date, '%Y-%m-%d') &lt;= #{reportEndDate}
        </if>
        <!--审核日期-->
        <if test="checkStartDate != null and checkStartDate != ''">
            AND date_format(dc.check_date, '%Y-%m-%d') >= #{checkStartDate}
        </if>
        <if test="checkEndDate != null and checkEndDate != ''">
            AND date_format(dc.check_date, '%Y-%m-%d') &lt;= #{checkEndDate}
        </if>
        AND dc.del_flag = 0
        <!--组织范围  1 当前组织（包括一级下级组织）2当前组织（包含所有下级组织） -->
        <choose>
            <when test="orgRange == 1">
                AND (d.dept_id = #{orgId} OR d.parent_id = #{orgId})
            </when>
            <when test="orgRange == 2">
                AND find_in_set(#{orgId}, d.full_path)
            </when>
            <otherwise>
                AND d.dept_id = #{orgId}
            </otherwise>
        </choose>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="CommentaryVOResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        , '5' as attachment_type,
        d.org_short_name as org_short_name,
        d.name as org_name,
        d2.name as check_org_name,
        u.realname as check_user_name
        from tab_pb_double_commentary dc
        left join sys_dept d on dc.org_id = d.dept_id
        left join sys_dept d2 on dc.check_org = d2.dept_id
        left join sys_user u on dc.check_user = u.user_id
        where dc.commentary_id = #{commentaryId,jdbcType=BIGINT} AND dc.del_flag = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from tab_pb_double_commentary
        where commentary_id = #{commentaryId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="commentaryId"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbDoubleCommentary">
        insert into tab_pb_double_commentary (commentary_id, org_id, plan_year,
                                              report_date, check_date, ebl_flag,
                                              del_flag, order_num, description,
                                              create_time, create_userid, create_username,
                                              update_time, update_userid, update_username,
                                              version, commentary_content, check_result, check_org, check_user,
                                              check_desc)
        values (#{commentaryId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{planYear,jdbcType=BIGINT},
                #{reportDate,jdbcType=TIMESTAMP}, #{checkDate,jdbcType=TIMESTAMP}, #{eblFlag,jdbcType=VARCHAR},
                #{delFlag,jdbcType=VARCHAR}, #{orderNum,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR},
                #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR},
                #{version,jdbcType=BIGINT}, #{commentaryContent,jdbcType=LONGVARCHAR}, #{checkResult,jdbcType=BIGINT},
                #{checkOrg,jdbcType=BIGINT}, #{checkUser,jdbcType=BIGINT}, #{checkDesc,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="commentaryId"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbDoubleCommentary">
        insert into tab_pb_double_commentary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentaryId != null">
                commentary_id,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="planYear != null">
                plan_year,
            </if>
            <if test="reportDate != null">
                report_date,
            </if>
            <if test="checkDate != null">
                check_date,
            </if>
            <if test="eblFlag != null">
                ebl_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="commentaryContent != null">
                commentary_content,
            </if>
            <if test="checkResult != null">
                check_result,
            </if>
            <if test="resultSituation != null">
                result_situation,
            </if>
            <if test="checkOrg != null">
                check_org,
            </if>
            <if test="checkUser != null">
                check_user,
            </if>
            <if test="checkDesc != null">
                check_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentaryId != null">
                #{commentaryId,jdbcType=BIGINT},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="planYear != null">
                #{planYear,jdbcType=BIGINT},
            </if>
            <if test="reportDate != null">
                #{reportDate,jdbcType=TIMESTAMP},
            </if>
            <if test="checkDate != null">
                #{checkDate,jdbcType=TIMESTAMP},
            </if>
            <if test="eblFlag != null">
                #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="commentaryContent != null">
                #{commentaryContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="checkResult != null">
                #{checkResult,jdbcType=BIGINT},
            </if>
            <if test="resultSituation != null">
                #{resultSituation,jdbcType=BIGINT},
            </if>
            <if test="checkOrg != null">
                #{checkOrg,jdbcType=BIGINT},
            </if>
            <if test="checkUser != null">
                #{checkUser,jdbcType=BIGINT},
            </if>
            <if test="checkDesc != null">
                #{checkDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbDoubleCommentary">
        update tab_pb_double_commentary
        <set>
            <if test="planYear != null">
                plan_year = #{planYear,jdbcType=BIGINT},
            </if>
            <if test="reportDate != null">
                report_date = #{reportDate,jdbcType=TIMESTAMP},
            </if>
            <if test="checkDate != null">
                check_date = #{checkDate,jdbcType=TIMESTAMP},
            </if>
            <if test="eblFlag != null">
                ebl_flag = #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="commentaryContent != null">
                commentary_content = #{commentaryContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="checkResult != null">
                check_result = #{checkResult,jdbcType=BIGINT},
            </if>
            <if test="resultSituation != null">
                result_situation = #{resultSituation,jdbcType=BIGINT},
            </if>
            <if test="checkOrg != null">
                check_org = #{checkOrg,jdbcType=BIGINT},
            </if>
            <if test="checkUser != null">
                check_user = #{checkUser,jdbcType=BIGINT},
            </if>
            <if test="checkDesc != null">
                check_desc = #{checkDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where commentary_id = #{commentaryId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbDoubleCommentary">
        update tab_pb_double_commentary
        set org_id             = #{orgId,jdbcType=BIGINT},
            plan_year          = #{planYear,jdbcType=BIGINT},
            report_date        = #{reportDate,jdbcType=TIMESTAMP},
            check_date         = #{checkDate,jdbcType=TIMESTAMP},
            ebl_flag           = #{eblFlag,jdbcType=VARCHAR},
            del_flag           = #{delFlag,jdbcType=VARCHAR},
            order_num          = #{orderNum,jdbcType=BIGINT},
            description        = #{description,jdbcType=VARCHAR},
            create_time        = #{createTime,jdbcType=TIMESTAMP},
            create_userid      = #{createUserid,jdbcType=BIGINT},
            create_username    = #{createUsername,jdbcType=VARCHAR},
            update_time        = #{updateTime,jdbcType=TIMESTAMP},
            update_userid      = #{updateUserid,jdbcType=BIGINT},
            update_username    = #{updateUsername,jdbcType=VARCHAR},
            version            = #{version,jdbcType=BIGINT},
            commentary_content = #{commentaryContent,jdbcType=LONGVARCHAR},
            check_result       = #{checkResult,jdbcType=BIGINT},
            check_org          = #{checkOrg,jdbcType=BIGINT},
            check_user         = #{checkUser,jdbcType=BIGINT},
            check_desc         = #{checkDesc,jdbcType=VARCHAR}
        where commentary_id = #{commentaryId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbDoubleCommentary">
        update tab_pb_double_commentary
        set org_id             = #{orgId,jdbcType=BIGINT},
            plan_year          = #{planYear,jdbcType=BIGINT},
            report_date        = #{reportDate,jdbcType=TIMESTAMP},
            check_date         = #{checkDate,jdbcType=TIMESTAMP},
            ebl_flag           = #{eblFlag,jdbcType=VARCHAR},
            del_flag           = #{delFlag,jdbcType=VARCHAR},
            order_num          = #{orderNum,jdbcType=BIGINT},
            description        = #{description,jdbcType=VARCHAR},
            create_time        = #{createTime,jdbcType=TIMESTAMP},
            create_userid      = #{createUserid,jdbcType=BIGINT},
            create_username    = #{createUsername,jdbcType=VARCHAR},
            update_time        = #{updateTime,jdbcType=TIMESTAMP},
            update_userid      = #{updateUserid,jdbcType=BIGINT},
            update_username    = #{updateUsername,jdbcType=VARCHAR},
            version            = #{version,jdbcType=BIGINT},
            commentary_content = #{commentaryContent,jdbcType=LONGVARCHAR},
            check_result       = #{checkResult,jdbcType=BIGINT},
            check_org          = #{checkOrg,jdbcType=BIGINT},
            check_user         = #{checkUser,jdbcType=BIGINT},
            check_desc         = #{checkDesc,jdbcType=VARCHAR}
        where commentary_id = #{commentaryId,jdbcType=BIGINT}
    </update>

    <!--逻辑删除-->
    <update id="logicDeleteById">
        update tab_pb_double_commentary
        set del_flag = 1
        where commentary_id = #{commentaryId}
    </update>

    <!-- 检验数据是否存在 -->
    <select id="checkIsExistByCommentId" parameterType="java.lang.Long" resultType="boolean">
        SELECT COUNT(1)
        FROM tab_pb_double_commentary
        WHERE commentary_id = #{commentaryId}
          AND del_flag = 0
    </select>

    <!-- 根据年度查询该数据是否存在 -->
    <select id="checkIsExistByPlanYear" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT COUNT(1)
        FROM tab_pb_double_commentary
        WHERE plan_year = #{planYear} AND org_id = #{orgId} AND del_flag = 0
        <if test="commentaryId != null">
            AND commentary_id != #{commentaryId}
        </if>
    </select>

    <!-- 根据条件查询获取列表 -->
    <select id="selectWithConditions" resultMap="CommentaryVOResultMap">

        SELECT
        -- 组织表
        d.dept_id AS org_id,
        d.`name` AS org_name,
        d.org_short_name,
        -- 双述书评表
        dc.commentary_id,
        dc.plan_year,
        dc.check_result,
        dc.report_date,
        dc.result_situation
        FROM
        tab_pb_double_commentary dc
        LEFT JOIN sys_dept d ON dc.org_id = d.dept_id
        WHERE
        dc.del_flag = 0
        AND d.del_flag = 0

        <!--组织范围  1 当前组织（包括一级下级组织）2当前组织（包含所有下级组织） -->
        <choose>
            <when test="orgRange == 1">
                AND (d.dept_id = #{orgId} OR d.parent_id = #{orgId})
            </when>
            <when test="orgRange == 2">
                AND find_in_set(#{orgId}, d.full_path)
            </when>
            <otherwise>
                AND d.dept_id = #{orgId}
            </otherwise>
        </choose>

        <!--所属年度-->
        <if test="planYear != null and planYear != ''">
            AND dc.plan_year = #{planYear}
        </if>

        <!-- 结果情况 -->
        <if test="resultSituation != null">
            AND dc.result_situation = #{resultSituation}
        </if>

        <!--上报日期-->
        <if test="reportStartDate != null and reportStartDate != ''">
            AND date_format(dc.report_date, '%Y-%m-%d') >= #{reportStartDate}
        </if>
        <if test="reportEndDate != null and reportEndDate != ''">
            AND date_format(dc.report_date, '%Y-%m-%d') &lt;= #{reportEndDate}
        </if>

    </select>

    <!-- 根据主键ID获取详情 -->
    <select id="getCommentDetailByCommentId" resultType="com.egovchina.partybuilding.partybuild.vo.CommentaryDetailsVO">

        SELECT
            -- 组织表
            d.dept_id AS org_id,
            d.`name` AS org_name,
            d.org_short_name,
            d1.`name` AS check_org_name,
            -- 双述双评表
            dc.commentary_id,
            dc.plan_year,
            dc.check_date,
            dc.check_result,
            dc.report_date,
            dc.check_user,
            dc.result_situation,
            dc.check_org,
            dc.check_desc,
            -- 账户表
            a.realname AS check_user_name
        FROM tab_pb_double_commentary dc
        LEFT JOIN sys_dept d ON dc.org_id = d.dept_id
        LEFT JOIN sys_account a ON dc.check_user = a.user_id
        LEFT JOIN sys_dept d1 ON dc.check_org = d1.dept_id
        WHERE dc.del_flag = 0
        AND d.del_flag = 0
        AND dc.commentary_id = #{commentaryId}

    </select>

    <!--书记导出双述双评数据-->
    <select id="selectExportDataForSecretaryByUserId" resultType="java.util.Map">
        SELECT
            dc.plan_year AS date,
            d.label AS assess
        FROM
            tab_pb_double_commentary dc
            INNER JOIN sys_user u ON dc.org_id = u.dept_id
            INNER JOIN sys_dict d ON dc.result_situation = d.id
        WHERE
            dc.del_flag = '0'
            AND u.user_id = #{_parameter}
    </select>

</mapper>