<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizheng.partybuilding.repository.TabPbEduTrainMapper">
    <resultMap id="BaseResultMap" type="com.yizheng.partybuilding.entity.TabPbEduTrain">
        <id column="train_id" jdbcType="BIGINT" property="trainId"/>
        <result column="years" jdbcType="VARCHAR" property="years"/>
        <result column="train_obj" jdbcType="BIGINT" property="trainObj"/>
        <result column="region" jdbcType="BIGINT" property="region"/>
        <result column="tool_num" jdbcType="BIGINT" property="toolNum"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="video" jdbcType="VARCHAR" property="video"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
    </resultMap>
    <resultMap id="BigResultMap" type="com.yizheng.partybuilding.entity.TabPbEduTrain" extends="BaseResultMap">
        <collection property="trainObjList" ofType="com.yizheng.partybuilding.entity.TabPbEduTrainObj">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="train_id" jdbcType="BIGINT" property="trainId"/>
            <result column="user_id" jdbcType="BIGINT" property="userId"/>
            <result column="user_name" jdbcType="VARCHAR" property="userName"/>
            <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
            <result column="gender" jdbcType="VARCHAR" property="gender"/>
            <result column="positive" jdbcType="VARCHAR" property="positive"/>
            <result column="education" jdbcType="BIGINT" property="education"/>
            <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
            <result column="age" jdbcType="BIGINT" property="age"/>
            <result column="admin_flag" jdbcType="BOOLEAN" property="adminFlag"/>
            <result column="report_flag" jdbcType="BOOLEAN" property="reportFlag"/>
        </collection>
        <collection property="attachments" ofType="com.yizheng.commons.domain.TabPbAttachment">
            <id column="attachment_id" jdbcType="BIGINT" property="attachmentId"/>
            <result column="attachment_instance" jdbcType="VARCHAR" property="attachmentInstance"/>
            <result column="attachment_description" jdbcType="LONGVARCHAR" property="attachmentDescription"/>
            <result column="atta_description" jdbcType="VARCHAR" property="description"/>
        </collection>
        <collection property="courses" ofType="com.yizheng.partybuilding.entity.TabPbEduTrainCourse">
            <id column="courses_id" jdbcType="BIGINT" property="id" />
            <result column="courses_train_id" jdbcType="BIGINT" property="trainId" />
            <result column="c_order_num" jdbcType="BIGINT" property="orderNum" />
            <result column="course_name" jdbcType="VARCHAR" property="courseName" />
            <result column="level_avg" jdbcType="VARCHAR" property="levelAvg" />
            <result column="course_time" jdbcType="TIMESTAMP" property="courseTime" />
            <result column="course_forms" jdbcType="BIGINT" property="courseForms" />
            <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
            <result column="address" jdbcType="VARCHAR" property="address" />
        </collection>
    </resultMap>
    <resultMap id="EchartsDtoMap" type="com.yizheng.partybuilding.dto.EchartsDto">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
    </resultMap>
    <sql id="Base_Column_List">
    train_id, years, train_obj, name, description, cover, video, remark, del_flag, order_num,
    create_time, create_userid, create_username, update_time, update_userid, update_username,region
  </sql>
    <sql id="T_Base_Column_List">
    t.train_id, t.years, t.train_obj, t.name, t.description, t.cover, t.video, t.remark, t.del_flag, t.order_num,
    t.create_time, t.create_userid, t.create_username, t.update_time, t.update_userid, t.update_username,t.region
  </sql>
    <sql id="Tc_Base_Column_List">
    course.level_avg ,course.id as courses_id, course.train_id as courses_train_id, course.order_num as c_order_num, course.course_name, course.course_time, course.course_forms, course.teacher_name, course.address
  </sql>
    <sql id="trainObj_Column_List">
    obj.id, obj.train_id, obj.user_id, obj.user_name, obj.id_card, obj.gender, obj.positive, obj.education, obj.order_num as o_order_num ,obj.age,obj.admin_flag,obj.report_flag
  </sql>
    <sql id="attachment_Column_List">
    attachment.description as atta_description, attachment_description, attachment_instance, attachment_id
  </sql>
    <select id="selectiveList" parameterType="com.yizheng.partybuilding.entity.TabPbEduTrain" resultMap="BaseResultMap">
        select
        <include refid="T_Base_Column_List"/>,IFNULL(tool_num,0) as tool_num
        from tab_pb_edu_train t
        left join
        (SELECT count(0) tool_num,host_id FROM tab_pb_attachment
        WHERE attachment_file_type = 58991 and attachment_type = ${@com.yizheng.commons.util.AttachmentType@TRAIN}
        GROUP BY host_id)
        atta on atta.host_id = t.train_id
        where t.del_flag = 0
        <if test="name != null">
            and t.name like #{name}
        </if>
        <if test="trainObj != null">
            and t.train_obj = #{trainObj}
        </if>
        <if test="region != null">
            and t.region = #{region}
        </if>
        ORDER BY t.years,t.create_time DESC
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_train
        where train_id = #{trainId,jdbcType=BIGINT}
    </select>
    <select id="bigSelectByKey" parameterType="java.lang.Long" resultMap="BigResultMap">
        select
        <include refid="T_Base_Column_List"/>,
        <include refid="trainObj_Column_List"/>,
        <include refid="Tc_Base_Column_List"/>,
        <include refid="attachment_Column_List"/>
        from
        tab_pb_edu_train t
        left join tab_pb_edu_train_obj obj on t.train_id = obj.train_id
        left join (SELECT
        c.*,round(AVG(level),1) as level_avg
        FROM
        `tab_pb_edu_train_course` c
        LEFT JOIN tab_pb_edu_train_comment com ON c.id = com.course_id GROUP BY c.id) course on t.train_id = course.train_id
        left join  tab_pb_attachment attachment on t.train_id = attachment.host_id
        and attachment.attachment_type = ${@com.yizheng.commons.util.AttachmentType@TRAIN} and attachment.del_flag = 0
        where  t.train_id = #{trainId,jdbcType=BIGINT}
    </select>
    <select id="getTrainObjStatistics"  resultMap="EchartsDtoMap">
        SELECT
	      COUNT( 0 ) as value,dict.label as name
        FROM
	      tab_pb_edu_train train
	      LEFT JOIN sys_dict dict ON dict.id = train.train_obj
	      WHERE train.del_flag = 0
        GROUP BY train.train_obj;
    </select>
    <select id="getTrainYearsStatistics"  resultMap="EchartsDtoMap">
        SELECT years as name,count(0) as value from tab_pb_edu_train WHERE del_flag = 0 GROUP BY years;
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_train
    where train_id = #{trainId,jdbcType=BIGINT}
  </delete>
    <insert id="insertByBatch" parameterType="java.util.List">
        insert into tab_pb_edu_train ( years, train_obj,
        name, description, cover,
        video, remark, del_flag,
        order_num, create_time, create_userid,
        create_username, update_time, update_userid,
        update_username,region) values
        <foreach collection="list" item="attachmentTables" index="index" separator=",">
            ( #{years,jdbcType=VARCHAR}, #{trainObj,jdbcType=BIGINT},
            #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR},
            #{video,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR},
            #{orderNum,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT},
            #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT},
            #{updateUsername,jdbcType=VARCHAR},#{region,jdbcType=BIGINT})
        </foreach>
    </insert>
    <insert id="insert" parameterType="com.yizheng.partybuilding.entity.TabPbEduTrain">
    insert into tab_pb_edu_train (train_id, years, train_obj, 
      name, description, cover, 
      video, remark, del_flag, 
      order_num, create_time, create_userid, 
      create_username, update_time, update_userid, 
      update_username,region)
    values (#{trainId,jdbcType=BIGINT}, #{years,jdbcType=VARCHAR}, #{trainObj,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, 
      #{video,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, 
      #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, 
      #{updateUsername,jdbcType=VARCHAR},#{region,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduTrain" useGeneratedKeys="true"
            keyProperty="trainId">
        insert into tab_pb_edu_train
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="trainId != null">
                train_id,
            </if>
            <if test="years != null">
                years,
            </if>
            <if test="trainObj != null">
                train_obj,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="video != null">
                video,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="region != null">
                region,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="trainId != null">
                #{trainId,jdbcType=BIGINT},
            </if>
            <if test="years != null">
                #{years,jdbcType=VARCHAR},
            </if>
            <if test="trainObj != null">
                #{trainObj,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="video != null">
                #{video,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                #{region,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduTrain">
        update tab_pb_edu_train
        <set>
            <if test="years != null">
                years = #{years,jdbcType=VARCHAR},
            </if>
            <if test="trainObj != null">
                train_obj = #{trainObj,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="video != null">
                video = #{video,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                region = #{region,jdbcType=BIGINT},
            </if>
        </set>
        where train_id = #{trainId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yizheng.partybuilding.entity.TabPbEduTrain">
    update tab_pb_edu_train
    set years = #{years,jdbcType=VARCHAR},
      train_obj = #{trainObj,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      region = #{region,jdbcType=BIGINT}
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>


    <select id="getStatisticsTest" parameterType="com.yizheng.partybuilding.entity.TabPbEduTrain" resultMap="BaseResultMap">
        select
        <include refid="T_Base_Column_List"/>
        from tab_pb_edu_train t
        where t.del_flag = 0
        GROUP BY t.years

    </select>
    <select id="getStatistceDetailTest" resultMap="EchartsDtoMap">
        SELECT
	      COUNT( 0 ) as value,dict.label as name
        FROM
	      tab_pb_edu_train train
	      LEFT JOIN sys_dict dict ON dict.id = train.train_obj
				LEFT JOIN tab_pb_edu_train_obj obj ON train.train_id=obj.train_id
	      WHERE train.del_flag = 0 and train.years=#{years}
        GROUP BY   train.train_obj;

    </select>
</mapper>