<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbMsgNoticeDeptMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbMsgNoticeDept">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="notice_id" jdbcType="BIGINT" property="noticeId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="recevie_user_id" jdbcType="BIGINT" property="recevieUserId"/>
        <result column="recevie_username" jdbcType="VARCHAR" property="recevieUsername"/>
        <result column="recevie_time" jdbcType="TIMESTAMP" property="recevieTime"/>
        <result column="photo" property="photo"/>
        <result column="doc" property="doc"/>
        <result column="notice_title" property="noticeTitle"/>
        <result column="notice_type" property="noticeType"/>
        <result column="publish_time" property="publishTime"/>
    </resultMap>
    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.egovchina.partybuilding.partybuild.vo.MsgNoticeDeptVO"/>
    <sql id="Base_Column_List">
    id, notice_id, dept_id, dept_name, recevie_user_id, recevie_username, recevie_time
    </sql>
    <!--查询接受党组织集合-->
    <select id="selectMsgNoticeDeptList"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbMsgNoticeDept" resultMap="BaseResultMap">
        SELECT
        dept.*,
        notice.notice_title,
        notice.notice_type,
        notice.publish_time,
        COUNT(if(attac.attachment_file_type='58992',TRUE,NULL)) AS photo,
        COUNT(if(attac.attachment_file_type='58993',TRUE,NULL)) AS doc
        FROM tab_pb_msg_notice notice
        JOIN tab_pb_msg_notice_dept dept ON notice.id = dept.notice_id
        <if test="noticeId == null">
            AND notice.state = '1'
        </if>
        AND notice.del_flag = '0'
        <if test="stateTime != null">
            AND date_format(notice.publish_time, '%Y-%m-%d') &gt;= date_format(#{stateTime}, '%Y-%m-%d')
        </if>
        <if test="endTime != null ">
            AND date_format(notice.publish_time, '%Y-%m-%d') &lt;= date_format(#{endTime}, '%Y-%m-%d')
        </if>
        LEFT JOIN tab_pb_attachment attac ON attac.host_id = dept.notice_id
        AND attac.attachment_type = '50'
        and attac.del_flag = '0'
        <where>
            <if test="deptId != null">
                and dept.dept_id = #{deptId}
            </if>
            <choose>
                <when test="noticeId != null">
                    and dept.notice_id = #{noticeId}
                </when>
                <otherwise>
                    and notice.publish_time IS NOT NULL
                </otherwise>
            </choose>
        </where>
        GROUP BY dept.id
    </select>

    <!--收到文件通知列表-->
    <select id="selectReceiveMsgNotice"
            parameterType="com.egovchina.partybuilding.partybuild.entity.MsgNoticeDeptQueryBean"
            resultMap="BaseResultVoMap">
        select
        d.*,
        n.notice_title,
        n.notice_type,
        n.publish_time,
        ifnull(v.img_num, 0) photo,
        ifnull(v.doc_num, 0) doc
        from
        tab_pb_msg_notice_dept d
        LEFT JOIN tab_pb_msg_notice n on d.notice_id=n.id
        LEFT JOIN view_attachment_count v on v.host_id=d.notice_id and attachment_type='50'
        LEFT JOIN sys_dept dept on dept.dept_id=d.dept_id
        where
        1=1
        <if test="stateTime != null">
            and n.publish_time between #{stateTime} and #{endTime}
        </if>
        <choose>
            <when test="orgRange == 1">
                AND (dept.dept_id = #{deptId} OR dept.parent_id = #{deptId})
            </when>
            <when test="orgRange == 2">
                AND find_in_set(#{deptId}, dept.full_path)
            </when>
            <otherwise>
                AND dept.dept_id = #{deptId}
            </otherwise>
        </choose>
        and
        n.del_flag=0
        and
        n.state=1
    </select>

    <!--查询单条数据-->
    <select id="getTabPbMsgNoticeDeptById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_msg_notice_dept
        where id = #{id}
    </select>

    <!--根据noticeId获取接受党组织集合-->
    <select id="getMsgNoticeDeptListByNoticeId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_msg_notice_dept
        where notice_id = #{noticeId};
    </select>

    <delete id="batchDeleteMsgNoticeDept" parameterType="list">
        delete from tab_pb_msg_notice_dept where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="batchInsertTabPbMsgNoticeDept" parameterType="java.util.List">
        insert into tab_pb_msg_notice_dept(notice_id,dept_id,dept_name,recevie_user_id,recevie_username, recevie_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.noticeId},#{item.deptId},#{item.deptName},#{item.recevieUserId},#{item.recevieUsername},#{item.recevieTime})
        </foreach>
    </insert>


    <insert id="insertSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbMsgNoticeDept">
        insert into tab_pb_msg_notice_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">
                notice_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="deptName != null">
                dept_name,
            </if>
            <if test="recevieUserId != null">
                recevie_user_id,
            </if>
            <if test="recevieUsername != null">
                recevie_username,
            </if>
            <if test="recevieTime != null">
                recevie_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">
                #{noticeId,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="deptName != null">
                #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="recevieUserId != null">
                #{recevieUserId,jdbcType=BIGINT},
            </if>
            <if test="recevieUsername != null">
                #{recevieUsername,jdbcType=VARCHAR},
            </if>
            <if test="recevieTime != null">
                #{recevieTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <!--签收时候用-->
    <update id="updateSigning" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbMsgNoticeDept">
        update tab_pb_msg_notice_dept
        <set>
            <if test="recevieUserId != null">
                recevie_user_id = #{recevieUserId,jdbcType=BIGINT},
            </if>
            <if test="recevieUsername != null">
                recevie_username = #{recevieUsername,jdbcType=VARCHAR},
            </if>
            <if test="recevieTime != null">
                recevie_time = #{recevieTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="checkWhetherPublish" parameterType="long" resultType="java.lang.Integer">
        select COUNT(recevie_user_id) from tab_pb_msg_notice_dept t where notice_id=#{id}
    </select>
</mapper>