<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbEduTestMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbEduTest">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="category" jdbcType="INTEGER" property="category"/>
        <result column="difficulty" jdbcType="INTEGER" property="difficulty"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="total_score" jdbcType="INTEGER" property="totalScore"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="duration" jdbcType="INTEGER" property="duration"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="pass_score" jdbcType="INTEGER" property="passScore"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="publish_flag" jdbcType="BIT" property="publishFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, category, difficulty, title, total_score, type, duration,
        del_flag,pass_score,start_time,end_time,remark,publish_flag,
    create_time, create_userid, create_username, update_time, update_userid, update_username
  </sql>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_test
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getTests" resultMap="TestsResultMap">
        select
        test.id, test.category,dict.label category_name, test.difficulty, test.title, test.total_score, test.type,
        test.duration,
        test.del_flag,test.pass_score,test.start_time,test.end_time,test.remark,test.publish_flag,
        test.create_time, test.create_userid, test.create_username
        from tab_pb_edu_test test
        left join sys_dict dict on test.category=dict.id
        where TRUE
        <if test="category != null and category > 0">
            AND test.category = #{category,jdbcType=INTEGER}
        </if>
        <if test="title != null">
            AND test.title like CONCAT('%',#{title,jdbcType=VARCHAR},'%')
        </if>
        <if test="type != null and type > 0">
            AND test.type = #{type,jdbcType=INTEGER}
        </if>
        <if test="difficulty != null and difficulty > 0">
            AND test.difficulty = #{difficulty,jdbcType=INTEGER}
        </if>
        and test.del_flag='0'
        order by test.id desc
    </select>
    <resultMap id="TestsResultMap" extends="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbEduTest">
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
    </resultMap>

    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from tab_pb_edu_test
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduTest">
    insert into tab_pb_edu_test (id, category, difficulty, 
      title, total_score, type,
        duration, del_flag,
        pass_score,start_time,end_time,remark ,publish_flag,
      create_time, create_userid, create_username, 
      update_time, update_userid, update_username
      )
    values (#{id,jdbcType=INTEGER}, #{category,jdbcType=INTEGER}, #{difficulty,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{totalScore,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},
        #{duration,jdbcType=INTEGER}, #{delFlag,jdbcType=VARCHAR},
        #{passScore,jdbcType=INTEGER},#{startTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},#{remark,jdbcType=VARCHAR},#{publishFlag,jdbcType=BIT},
      #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduTest" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        <!--<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">-->
        <!--SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
        insert into tab_pb_edu_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="difficulty != null">
                difficulty,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="totalScore != null">
                total_score,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="passScore != null">
                pass_score,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="publishFlag != null">
                publish_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                #{category,jdbcType=INTEGER},
            </if>
            <if test="difficulty != null">
                #{difficulty,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="totalScore != null">
                #{totalScore,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="passScore != null">
                #{passScore,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="publishFlag != null">
                #{publishFlag,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByIdSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduTest">
        update tab_pb_edu_test
        <set>
            <if test="category != null">
                category = #{category,jdbcType=INTEGER},
            </if>
            <if test="difficulty != null">
                difficulty = #{difficulty,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="totalScore != null">
                total_score = #{totalScore,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="passScore != null">
                pass_score = #{passScore,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="publishFlag != null">
                publish_flag = #{publishFlag,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateById" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduTest">
    update tab_pb_edu_test
    set category = #{category,jdbcType=INTEGER},
      difficulty = #{difficulty,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      total_score = #{totalScore,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
        duration = #{duration,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=VARCHAR},
        pass_score = #{passScore,jdbcType=INTEGER},
        start_time = #{startTime,jdbcType=TIMESTAMP},
        end_time = #{endTime,jdbcType=TIMESTAMP},
        remark = #{remark,jdbcType=VARCHAR},
        publish_flag = #{publishFlag,jdbcType=BIT} ,
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>