<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbUserTagMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbUserTag">
        <id column="usertag_id" jdbcType="BIGINT" property="usertagId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="tag_type" jdbcType="BIGINT" property="tagType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
    </resultMap>
    <resultMap id="DictBaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbUserTag">
        <id column="usertag_id" jdbcType="BIGINT" property="usertagId"/>
        <result column="tag_type" jdbcType="BIGINT" property="tagType"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="sort" jdbcType="DECIMAL" property="sort"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    </resultMap>
    <sql id="Base_Column_List">
    usertag_id, user_id, tag_type, create_time, create_userid, create_username, update_time, 
    update_userid, update_username
  </sql>
    <sql id="Base_Column_List_notBase">
    usertag_id, user_id, tag_type
  </sql>
    <select id="exist" resultType="java.lang.Boolean">
    <![CDATA[


                         select count(1) from tab_pb_user_tag where user_id = #{userId} and tag_type = #{tagType}


        ]]>
  </select>
    <select id="selectListSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbUserTag"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_user_tag
        where 1=1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="tagType != null">
            and tag_type = #{tagType}
        </if>
    </select>
    <select id="selectAllListSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbUserTag"
            resultMap="DictBaseResultMap">
        SELECT t.usertag_id,if(usertag_id is not null,1,0) as tag_type,t.user_id,id, parent_id, value, label, type, description, sort, remarks
         from (SELECT * FROM sys_dict WHERE parent_id = 59381 and del_flag = 0 and remarks = '1') d
        left join tab_pb_user_tag t on d.id = t.tag_type and t.user_id = #{userId,jdbcType=BIGINT}
        ORDER BY d.sort
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_user_tag
        where usertag_id = #{usertagId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_user_tag
    where usertag_id = #{usertagId,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByUserIdAndTagType" parameterType="java.lang.Long">
    delete from tab_pb_user_tag
    where user_id = #{userId,jdbcType=BIGINT} and tag_type = #{tagType,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbUserTag">
    insert into tab_pb_user_tag (usertag_id, user_id, tag_type, 
      create_time, create_userid, create_username, 
      update_time, update_userid, update_username
      )
    values (#{usertagId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{tagType,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbUserTag">
        insert into tab_pb_user_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="usertagId != null">
                usertag_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="tagType != null">
                tag_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="usertagId != null">
                #{usertagId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="tagType != null">
                #{tagType,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbUserTag">
        update tab_pb_user_tag
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="tagType != null">
                tag_type = #{tagType,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
        </set>
        where usertag_id = #{usertagId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbUserTag">
    update tab_pb_user_tag
    set user_id = #{userId,jdbcType=BIGINT},
      tag_type = #{tagType,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR}
    where usertag_id = #{usertagId,jdbcType=BIGINT}
  </update>
</mapper>