<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbEduTrainObjMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbEduTrainObj">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="train_id" jdbcType="BIGINT" property="trainId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="positive" jdbcType="VARCHAR" property="positive"/>
        <result column="tell_phone" jdbcType="VARCHAR" property="tellPhone"/>
        <result column="education" jdbcType="BIGINT" property="education"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="age" jdbcType="BIGINT" property="age"/>
        <result column="admin_flag" jdbcType="BOOLEAN" property="adminFlag"/>
        <result column="report_flag" jdbcType="BOOLEAN" property="reportFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, train_id, user_id, user_name, id_card, gender, positive, education, order_num,age,admin_flag,report_flag
  </sql>
    <select id="selectList" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduTrainObj" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_train_obj
        where 1=1
        <if test="trainId != null">
            and train_id = #{trainId}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="idCard != null">
            and id_card = #{idCard}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_train_obj
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_train_obj
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByTrainId" parameterType="java.lang.Long">
    delete from tab_pb_edu_train_obj
    where train_id = #{trainId,jdbcType=BIGINT}
  </delete>
    <insert id="insertByBatch" parameterType="java.util.List">
        insert into tab_pb_edu_train_obj ( train_id, user_id,
        user_name, id_card, gender,
        positive, education, order_num
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.trainId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT},
            #{item.userName,jdbcType=VARCHAR}, #{item.idCard,jdbcType=VARCHAR}, #{item.gender,jdbcType=VARCHAR},
            #{item.positive,jdbcType=VARCHAR}, #{item.education,jdbcType=BIGINT}, #{item.orderNum,jdbcType=BIGINT}
            )
        </foreach>
    </insert>
    <insert id="insert" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduTrainObj">
    insert into tab_pb_edu_train_obj (id, train_id, user_id, 
      user_name, id_card, gender, 
      positive, education, order_num
      )
    values (#{id,jdbcType=BIGINT}, #{trainId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{userName,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{positive,jdbcType=VARCHAR}, #{education,jdbcType=BIGINT}, #{orderNum,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduTrainObj">
        insert into tab_pb_edu_train_obj
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="trainId != null">
                train_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="positive != null">
                positive,
            </if>
            <if test="education != null">
                education,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="trainId != null">
                #{trainId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="positive != null">
                #{positive,jdbcType=VARCHAR},
            </if>
            <if test="education != null">
                #{education,jdbcType=BIGINT},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduTrainObj">
        update tab_pb_edu_train_obj
        <set>
            <if test="trainId != null">
                train_id = #{trainId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="positive != null">
                positive = #{positive,jdbcType=VARCHAR},
            </if>
            <if test="education != null">
                education = #{education,jdbcType=BIGINT},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="adminFlag != null">
                admin_flag = #{adminFlag,jdbcType=BOOLEAN},
            </if>
            <if test="reportFlag != null">
                report_flag = #{reportFlag,jdbcType=BOOLEAN},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduTrainObj">
    update tab_pb_edu_train_obj
    set train_id = #{trainId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      positive = #{positive,jdbcType=VARCHAR},
      education = #{education,jdbcType=BIGINT},
      order_num = #{orderNum,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <update id="setAdeminFalse" parameterType="java.lang.Long">
        UPDATE `tab_pb_edu_train_obj` set admin_flag = false where train_id = #{trainId,jdbcType=BIGINT};
    </update>
</mapper>