<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizheng.partybuilding.repository.TabPbEduSpecialMapper">
    <resultMap id="BaseResultMap" type="com.yizheng.partybuilding.entity.TabPbEduSpecial">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="region" jdbcType="BIGINT" property="region"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="special_type" jdbcType="BIGINT" property="specialType"/>
        <result column="duration" jdbcType="BIGINT" property="duration"/>
        <result column="course_manager" jdbcType="VARCHAR" property="courseManager"/>
        <result column="postived" jdbcType="VARCHAR" property="postived"/>
        <result column="course_liaisons" jdbcType="VARCHAR" property="courseLiaisons"/>
        <result column="cell_phone" jdbcType="VARCHAR" property="cellPhone"/>
        <result column="quantity" jdbcType="BIGINT" property="quantity"/>
        <result column="special_time" jdbcType="TIMESTAMP" property="specialTime"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
    </resultMap>
    <resultMap id="TabPbEduSpecialDtoBaseResultMap" extends="BaseResultMap"
               type="com.yizheng.partybuilding.dto.TabPbEduSpecialDto">
        <association property="tabPbEduSpecialCourses" select="com.yizheng.partybuilding.repository.TabPbEduSpecialCourseMapper.selectWithConditions"
                     column="{specialId=id,delFlag=del_flag}" />
        <association property="tabPbEduSpecialTeachers" select="com.yizheng.partybuilding.repository.TabPbEduSpecialTeacherMapper.selectWithConditions"
                     column="{specialId=id,delFlag=del_flag}" />
    </resultMap>
    <sql id="Base_Column_List">
    id, region, title, special_type, duration, course_manager, postived, course_liaisons, 
    cell_phone, quantity, special_time, cover, introduction, del_flag, order_num, create_time, 
    create_userid, create_username, update_time, update_userid, update_username
    </sql>
    <sql id="Base_WhereCase_List">
        <if test="id != null and id != ''">
            AND sp.id = #{id}
        </if>
        <if test="region != null and region != ''">
            AND sp.region = #{region}
        </if>
        <if test="title != null and title != ''">
            AND sp.title like concat('%',#{title},'%')
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND sp.del_flag = #{delFlag}
        </if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_special
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_special
    where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yizheng.partybuilding.entity.TabPbEduSpecial">
    insert into tab_pb_edu_special (id, region, title, 
      special_type, duration, course_manager, 
      postived, course_liaisons, cell_phone, 
      quantity, special_time, cover, 
      introduction, del_flag, order_num, 
      create_time, create_userid, create_username, 
      update_time, update_userid, update_username
      )
    values (#{id,jdbcType=BIGINT}, #{region,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{specialType,jdbcType=BIGINT}, #{duration,jdbcType=BIGINT}, #{courseManager,jdbcType=VARCHAR}, 
      #{postived,jdbcType=VARCHAR}, #{courseLiaisons,jdbcType=VARCHAR}, #{cellPhone,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=BIGINT}, #{specialTime,jdbcType=TIMESTAMP}, #{cover,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{orderNum,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR}
      )
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.yizheng.partybuilding.entity.TabPbEduSpecial">
        insert into tab_pb_edu_special
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="region != null">
                region,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="specialType != null">
                special_type,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="courseManager != null">
                course_manager,
            </if>
            <if test="postived != null">
                postived,
            </if>
            <if test="courseLiaisons != null">
                course_liaisons,
            </if>
            <if test="cellPhone != null">
                cell_phone,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="specialTime != null">
                special_time,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="region != null">
                #{region,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="specialType != null">
                #{specialType,jdbcType=BIGINT},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=BIGINT},
            </if>
            <if test="courseManager != null">
                #{courseManager,jdbcType=VARCHAR},
            </if>
            <if test="postived != null">
                #{postived,jdbcType=VARCHAR},
            </if>
            <if test="courseLiaisons != null">
                #{courseLiaisons,jdbcType=VARCHAR},
            </if>
            <if test="cellPhone != null">
                #{cellPhone,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=BIGINT},
            </if>
            <if test="specialTime != null">
                #{specialTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduSpecial">
        update tab_pb_edu_special
        <set>
            <if test="region != null">
                region = #{region,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="specialType != null">
                special_type = #{specialType,jdbcType=BIGINT},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=BIGINT},
            </if>
            <if test="courseManager != null">
                course_manager = #{courseManager,jdbcType=VARCHAR},
            </if>
            <if test="postived != null">
                postived = #{postived,jdbcType=VARCHAR},
            </if>
            <if test="courseLiaisons != null">
                course_liaisons = #{courseLiaisons,jdbcType=VARCHAR},
            </if>
            <if test="cellPhone != null">
                cell_phone = #{cellPhone,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=BIGINT},
            </if>
            <if test="specialTime != null">
                special_time = #{specialTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yizheng.partybuilding.entity.TabPbEduSpecial">
    update tab_pb_edu_special
    set region = #{region,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      special_type = #{specialType,jdbcType=BIGINT},
      duration = #{duration,jdbcType=BIGINT},
      course_manager = #{courseManager,jdbcType=VARCHAR},
      postived = #{postived,jdbcType=VARCHAR},
      course_liaisons = #{courseLiaisons,jdbcType=VARCHAR},
      cell_phone = #{cellPhone,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=BIGINT},
      special_time = #{specialTime,jdbcType=TIMESTAMP},
      cover = #{cover,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="queryCourseSystem" parameterType="map" resultMap="TabPbEduSpecialDtoBaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tab_pb_edu_special as sp
        <where>
            <include refid="Base_WhereCase_List"/>
        </where>
    </select>
    <select id="queryCourseSystemById" parameterType="map" resultMap="TabPbEduSpecialDtoBaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tab_pb_edu_special as sp
        <where>
            <include refid="Base_WhereCase_List"/>
        </where>
    </select>
</mapper>