<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbActivitiesAssessMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbActivitiesAssess">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="host_id" jdbcType="BIGINT" property="hostId"/>
        <result column="years" jdbcType="INTEGER" property="years"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="assess_result" jdbcType="BIGINT" property="assessResult"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="sign_in_time" jdbcType="TIMESTAMP" property="signInTime"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="WithCountResultMap"
               type="com.egovchina.partybuilding.partybuild.dto.TabPbActivitiesAssessDto">
        <result column="audit_result" jdbcType="BIGINT" property="auditResult"/>
        <result column="video_num" jdbcType="INTEGER" property="videoNum"/>
        <result column="img_num" jdbcType="BIGINT" property="imgNum"/>
        <result column="doc_num" jdbcType="BIGINT" property="docNum"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="WithAboutResultMap"
               type="com.egovchina.partybuilding.partybuild.dto.TabPbActivitiesAssessDto">
        <collection property="historyReviews"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbActivitiesAssessVerifyMapper.selectWithConditions"
                    column="assessId=id"/>
        <!--附件-->
        <collection property="attachments"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbAttachmentMapper.selectWithConditions"
                    column="{hostId=host_id,attachmentType=attachment_type}"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, host_id, dept_id, years, user_id, username, type, assess_result,
    del_flag, create_time, create_userid, create_username, update_time, update_userid, 
    update_username
  </sql>
    <sql id="Base_WhereCase_List">
        <if test="hostId != null and hostId != ''">
            AND aa.host_id = #{hostId}
        </if>
        <if test="deptId != null and deptId != ''">
            AND aa.dept_id = #{deptId}
        </if>
        <if test="years != null and years != ''">
            AND aa.years = #{years}
        </if>
        <if test="userId != null and userId != ''">
            AND aa.user_id = #{userId}
        </if>
        <if test="username != null and username != ''">
            AND aa.username = #{username}
        </if>
        <if test="type != null and type != ''">
            AND aa.type = #{type}
        </if>
        <if test="assessResult != null and assessResult != ''">
            AND aa.assess_result = #{assessResult}
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND aa.del_flag = #{delFlag}
        </if>
        <if test="beginCreateTime != null and beginCreateTime != ''">
            AND date_format(aa.create_time, '%Y-%m-%d') >= date_format(#{beginCreateTime}, '%Y-%m-%d')
        </if>
        <if test="endCreateTime != null and endCreateTime != ''">
            AND date_format(aa.create_time, '%Y-%m-%d') &lt;= date_format(#{endCreateTime}, '%Y-%m-%d')
        </if>
        <if test="createUserid != null and createUserid != ''">
            AND aa.create_userid = #{createUserid}
        </if>
        <if test="createUsername != null and createUsername != ''">
            AND aa.create_username = #{createUsername}
        </if>
        <if test="updateTime != null and updateTime != ''">
            AND aa.update_time = #{updateTime}
        </if>
        <if test="updateUserid != null and updateUserid != ''">
            AND aa.update_userid = #{updateUserid}
        </if>
        <if test="updateUsername != null and updateUsername != ''">
            AND aa.update_username = #{updateUsername}
        </if>
        <if test="signInTime != null and signInTime != ''">
            AND aa.sign_in_time = #{signInTime}
        </if>
        <!--组织范围  1 当前组织（包括一级下级组织）2当前组织（包含所有下级组织） -->
        <choose>
            <when test="orgRange == 1">
                AND (d.dept_id = #{rangeDeptId} OR d.parent_id = #{rangeDeptId})
            </when>
            <when test="orgRange == 2">
                AND find_in_set(#{rangeDeptId}, d.full_path)
            </when>
            <otherwise>
                AND d.dept_id = #{rangeDeptId}
            </otherwise>
        </choose>
        <if test="auditResult != null and auditResult != ''">
            <choose>
                <when test="auditResult == 1">
                    AND aav.content IS NULL
                </when>
                <when test="auditResult == 2">
                    AND aav.content IS NOT NULL
                </when>
                <otherwise>
                    AND aav.content = #{auditResult}
                </otherwise>
            </choose>
        </if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_activities_assess
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_activities_assess
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbActivitiesAssess">
    insert into tab_pb_activities_assess (id, host_id, dept_id, years,
      user_id, username,
      type, assess_result, del_flag,
      create_time, create_userid,
      create_username, update_time, update_userid, 
      update_username, sign_in_time)
    values (#{id,jdbcType=BIGINT}, #{hostId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT}, #{years,jdbcType=INTEGER},
      #{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{assessResult,jdbcType=BIGINT}, #{delFlag,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT},
      #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, 
      #{updateUsername,jdbcType=VARCHAR}, #{signInTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbActivitiesAssess">
        insert into tab_pb_activities_assess
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="hostId != null">
                host_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="years != null">
                years,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="assessResult != null">
                assess_result,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="signInTime != null">
                sign_in_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="hostId != null">
                #{hostId,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="years != null">
                #{years,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="assessResult != null">
                #{assessResult,jdbcType=BIGINT},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="signInTime != null">
                #{signInTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbActivitiesAssess">
        update tab_pb_activities_assess
        <set>
            <if test="hostId != null">
                host_id = #{hostId,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="years != null">
                years = #{years,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="assessResult != null">
                assess_result = #{assessResult,jdbcType=BIGINT},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="signInTime != null">
                sign_in_time = #{signInTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbActivitiesAssess">
    update tab_pb_activities_assess
    set host_id = #{hostId,jdbcType=BIGINT},
      dept_id = #{deptId,jdbcType=BIGINT},
      years = #{years,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      assess_result = #{assessResult,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      sign_in_time = #{signInTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!--逻辑删除-->
    <update id="logicDeleteById">
        UPDATE tab_pb_activities_assess aa
        LEFT JOIN tab_pb_activities_assess_verify aav ON aa.id = aav.assess_id
        SET aa.del_flag = 1, aav.ebl_flag = 0
        WHERE aa.id = #{id}
  </update>

    <!--根据条件查询-->
    <select id="selectWithConditions" parameterType="java.util.Map" resultMap="WithCountResultMap">
        SELECT
        aa.*,
        d.NAME AS dept_name,
        aav.content AS audit_result,
        ifnull(t.video_num, 0) video_num,
        ifnull(t.img_num, 0) img_num,
        ifnull(t.doc_num, 0) doc_num
        FROM
        tab_pb_activities_assess aa
        LEFT JOIN sys_dept d USING ( dept_id )
        LEFT JOIN tab_pb_activities_assess_verify aav ON aa.id = aav.assess_id AND aav.ebl_flag = 1
        LEFT JOIN view_attachment_count t on aa.host_id = t.host_id and t.attachment_type = 32
        <where>
            <include refid="Base_WhereCase_List"/>
        </where>
    </select>

    <!--根据用户ID和评议年度查询评议数据-->
    <select id="selectByUserIdAndYear" resultMap="BaseResultMap">
        SELECT aa.*,
          d.`name` AS dept_name
        FROM tab_pb_activities_assess aa
        LEFT JOIN sys_dept d USING ( dept_id )
        where aa.user_id = #{userId}
        and aa.years = #{year} and aa.del_flag = 0
    </select>

    <!--查看详情-->
    <select id="detailWithAbout" parameterType="java.lang.Long" resultMap="WithAboutResultMap">
        SELECT
            aa.*,
            d.NAME AS dept_name,
            '1' AS review_ebl_flag,
            '0' AS history_review_ebl_flag,
            '32' AS attachment_type,
            'DOCUMENT' AS file_type_doc,
            'IMAGE' AS file_type_img,
            'VIDEO' AS file_type_video
        FROM
          tab_pb_activities_assess aa
        LEFT JOIN sys_dept d USING(dept_id)
        WHERE id = #{id}
    </select>

    <!--根据组织ID查询待评议的党员列表-->
    <select id="selectPreAssessMemberWithConditions" parameterType="java.util.Map"
            resultType="com.egovchina.partybuilding.partybuild.dto.AssessUserDto">
        SELECT
            u.user_id AS userId,
            u.realname AS username
        FROM
            sys_user u
        WHERE
            u.dept_id = #{deptId}
            AND u.identity_type = #{identity_type}
            AND u.del_flag = 0
            AND NOT EXISTS ( SELECT 1 FROM tab_pb_activities_assess aa
              WHERE aa.user_id = u.user_id AND aa.years = #{year} AND aa.del_flag = 0 )
    </select>

    <!--批量新增-->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO tab_pb_activities_assess(host_id, dept_id, years, user_id, username, `type`, assess_result,
        create_time,
        create_userid, create_username, update_time, update_userid, update_username)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.hostId}, #{item.deptId}, #{item.years}, #{item.userId}, #{item.username}, #{item.type},
            #{item.assessResult}, #{item.createTime}, #{item.createUserid}, #{item.createUsername},
            #{item.updateTime}, #{item.updateUserid}, #{item.updateUsername})
        </foreach>
    </insert>

    <!--签到-->
    <update id="signInById" parameterType="java.lang.Long">
        UPDATE tab_pb_activities_assess
        SET sign_in_time = now()
        WHERE id = #{id} AND del_flag = 0
        AND sign_in_time IS NULL
    </update>

</mapper>