<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbEduPositionMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbEduPosition">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="if_site" jdbcType="TINYINT" property="ifSite"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="sub_types" jdbcType="VARCHAR" property="subTypes"/>
        <result column="property" jdbcType="BIGINT" property="property"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="traffic_info" jdbcType="VARCHAR" property="trafficInfo"/>
        <result column="grid" jdbcType="VARCHAR" property="grid"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="quantity" jdbcType="BIGINT" property="quantity"/>
        <result column="open_time" jdbcType="VARCHAR" property="openTime"/>
        <result column="region" jdbcType="BIGINT" property="region"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="contacts" jdbcType="VARCHAR" property="contacts"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="total_duration" jdbcType="BIGINT" property="totalDuration"/>
    </resultMap>
    <!--包含关联数据的ResultMap-->
    <resultMap extends="BaseResultMap" id="WithAboutInfoResultMap"
               type="com.egovchina.partybuilding.partybuild.dto.TabPbEduPositionDto">
        <collection property="eduPositionProjects"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbEduPositionProjectMapper.selectWithConditions"
                    column="delFlag=del_flag,positionId=id"/>
        <collection property="eduPositionCourses"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbEduPositionCourseMapper.selectWithConditions"
                    column="delFlag=del_flag,positionId=id"/>
        <collection property="tabPbAttachments"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbAttachmentMapper.selectWithConditions"
                    column="{hostId=id,attachmentType=attachment_type}"/>
    </resultMap>

    <!--智能选学ResultMap-->
    <resultMap id="ZLXXResultMap" type="com.egovchina.partybuilding.partybuild.dto.TabPbEduIntelligentStudyDto">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="BIGINT" property="type"/>
        <result column="property" jdbcType="BIGINT" property="property"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="quantity" jdbcType="BIGINT" property="quantity"/>
        <result column="total_duration" jdbcType="BIGINT" property="totalDuration"/>
    </resultMap>

    <!--智能选学详情ResultMap-->
    <resultMap extends="ZLXXResultMap" id="ZLXXDetailResultMap" type="com.egovchina.partybuilding.partybuild.dto.TabPbEduIntelligentStudyDto">
        <collection property="eduPositionProjects"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbEduPositionProjectMapper.selectWithConditions"
                    column="delFlag=del_flag,positionId=id"/>
        <collection property="eduPositionCourses"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbEduPositionCourseMapper.selectWithConditions"
                    column="delFlag=del_flag,positionId=id"/>
        <collection property="teachers"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbEduTeachersMapper.selectTeacherWithCoursesForZZLX"
                    column="teacherType=teacher_type"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, if_site, type, sub_types, property, address, traffic_info, grid, introduction, quantity, open_time, region, label,
    contacts, del_flag, order_num, phone, create_time, create_userid, create_username, 
    update_time, update_userid, update_username, total_duration
  </sql>
    <!--基础where case-->
    <sql id="Base_WhereCase_List">
        <if test="id != null and id != ''">
            AND ep.id = #{id}
        </if>
        <if test="name != null and name != ''">
            AND ep.name like concat('%',#{name},'%')
        </if>
        <if test="ifSite != null and ifSite != ''">
            AND ep.if_site = #{ifSite}
        </if>
        <if test="type != null and type != ''">
            AND ep.type = #{type}
        </if>
        <if test="subTypes != null and subTypes != ''">
            AND find_in_set(#{subTypes}, ep.sub_types)
        </if>
        <if test="property != null and property != ''">
            AND ep.property = #{property}
        </if>
        <if test="address != null and address != ''">
            AND ep.address like concat('%',#{address},'%')
        </if>
        <if test="trafficInfo != null and trafficInfo != ''">
            AND ep.traffic_info like concat('%', #{trafficInfo}, '%')
        </if>
        <if test="grid != null and grid != ''">
            AND ep.grid = #{grid}
        </if>
        <if test="introduction != null and introduction != ''">
            AND ep.introduction = #{introduction}
        </if>
        <if test="quantity != null and quantity != ''">
            AND ep.quantity &lt;= #{quantity}
        </if>
        <if test="openTime != null and openTime != ''">
            AND ep.open_time = #{openTime}
        </if>
        <if test="region != null and region != ''">
            AND ep.region = #{region}
        </if>
        <if test="label != null and label != ''">
            AND ep.label = #{label}
        </if>
        <if test="contacts != null and contacts != ''">
            AND ep.contacts = #{contacts}
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND ep.del_flag = #{delFlag}
        </if>
        <if test="orderNum != null and orderNum != ''">
            AND ep.order_num = #{orderNum}
        </if>
        <if test="phone != null and phone != ''">
            AND ep.phone = #{phone}
        </if>
        <if test="createTime != null and createTime != ''">
            AND ep.create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''">
            AND ep.create_userid = #{createUserid}
        </if>
        <if test="createUsername != null and createUsername != ''">
            AND ep.create_username = #{createUsername}
        </if>
        <if test="updateTime != null and updateTime != ''">
            AND ep.update_time = #{updateTime}
        </if>
        <if test="updateUserid != null and updateUserid != ''">
            AND ep.update_userid = #{updateUserid}
        </if>
        <if test="updateUsername != null and updateUsername != ''">
            AND ep.update_username = #{updateUsername}
        </if>
        <if test="totalDuration != null and totalDuration != ''">
            AND ep.total_duration = #{totalDuration}
        </if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_position
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_position
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduPosition">
    insert into tab_pb_edu_position (id, name, if_site,
      type, sub_types, property,
      address, traffic_info, grid, introduction,
      quantity, open_time, region, 
      label, contacts, del_flag,
      order_num, phone, create_time, 
      create_userid, create_username, update_time, 
      update_userid, update_username, total_duration)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{ifSite,jdbcType=TINYINT},
      #{type,jdbcType=BIGINT}, #{subTypes,jdbcType=VARCHAR}, #{property,jdbcType=BIGINT},
      #{address,jdbcType=VARCHAR}, #{trafficInfo,jdbcType=VARCHAR}, #{grid,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR},
      #{quantity,jdbcType=BIGINT}, #{openTime,jdbcType=VARCHAR}, #{region,jdbcType=BIGINT},
      #{label,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR},
      #{orderNum,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR}, #{totalDuration,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduPosition">
        insert into tab_pb_edu_position
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="ifSite != null">
                if_site,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="subTypes != null">
                sub_types,
            </if>
            <if test="property != null">
                property,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="trafficInfo != null">
                traffic_info,
            </if>
            <if test="grid != null">
                grid,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="openTime != null">
                open_time,
            </if>
            <if test="region != null">
                region,
            </if>
            <if test="label != null">
                label,
            </if>
            <if test="contacts != null">
                contacts,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="totalDuration != null">
                total_duration,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="ifSite != null">
                #{ifSite,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="subTypes != null">
                #{subTypes,jdbcType=VARCHAR},
            </if>
            <if test="property != null">
                #{property,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="trafficInfo != null">
                #{trafficInfo,jdbcType=VARCHAR},
            </if>
            <if test="grid != null">
                #{grid,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=BIGINT},
            </if>
            <if test="openTime != null">
                #{openTime,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                #{region,jdbcType=BIGINT},
            </if>
            <if test="label != null">
                #{label,jdbcType=VARCHAR},
            </if>
            <if test="contacts != null">
                #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="totalDuration != null">
                #{totalDuration,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduPosition">
        update tab_pb_edu_position
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="ifSite != null">
                if_site = #{ifSite,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="subTypes != null">
                sub_types = #{subTypes,jdbcType=VARCHAR},
            </if>
            <if test="property != null">
                property = #{property,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="trafficInfo != null">
                traffic_info = #{trafficInfo,jdbcType=VARCHAR},
            </if>
            <if test="grid != null">
                grid = #{grid,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=BIGINT},
            </if>
            <if test="openTime != null">
                open_time = #{openTime,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                region = #{region,jdbcType=BIGINT},
            </if>
            <if test="label != null">
                label = #{label,jdbcType=VARCHAR},
            </if>
            <if test="contacts != null">
                contacts = #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="totalDuration != null">
                total_duration = #{totalDuration,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduPosition">
    update tab_pb_edu_position
    set name = #{name,jdbcType=VARCHAR},
      if_site = #{ifSite,jdbcType=TINYINT},
      type = #{type,jdbcType=VARCHAR},
      sub_types = #{subTypes,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      traffic_info = #{trafficInfo,jdbcType=VARCHAR},
      grid = #{grid,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=BIGINT},
      open_time = #{openTime,jdbcType=VARCHAR},
      region = #{region,jdbcType=BIGINT},
      label = #{label,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      total_duration = #{totalDuration,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!--根据条件查询-->
    <select id="selectWithConditions" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from tab_pb_edu_position ep
        <where>
            <include refid="Base_WhereCase_List"/>
        </where>
    </select>

    <!--根据条件查询智能选学信息-->
    <select id="selectZLXXWithConditions" parameterType="java.util.Map"
            resultMap="ZLXXResultMap">
        SELECT
            ep.id,
            ep.`name`,
            ep.type,
            ep.property,
            ep.address,
            ep.quantity,
            ep.total_duration
        FROM
        tab_pb_edu_position ep
        <where>
            ep.del_flag = 0
            <if test="region != null and region != ''">
                AND ep.region = #{region}
            </if>
            <if test="jdType != null and jdType != ''">
                AND find_in_set(#{jdType}, ep.type)
            </if>
            <if test="dateRange != null and dateRange != ''">
                <choose>
                    <when test="dateRange == 1">
                        AND ep.total_duration &lt;= 2 * 60
                    </when>
                    <when test="dateRange == 2">
                        AND ep.total_duration BETWEEN 2 * 60 AND 6 * 60
                    </when>
                    <when test="dateRange == 3">
                        AND ep.total_duration > 6 * 60
                    </when>
                </choose>
            </if>
            <if test="quantity != null and quantity != ''">
                AND ep.quantity &lt;= #{quantity}
            </if>
            <if test="key != null and key != ''">
                AND ep.name like concat('%', #{key}, '%')
            </if>
        </where>
    </select>

    <!--逻辑删除-->
    <update id="logicDeleteById">
        UPDATE tab_pb_edu_position ep
        LEFT JOIN tab_pb_edu_position_project epp ON ep.id = epp.position_id
        LEFT JOIN tab_pb_edu_position_course epc ON ep.id = epc.position_id
        SET ep.del_flag = 1, epp.del_flag = 1
        WHERE ep.id = #{id}
    </update>

    <!--根据ID查看详情 包括关联数据-->
    <select id="selectWithAboutInfoById" parameterType="java.lang.Long" resultMap="WithAboutInfoResultMap">
        select
          ep.*,
          '22' as attachment_type
        from tab_pb_edu_position ep
        where ep.id = #{id} and ep.del_flag = 0
    </select>

    <!--智能选学使用-根据ID查看详情 包括关联数据-->
    <select id="selectZLXXWithAboutInfoById" parameterType="java.lang.Long" resultMap="ZLXXDetailResultMap">
        select
          ep.*,
          '22' as attachment_type,
          CASE WHEN ep.type IN ( 59025, 59026, 59027, 59030 ) THEN '59055,59056' WHEN ep.type = 59028 THEN '59070'
              WHEN ep.type = 59029 THEN 59069 ELSE '59029,59067,59068' END AS teacher_type
        from tab_pb_edu_position ep
        where ep.id = #{id} and ep.del_flag = 0
    </select>
</mapper>