<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizheng.partybuilding.repository.TabPbEduTeachersCourseMapper">
    <resultMap id="BaseResultMap" type="com.yizheng.partybuilding.entity.TabPbEduTeachersCourse">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="teacher_id" jdbcType="BIGINT" property="teacherId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="cover" property="cover"/>
        <result column="outline" property="outline"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.yizheng.partybuilding.entity.TabPbEduTeachersCourse">
        <result column="outline" jdbcType="LONGVARCHAR" property="outline"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, teacher_id, title, del_flag, order_num, create_time, create_userid, create_username, 
    update_time, update_userid, update_username
  </sql>
    <sql id="Blob_Column_List">
    outline
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tab_pb_edu_teachers_course
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectList" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachersCourse" resultMap="ResultMapWithBLOBs">
        select course.* from tab_pb_edu_teachers_course course
        where course.del_flag = 0
        <if test="teacherId != null and teacherId != '' ">
          and  course.teacher_id = #{teacherId}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_teachers_course
    where teacher_id = #{teacherId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachersCourse">
    insert into tab_pb_edu_teachers_course (id, teacher_id, title, 
      del_flag, order_num, create_time, 
      create_userid, create_username, update_time, 
      update_userid, update_username, outline
      )
    values (#{id,jdbcType=BIGINT}, #{teacherId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{orderNum,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserid,jdbcType=BIGINT}, #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR}, #{outline,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachersCourse" useGeneratedKeys="true" keyProperty="id">
        insert into tab_pb_edu_teachers_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="outline != null">
                outline,
            </if>
            <if test="cover != null">
                cover,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="teacherId != null">
                #{teacherId,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="outline != null">
                #{outline,jdbcType=LONGVARCHAR},
            </if>
            <if test="cover != null">
                #{cover},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachersCourse">
        update tab_pb_edu_teachers_course
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="outline != null">
                outline = #{outline,jdbcType=LONGVARCHAR},
            </if>
            <if test="cover != null">
                cover #{cover},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachersCourse">
    update tab_pb_edu_teachers_course
    set teacher_id = #{teacherId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      outline = #{outline,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachersCourse">
    update tab_pb_edu_teachers_course
    set teacher_id = #{teacherId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="tombstone" parameterType="com.yizheng.partybuilding.entity.TabPbEduTeachersCourse">
        update tab_pb_edu_teachers_course
        <set>
            del_flag = 1,
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>