<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbMessageMapper">

    <!--批量新增站内消息-->
    <insert id="batchInsertTabPbMessageSend" useGeneratedKeys="true" keyProperty="sendId" keyColumn="send_id"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbMessageSend">
        INSERT INTO tab_pb_message_send (send_org_id, send_org_name, type, title, content, send_time, del_flag,
        create_time, create_userid, create_username )
        VALUES
        <foreach collection="list" item="a" separator=",">
            ( #{a.sendOrgId}, #{a.sendOrgName}, #{a.type}, #{a.title}, #{a.content}, #{a.sendTime},
            #{a.delFlag}, #{a.createTime}, #{a.createUserId}, #{a.createUsername} )
        </foreach>
    </insert>

    <!--批量新增接收消息-->
    <insert id="batchInsertTabPbMessageReceive" useGeneratedKeys="true" keyProperty="receiveId" keyColumn="receive_id"
            parameterType="java.util.List">
        INSERT IGNORE INTO tab_pb_message_receive ( send_id, receiver_id, receiver_name, receiver_type )
        VALUES
        <foreach collection="list" item="a" separator=",">
            ( #{a.sendId, jdbcType=BIGINT}, #{a.receiverId, jdbcType=BIGINT}, #{a.receiverName, jdbcType=VARCHAR},
            #{a.receiverType, jdbcType=BIGINT} )
        </foreach>
    </insert>

    <!--批量更新站内消息-->
    <update id="batchUpdateStationNews" parameterType="java.util.List">
        UPDATE tab_pb_message_send
        SET
        <foreach collection="list" item="a" separator=",">
            send_org_id = #{a.sendOrgId},
            send_org_name = #{a.sendOrgName},
            type = #{a.type},
            title = #{a.title},
            content = #{a.content},
            send_time = #{a.sendTime},
            del_flag = #{a.delFlag}
        </foreach>
        WHERE
        <foreach collection="list" item="a" separator=",">
            send_id = #{a.sendId}
        </foreach>
        AND
        del_flag = '0'
    </update>

    <update id="updateTabPbMessageReceive">
      UPDATE tab_pb_message_receive
        SET receive_user_id = #{receiveUserId},
        receive_user_name = #{receiveUserName}
        WHERE
            send_id = #{sendId}
    </update>

    <!--批量修改消息接收表-->
    <update id="batchUpdateTabPbMessageReceive">
        <foreach collection="list" item="a" separator=";">
            UPDATE tab_pb_message_receive
            <set>
                send_id = #{a.sendId},
                receiver_id = #{a.receiverId},
                receiver_name = #{a.receiverName},
                receiver_type = #{a.receiverType}
            </set>
            WHERE
            send_id = #{a.sendId}
        </foreach>
    </update>

    <!--修改消息发送表实体-->
    <update id="updateTabPbMessageSend">
        UPDATE tab_pb_message_send
        SET
            sender_id = #{senderId},
            sender_name = #{senderName},
            type = #{type},
            title = #{title},
            content = #{content},
            send_time = #{sendTime}
        WHERE
            send_id = #{sendId}
        AND
        del_flag = '0'
    </update>

    <!--更新消息接收状态-->
    <update id="updateTabPbMessageReceiveBySendIdAndReceiverId">
        UPDATE tab_pb_message_receive
        SET receive_status = 1,
            receive_time = now()
        WHERE
            send_id = #{sendId}
            AND receiver_id = #{receiverId}
    </update>

    <!--更新接受状态为0-->
    <update id="updateMessageTipStatusBySendIdsAndReceiverId">
        UPDATE tab_pb_message_receive mr
        INNER JOIN tab_pb_message_send ms ON mr.send_id = ms.send_id
        SET mr.receive_status = 0
        WHERE ms.send_id IN
        <foreach collection="sendIds" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
          AND mr.receiver_id = #{receiverId}
    </update>

    <!--查询站内消息VO-->
    <select id="selectMessageSendVO" resultType="com.egovchina.partybuilding.partybuild.vo.MessageSendVO">
      SELECT
            s.send_id AS sendId,
            s.sender_id AS senderId,
            s.sender_name AS senderName,
            s.type AS type,
            s.title AS title,
            s.content AS content,
            s.send_time AS sendTime
        FROM
            tab_pb_message_send s
        WHERE
            s.send_id = #{sendId}
            AND s.del_flag = 0
    </select>

    <!--获取站内消息列表-->
    <select id="selectMessageSendVOList" resultType="com.egovchina.partybuilding.partybuild.vo.MessageSendVO">
      SELECT
            s.*
        FROM
            tab_pb_message_send s
            LEFT JOIN tab_pb_message_receive r ON s.send_id = r.send_id
        WHERE
            r.receiver_id = #{receiverId}
            AND r.receiver_type = 0
            AND del_flag = 0
    </select>

    <!--检测消息是否存在-->
    <select id="checkMessageSendIfExists" resultType="java.lang.Boolean">
      SELECT
            count( 1 )
        FROM
            tab_pb_message_send
        WHERE
            send_id = #{sendId} and del_flag = 0
    </select>

    <resultMap id="expireLeadTeamResultMap" type="com.egovchina.partybuilding.partybuild.vo.LeadTeamExpireVO">
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="realname" jdbcType="VARCHAR" property="realname"/>
    </resultMap>

    <!--查询要到期的领导班子-->
    <select id="queryTheLeadershipTeamThatIsDueToExpire"
            resultMap="expireLeadTeamResultMap">
       SELECT
            a.user_id,
            a.realname
        FROM
            sys_account a
            INNER JOIN sys_account_org o ON o.account_id = a.user_id
            INNER JOIN sys_dept d ON d.dept_id = o.org_id
        WHERE
            a.del_flag = '0'
            AND o.del_flag = 0
            AND d.del_flag = '0'
            AND o.`cascade` = 1
            AND EXISTS (
            SELECT
                1
            FROM
                (
                SELECT
                    d.org_inner_code
                FROM
                    tab_pb_lead_team t
                    INNER JOIN sys_dept d ON t.org_id = d.dept_id
                WHERE
                    t.del_flag = '0'
                    AND d.del_flag = '0'
                    AND t.current = 1
                    AND (
                        DATE_FORMAT( t.change_date, '%Y-%m-%d' ) = DATE_FORMAT( DATE_ADD( NOW( ), INTERVAL 6 MONTH ), '%Y-%m-%d' )
                        OR DATE_FORMAT( t.change_date, '%Y-%m-%d' ) = DATE_FORMAT( DATE_ADD( NOW( ), INTERVAL 1 MONTH ), '%Y-%m-%d' )
                    )
                ) t
            WHERE
                t.org_inner_code LIKE concat( d.org_inner_code, '%' )
            )
            AND NOT EXISTS (
            SELECT
                1
            FROM
                tab_pb_message_receive r
                INNER JOIN tab_pb_message_send s ON r.send_id = s.send_id
            WHERE
                r.receiver_id = a.user_id
                AND s.del_flag = 0
                AND s.type = 59680
            AND TIMESTAMPDIFF( MONTH, s.send_time, now( ) ) != 5
            )
    </select>

    <!--获取某个党员在某个组织下的消息列表-->
    <select id="selectOrgMessageSendVOList"
            resultType="com.egovchina.partybuilding.partybuild.vo.MessageSendVO">
        SELECT
            s.send_id AS sendId,
            s.sender_id AS senderId,
            s.sender_name AS senderName,
            s.type AS type,
            s.title AS title,
            s.content AS content,
            s.send_time AS sendTime,
            r.receive_status AS receiveStatus,
            r.receiver_type AS receiverType,
            r.receiver_id AS receiverId
        FROM
            tab_pb_message_send s
            LEFT JOIN tab_pb_message_receive r ON s.send_id = r.send_id
            LEFT JOIN sys_dept d ON d.dept_id = r.receiver_id
        WHERE
            s.del_flag = 0
            <if test="sendTimeStart != null">
                AND date_format(s.send_time, '%Y-%m-%d') >= #{sendTimeStart}
            </if>
            <if test="sendTimeEnd != null">
                AND date_format(s.send_time, '%Y-%m-%d') &lt;= #{sendTimeEnd}
            </if>
            <if test="title != null and title != ''">
                AND s.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="type != null and type != ''">
                AND s.type = #{type}
            </if>
            <if test="receiveStatus != null">
                AND r.receive_status = #{receiveStatus}
            </if>
            <!--组织范围  1 当前组织（包括一级下级组织）2当前组织（包含所有下级组织） -->
            <if test="orgRange != null and orgRange != ''">
                <choose>
                    <when test="orgRange == 1">
                        AND (d.dept_id = #{rangeDeptId} OR d.parent_id = #{rangeDeptId})
                    </when>
                    <when test="orgRange == 2">
                        AND find_in_set(#{rangeDeptId}, d.full_path)
                    </when>
                </choose>
            </if>
            <if test="orgRange == null or orgRange.toString() == ''">
                AND d.dept_id = #{rangeDeptId}
            </if>
        ORDER BY s.send_time DESC
    </select>

    <!--判断接收者id在数据库中是否存在-->
    <select id="checkReceiverUserIdIfExist" resultType="java.lang.Boolean">
        SELECT
            count( * )
        FROM
            tab_pb_message_receive
        WHERE
            receiver_type = 0
            AND receiver_id IN
        <foreach collection = "list" item = "a" open="(" separator="," close=")">
            ${a}
        </foreach>
    </select>

    <!--判断接收组织id在数据库中是否存在-->
    <select id="checkReceiverOrgIdIfExist" resultType="java.lang.Boolean">
        SELECT
            count( * )
        FROM
            tab_pb_message_receive
        WHERE
            receive_type = 1
            AND receiver_id IN
        <foreach collection = "list" item = "a"  open="(" separator="," close=")">
            ${a}
        </foreach>
    </select>

    <!--根据发送id和接收者id查询消息接收表实体-->
    <select id="selectTabPbMessageReceiveBySendIdAndReceiverId"
            resultType="com.egovchina.partybuilding.partybuild.entity.TabPbMessageReceive">
        SELECT
            *
        FROM
            tab_pb_message_receive
        WHERE
            send_id = #{sendId}
            AND receiver_id = #{receiverId}
    </select>

    <!--显示未提醒的信息-->
    <select id="selectRemindedMessageVOById" resultType="com.egovchina.partybuilding.partybuild.vo.MessageSendVO">
      SELECT
            s.send_id AS sendId,
            s.sender_id AS senderId,
            s.sender_name AS senderName,
            s.type AS type,
            s.title AS title,
            s.content AS content,
            s.send_time AS sendTime,
            r.receive_status AS receiveStatus,
            r.receiver_type AS receiverType,
            r.receiver_id AS receiverId
        FROM
            tab_pb_message_send s
            LEFT JOIN tab_pb_message_receive r ON s.send_id = r.send_id
            LEFT JOIN sys_dept d ON d.dept_id = r.receiver_id
        WHERE
            r.receiver_id = #{receiverId}
            AND r.receive_status IS NULL
            AND s.del_flag = 0
        ORDER BY
            s.send_time DESC
    </select>

    <!--获取党员生日列表-->
    <select id="selectPartyMemberBirthDay"
            resultType="com.egovchina.partybuilding.partybuild.vo.PartyMemberBirthDayVO">
        SELECT
            u.user_id AS userId,
            u.realname,
            d.name AS orgName
        FROM
            sys_user u
            INNER JOIN sys_dept d ON d.dept_id = u.dept_id
        WHERE
            DATE_FORMAT( now( ), '%m-%d' ) = DATE_FORMAT( u.join_org_time, '%m-%d' )
            AND u.del_flag = '0' AND u.ebl_flag = '1'
            AND d.del_flag = '0' AND d.ebl_flag = '1'
    </select>

    <!--定时向消息发送表插入数据-->
    <insert id="insertTabPbMessageSend" useGeneratedKeys="true" keyColumn="send_id" keyProperty="sendId">
        INSERT IGNORE INTO tab_pb_message_send ( sender_id, sender_name, type, title, content, send_time, del_flag, create_time, create_userid, create_username )
        VALUES
            ( #{senderId}, #{senderName}, #{type}, #{title}, #{content}, #{sendTime}, 0, #{createTime}, #{createUserId}, #{createUsername} )
    </insert>

    <!--获取消息内容-->
    <select id="selectMessageContent" resultType="java.lang.String">
        SELECT
            c.item_value
        FROM
            sys_configurer c
            INNER JOIN sys_dict d ON d.id = c.item_id AND d.del_flag = '0'
        WHERE
            d.id = #{id}
            AND c.del_flag = '0'
            AND c.ebl_flag = '1'
    </select>

    <insert id="addPersonnel">
        insert into tab_pb_participant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activitiesId != null">
                activities_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="realType != null">
                real_type,
            </if>
            <if test="notifyTime != null">
                notify_time,
            </if>
            <if test="signupTime != null">
                signup_time,
            </if>
            <if test="signinTime != null">
                signin_time,
            </if>
            <if test="signinPwd != null">
                signin_pwd,
            </if>
            <if test="absentReason != null">
                absent_reason,
            </if>
            <if test="ifOrgnizer != null">
                if_orgnizer,
            </if>
            <if test="ifModerator != null">
                if_moderator,
            </if>
            <if test="ifSecretaryGeneral != null">
                if_secretary_general,
            </if>
            <if test="ifPresidium != null">
                if_presidium,
            </if>
            <if test="ifDeputySecretaryGeneral != null">
                if_deputy_secretary_general,
            </if>
            <if test="ifSitIn != null">
                if_sit_in,
            </if>
            <if test="ifStandingCommittee != null">
                if_standing_committee,
            </if>
            <if test="ifLeader != null">
                if_leader,
            </if>
            <if test="ifLinkLeader != null">
                if_link_leader,
            </if>
            <if test="activitytype != null">
                activitytype,
            </if>
            <if test="orgAssess != null">
                org_assess,
            </if>
            <if test="inOrgId != null">
                in_org_id,
            </if>
            <if test="parentOrgAssess != null">
                parent_org_assess,
            </if>
            <if test="eblFlag != null">
                ebl_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="performance != null">
                performance,
            </if>
            <if test="speech != null">
                speech,
            </if>
            <if test="orgAssessContent != null">
                org_assess_content,
            </if>
            <if test="parentOrgAssessContent != null">
                parent_org_assess_content,
            </if>
            <if test="signInState != null">
                sign_in_state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activitiesId != null">
                #{activitiesId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="realType != null">
                #{realType,jdbcType=VARCHAR},
            </if>
            <if test="notifyTime != null">
                #{notifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signupTime != null">
                #{signupTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signinTime != null">
                #{signinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="signinPwd != null">
                #{signinPwd,jdbcType=VARCHAR},
            </if>
            <if test="absentReason != null">
                #{absentReason,jdbcType=BIGINT},
            </if>
            <if test="ifOrgnizer != null">
                #{ifOrgnizer,jdbcType=TINYINT},
            </if>
            <if test="ifModerator != null">
                #{ifModerator,jdbcType=TINYINT},
            </if>
            <if test="ifSecretaryGeneral != null">
                #{ifSecretaryGeneral,jdbcType=TINYINT},
            </if>
            <if test="ifPresidium != null">
                #{ifPresidium,jdbcType=TINYINT},
            </if>
            <if test="ifDeputySecretaryGeneral != null">
                #{ifDeputySecretaryGeneral,jdbcType=TINYINT},
            </if>
            <if test="ifSitIn != null">
                #{ifSitIn,jdbcType=TINYINT},
            </if>
            <if test="ifStandingCommittee != null">
                #{ifStandingCommittee,jdbcType=TINYINT},
            </if>
            <if test="ifLeader != null">
                #{ifLeader,jdbcType=TINYINT},
            </if>
            <if test="ifLinkLeader != null">
                #{ifLinkLeader,jdbcType=TINYINT},
            </if>
            <if test="activitytype != null">
                #{activitytype,jdbcType=VARCHAR},
            </if>
            <if test="orgAssess != null">
                #{orgAssess,jdbcType=BIGINT},
            </if>
            <if test="inOrgId != null">
                #{inOrgId,jdbcType=BIGINT},
            </if>
            <if test="parentOrgAssess != null">
                #{parentOrgAssess,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="performance != null">
                #{performance,jdbcType=LONGVARCHAR},
            </if>
            <if test="speech != null">
                #{speech,jdbcType=LONGVARCHAR},
            </if>
            <if test="orgAssessContent != null">
                #{orgAssessContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="parentOrgAssessContent != null">
                #{parentOrgAssessContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="signInState != null">
                #{signInState,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <select id="selectIsThereAnActivity" resultType="java.lang.Integer">
     SELECT
        COUNT( TRUE )
    FROM
        tab_pb_activities
    WHERE
	date( finished_time ) = date_sub( curdate( ), INTERVAL 1 DAY )
    AND del_flag = 0
    </select>

    <select id="selectByActivityVO" resultType="com.egovchina.partybuilding.partybuild.vo.ActivityVO">
      SELECT
          a.activities_id,
          p.participant_id,
          p.absent_reason,
          p.user_id
        FROM
            tab_pb_activities a
            left join tab_pb_participant p ON a.activities_id = p.activities_id  AND p.del_flag =0
        WHERE
            date( a.finished_time ) = date_sub( curdate( ), INTERVAL 1 DAY )
            AND a.del_flag = 0
            GROUP BY a.activities_id
    </select>

    <select id="selectOrganizationActivityVOById"
            resultType="com.egovchina.partybuilding.partybuild.vo.PartyOrganizeActivitiesVO">
        SELECT
            a.activities_id,
            a.org_id,
            a.candidate_member_snapshot
        FROM
            tab_pb_activities a
        WHERE
            a.activities_id = #{activitiesId}
            AND a.del_flag =0
    </select>

    <select id="selectParticipantList"
            resultType="com.egovchina.partybuilding.partybuild.vo.PersonnelEntityVO">

     SELECT
        p.participant_id,
        p.absent_reason,
        p.user_id
    FROM
        tab_pb_activities a
        LEFT JOIN tab_pb_participant p ON a.activities_id = p.activities_id
    WHERE
        a.activities_id = #{activitiesId}
        AND a.del_flag=0
        and p.del_flag=0

    </select>

    <!--提醒党员参加月份活动-->
    <select id="selectParticipateInTheActivityVOByMonth"
            resultType="com.egovchina.partybuilding.partybuild.vo.ParticipateInTheActivityVO">
        SELECT
            u.user_id,
            u.realname,
            '党小组会' AS label
        FROM
            sys_user u
        WHERE
            u.user_id NOT IN (
            SELECT
                u.user_id
            FROM
                sys_user u
                INNER JOIN tab_pb_participant p ON p.user_id = u.user_id
                INNER JOIN tab_pb_activities a ON a.activities_id = p.activities_id
            WHERE
                u.del_flag = '0'
                AND u.ebl_flag = '1'
                AND p.del_flag = '0'
                AND p.ebl_flag = '1'
                AND a.del_flag = '0'
                AND a.ebl_flag = '1' -- 	党小组

                AND FIND_IN_SET( 59057, a.activities_type_ids )
                AND YEAR ( a.start_time ) = YEAR ( now( ) )
                AND MONTH ( a.start_time ) = MONTH ( now( ) )
            )
            AND u.del_flag = '0'
            AND u.ebl_flag = '1' UNION
        SELECT
            u.user_id,
            u.realname,
            '支部委员会' AS label
        FROM
            sys_user u
        WHERE
            u.user_id NOT IN (
            SELECT
                u.user_id
            FROM
                sys_user u
                INNER JOIN tab_pb_participant p ON p.user_id = u.user_id
                INNER JOIN tab_pb_activities a ON a.activities_id = p.activities_id
            WHERE
                u.del_flag = '0'
                AND u.ebl_flag = '1'
                AND p.del_flag = '0'
                AND p.ebl_flag = '1'
                AND a.del_flag = '0'
                AND a.ebl_flag = '1' -- 	支部委员会

                AND FIND_IN_SET( 59056, a.activities_type_ids )
                AND YEAR ( a.start_time ) = YEAR ( now( ) )
                AND MONTH ( a.start_time ) = MONTH ( now( ) )
            )
            AND u.del_flag = '0'
            AND u.ebl_flag = '1' UNION
        SELECT
            u.user_id,
            u.realname,
            '主题党日' AS label
        FROM
            sys_user u
        WHERE
            u.user_id NOT IN (
            SELECT
                u.user_id
            FROM
                sys_user u
                INNER JOIN tab_pb_participant p ON p.user_id = u.user_id
                INNER JOIN tab_pb_activities a ON a.activities_id = p.activities_id
            WHERE
                u.del_flag = '0'
                AND u.ebl_flag = '1'
                AND p.del_flag = '0'
                AND p.ebl_flag = '1'
                AND a.del_flag = '0'
                AND a.ebl_flag = '1' -- 	主题党日

                AND FIND_IN_SET( 59060, a.activities_type_ids )
                AND YEAR ( a.start_time ) = YEAR ( now( ) )
                AND MONTH ( a.start_time ) = MONTH ( now( ) )
            )
            AND u.del_flag = '0'
            AND u.ebl_flag = '1'
    </select>

    <!--定时提醒党员参加季度活动-->
    <select id="selectParticipateInTheActivityVOByQuarter"
            resultType="com.egovchina.partybuilding.partybuild.vo.ParticipateInTheActivityVO">
        SELECT
            u.user_id,
            u.realname,
            '党课' AS label
        FROM
            sys_user u
        WHERE
            u.user_id NOT IN (
            SELECT
                u.user_id
            FROM
                sys_user u
                INNER JOIN tab_pb_participant p ON p.user_id = u.user_id
                INNER JOIN tab_pb_activities a ON a.activities_id = p.activities_id
            WHERE
                u.del_flag = '0'
                AND u.ebl_flag = '1'
                AND p.del_flag = '0'
                AND p.ebl_flag = '1'
                AND a.del_flag = '0'
                AND a.ebl_flag = '1' -- 	党课

                AND FIND_IN_SET( 59058, a.activities_type_ids )
                AND YEAR ( a.start_time ) = YEAR ( now( ) )
                AND QUARTER ( a.start_time ) = QUARTER ( now( ) )
            )
            AND u.del_flag = '0'
            AND u.ebl_flag = '1' UNION
        SELECT
            u.user_id,
            u.realname,
            '支部党员大会' AS label
        FROM
            sys_user u
        WHERE
            u.user_id NOT IN (
            SELECT
                u.user_id
            FROM
                sys_user u
                INNER JOIN tab_pb_participant p ON p.user_id = u.user_id
                INNER JOIN tab_pb_activities a ON a.activities_id = p.activities_id
            WHERE
                u.del_flag = '0'
                AND u.ebl_flag = '1'
                AND p.del_flag = '0'
                AND p.ebl_flag = '1'
                AND a.del_flag = '0'
                AND a.ebl_flag = '1' -- 	支部党员大会

                AND FIND_IN_SET( 59055, a.activities_type_ids )
                AND YEAR ( a.start_time ) = YEAR ( now( ) )
                AND QUARTER ( a.start_time ) = QUARTER ( now( ) )
            )
            AND u.del_flag = '0'
            AND u.ebl_flag = '1'
    </select>

    <!--提醒党员参加年度活动-->
    <select id="selectParticipateInTheActivityVOByYear"
            resultType="com.egovchina.partybuilding.partybuild.vo.ParticipateInTheActivityVO">
          SELECT
                u.user_id,
                u.realname,
                '组织生活会' AS label
            FROM
                sys_user u
            WHERE
                u.user_id NOT IN (
                SELECT
                    u.user_id
                FROM
                    sys_user u
                    INNER JOIN tab_pb_participant p ON p.user_id = u.user_id
                    INNER JOIN tab_pb_activities a ON a.activities_id = p.activities_id
                WHERE
                    u.del_flag = '0'
                    AND u.ebl_flag = '1'
                    AND p.del_flag = '0'
                    AND p.ebl_flag = '1'
                    AND a.del_flag = '0'
                    AND a.ebl_flag = '1' -- 	组织生活会
                    AND FIND_IN_SET( 59131, a.activities_type_ids )
                    AND YEAR ( a.start_time ) = YEAR ( now( ) )
                )
                AND u.del_flag = '0'
                AND u.ebl_flag = '1'
    </select>

    <!--获取消息提醒时间-->
    <select id="selectActivityRemindDateIfEqualNow" resultType="java.lang.String">
        SELECT
            c.item_value
        FROM
            sys_configurer c
            INNER JOIN sys_dict d ON d.id = c.item_id AND d.del_flag = '0'
        WHERE
            d.id = #{id}
            AND c.del_flag = '0'
            AND c.ebl_flag = '1'
    </select>

</mapper>