<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbPartyMembershipMapper">
    <insert id="insertPartyMembership"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbPartyMembership">
        insert into tab_pb_party_membership (membership_id, user_id, identity_type, type, reason, create_time, create_userid, create_username)
        values (#{membershipId, jdbcType=BIGINT}, #{userId, jdbcType=BIGINT}, #{identityType, jdbcType=BIGINT}, #{type, jdbcType=BIGINT},
            #{reason, jdbcType=VARCHAR}, #{createTime, jdbcType=TIMESTAMP}, #{createUserid, jdbcType=BIGINT},
            #{createUsername, jdbcType=VARCHAR})
    </insert>
    <update id="updatePartyMembership"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbPartyMembership">
        update tab_pb_party_membership(identity_type, type, reason, create_time, create_userid, create_username)
        set identity_type = #{identityType, jdbcType=BIGINT}, type = #{type, jdbcType=BIGINT}, reason = #{reason, jdbcType=VARCHAR}, create_time = #{createTime, jdbcType=TIMESTAMP}, create_userid = #{createUserid, jdbcType=BIGINT}, create_username = #{createUsername, jdbcType=VARCHAR}
        where user_id = #{userId, jdbcType=BIGINT}
    </update>

    <select id="getMembershipVOByUserIdList"
            resultType="com.egovchina.partybuilding.partybuild.vo.MembershipVO" parameterType="long">
        select * from tab_pb_party_membership where user_id = #{userId, jdbcType=BIGINT}
    </select>
    <select id="getMembershipVOList"
            resultType="com.egovchina.partybuilding.partybuild.vo.MembershipVO">
        select * from tab_pb_party_membership ORDER BY create_time DESC
    </select>
    <select id="getMembershipVOListByCondition"
            resultType="com.egovchina.partybuilding.partybuild.vo.MembershipVO">
        select * from tab_pb_party_membership
        <where>
            <if test="identityType != null and identityType != ''">
                identity_type = #{identityType, jdbcType=BIGINT}
            </if>
            <if test="type != null and type != ''">
                and type = #{type, jdbcType=BIGINT}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>