<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbEduStudyCenterMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbEduStudyCenter">
        <id column="study_id" jdbcType="BIGINT" property="studyId"/>
        <result column="file_type" jdbcType="BIGINT" property="fileType"/>
        <result column="study_type" jdbcType="BIGINT" property="studyType"/>
        <result column="duration" jdbcType="BIGINT" property="duration"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="like_count" jdbcType="BIGINT" property="likeCount"/>
        <result column="watch_count" jdbcType="BIGINT" property="watchCount"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="articles_source" jdbcType="VARCHAR" property="articlesSource"/>
        <result column="is_recommend" jdbcType="TINYINT" property="isRecommend"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.egovchina.partybuilding.partybuild.entity.TabPbEduStudyCenter">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <!--包含关联信息的resultmap-->
    <resultMap extends="ResultMapWithBLOBs" id="ResultMapWithAboutInfo" type="com.egovchina.partybuilding.partybuild.entity.TabPbEduStudyCenter">
        <!--关联附件数据-->
        <collection property="attachments" select="com.egovchina.partybuilding.partybuild.repository.TabPbAttachmentMapper.selectWithConditions"
                     column="{hostId=study_id,attachmentType=attachment_type}" />
    </resultMap>
    <sql id="Base_Column_List">
    study_id, file_type, study_type, duration, cover, title, like_count, watch_count, description, articles_source,
    is_recommend, del_flag, order_num, create_time, create_userid, create_username, update_time,
    update_userid, update_username
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <sql id="Base_WhereCase_List">
        <if test="fileType != null and fileType != ''">
            AND esc.file_type = #{fileType}
        </if>
        <if test="studyType != null and studyType != ''">
            AND esc.study_type = #{studyType}
        </if>
        <if test="duration != null and duration != ''">
            AND esc.duration = #{duration}
        </if>
        <if test="cover != null and cover != ''">
            AND esc.cover = #{cover}
        </if>
        <if test="title != null and title != ''">
            AND esc.title like concat('%',#{title},'%')
        </if>
        <if test="likeCount != null and likeCount != ''">
            AND esc.like_count = #{likeCount}
        </if>
        <if test="watchCount != null and watchCount != ''">
            AND esc.watch_count = #{watchCount}
        </if>
        <if test="description != null and description != ''">
            AND esc.description = #{description}
        </if>
        <if test="articlesSource != null and articlesSource != ''">
            AND esc.articles_source = #{articlesSource}
        </if>
        <if test="isRecommend != null and isRecommend != ''">
            AND esc.is_recommend = #{isRecommend}
        </if>
        <if test="delFlag != null and delFlag != ''">
            AND esc.del_flag = #{delFlag}
        </if>
        <if test="orderNum != null and orderNum != ''">
            AND esc.order_num = #{orderNum}
        </if>
        <if test="createTime != null and createTime != ''">
            AND esc.create_time = #{createTime}
        </if>
        <if test="createUserid != null and createUserid != ''">
            AND esc.create_userid = #{createUserid}
        </if>
        <if test="createUsername != null and createUsername != ''">
            AND esc.create_username = #{createUsername}
        </if>
        <if test="updateTime != null and updateTime != ''">
            AND esc.update_time = #{updateTime}
        </if>
        <if test="updateUserid != null and updateUserid != ''">
            AND esc.update_userid = #{updateUserid}
        </if>
        <if test="updateUsername != null and updateUsername != ''">
            AND esc.update_username = #{updateUsername}
        </if>
        <if test="content != null and content != ''">
            AND esc.content = #{content}
        </if>
        <!--猜你喜欢-->
        <if test="youMayAlsoLike != null and youMayAlsoLike == 'youMayAlsoLike'">
            AND (find_in_set(esc.file_type, (select likes from sys_user where user_id = #{userId}))
              OR find_in_set(esc.study_type, (select likes from sys_user where user_id = #{userId})))
        </if>
        <!--重点推荐-->
        <if test="(highlyRecommend != null and highlyRecommend == 'highlyRecommend')
                or (youMayAlsoLike != null and youMayAlsoLike == 'youMayAlsoLike')">
            AND NOT EXISTS (select 1 from tab_pb_edu_study_mark esm where esm.user_id = #{userId} and esm.study_id = esc.study_id)
        </if>
    </sql>
    <!--排序case-->
    <sql id="Base_OrderByCase_List">
        <if test="highlyRecommend != null and highlyRecommend == 'highlyRecommend'">
            esc.watch_count desc,
        </if>
        esc.create_time desc
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tab_pb_edu_study_center
        where study_id = #{studyId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_edu_study_center
    where study_id = #{studyId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduStudyCenter">
    insert into tab_pb_edu_study_center (study_id, file_type, study_type, 
      duration, cover, title, 
      like_count, watch_count, description, articles_source, is_recommend,
      del_flag, order_num, create_time, create_userid,
      create_username, update_time,
      update_userid, update_username, content
      )
    values (#{studyId,jdbcType=BIGINT}, #{fileType,jdbcType=BIGINT}, #{studyType,jdbcType=BIGINT}, 
      #{duration,jdbcType=BIGINT}, #{cover,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{likeCount,jdbcType=BIGINT}, #{watchCount,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR},
      #{articlesSource,jdbcType=VARCHAR}, #{isRecommend,jdbcType=TINYINT}, #{delFlag,jdbcType=VARCHAR},
      #{orderNum,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT},
      #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{updateUserid,jdbcType=BIGINT}, #{updateUsername,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="studyId"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduStudyCenter">
        insert into tab_pb_edu_study_center
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studyId != null">
                study_id,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="studyType != null">
                study_type,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="likeCount != null">
                like_count,
            </if>
            <if test="watchCount != null">
                watch_count,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="articlesSource != null">
                articles_source,
            </if>
            <if test="isRecommend != null">
                is_recommend,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studyId != null">
                #{studyId,jdbcType=BIGINT},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=BIGINT},
            </if>
            <if test="studyType != null">
                #{studyType,jdbcType=BIGINT},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=BIGINT},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="likeCount != null">
                #{likeCount,jdbcType=BIGINT},
            </if>
            <if test="watchCount != null">
                #{watchCount,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="articlesSource != null">
                #{articlesSource,jdbcType=VARCHAR},
            </if>
            <if test="isRecommend != null">
                #{isRecommend,jdbcType=TINYINT},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" useGeneratedKeys="true" keyProperty="studyId"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduStudyCenter">
        update tab_pb_edu_study_center
        <set>
            <if test="fileType != null">
                file_type = #{fileType,jdbcType=BIGINT},
            </if>
            <if test="studyType != null">
                study_type = #{studyType,jdbcType=BIGINT},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=BIGINT},
            </if>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount,jdbcType=BIGINT},
            </if>
            <if test="watchCount != null">
                watch_count = #{watchCount,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="articlesSource != null">
                articles_source = #{articlesSource,jdbcType=VARCHAR},
            </if>
            <if test="isRecommend != null">
                is_recommend = #{isRecommend,jdbcType=TINYINT},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where study_id = #{studyId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduStudyCenter">
    update tab_pb_edu_study_center
    set file_type = #{fileType,jdbcType=BIGINT},
      study_type = #{studyType,jdbcType=BIGINT},
      duration = #{duration,jdbcType=BIGINT},
      cover = #{cover,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      like_count = #{likeCount,jdbcType=BIGINT},
      watch_count = #{watchCount,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      articles_source = #{articlesSource,jdbcType=VARCHAR},
      is_recommend = #{isRecommend,jdbcType=TINYINT},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where study_id = #{studyId,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbEduStudyCenter">
    update tab_pb_edu_study_center
    set file_type = #{fileType,jdbcType=BIGINT},
      study_type = #{studyType,jdbcType=BIGINT},
      duration = #{duration,jdbcType=BIGINT},
      cover = #{cover,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      like_count = #{likeCount,jdbcType=BIGINT},
      watch_count = #{watchCount,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      articles_source = #{articlesSource,jdbcType=VARCHAR},
      is_recommend = #{isRecommend,jdbcType=TINYINT},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR}
    where study_id = #{studyId,jdbcType=BIGINT}
  </update>


    <!--根据条件查询-->
    <select id="selectWithConditions" parameterType="java.util.Map" resultMap="BaseResultMap">
        select esc.* from tab_pb_edu_study_center esc
        <where>
            <include refid="Base_WhereCase_List"/>
        </where>
        order by <include refid="Base_OrderByCase_List"/>
    </select>

    <!--逻辑删除-->
    <update id="logicDeleteById">
        UPDATE tab_pb_edu_study_center esc
        set esc.del_flag = 1
        where esc.study_id = #{studyId}
    </update>

    <!--根据id查询详情包括关联信息-->
    <select id="selectWithAboutInfoById" parameterType="java.lang.Long" resultMap="ResultMapWithAboutInfo">
        select 
          esc.*,
          '19' as attachment_type
        from tab_pb_edu_study_center esc
        where esc.study_id = #{studyId}
    </select>

    <!--点赞-->
    <update id="like" parameterType="java.lang.Long">
        update tab_pb_edu_study_center esc
        set esc.like_count = esc.like_count + 1
        where esc.study_id = #{studyId}
    </update>

    <!--查看-->
    <update id="watch" parameterType="java.lang.Long">
        update tab_pb_edu_study_center esc
        set esc.watch_count = esc.watch_count + 1
        where esc.study_id = #{studyId}
    </update>
</mapper>