<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbOrgnizeChangeMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbOrgnizeChange">
        <id column="change_id" jdbcType="BIGINT" property="changeId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="change_type" jdbcType="BIGINT" property="changeType"/>
        <result column="old_superior_id" jdbcType="BIGINT" property="oldSuperiorId"/>
        <result column="now_superior_id" jdbcType="BIGINT" property="nowSuperiorId"/>
        <result column="old_superior_name" jdbcType="VARCHAR" property="oldSuperiorName"/>
        <result column="now_superior_name" jdbcType="VARCHAR" property="nowSuperiorName"/>
        <result column="orgnize_name" jdbcType="VARCHAR" property="orgnizeName"/>
        <result column="orgnize_code" jdbcType="VARCHAR" property="orgnizeCode"/>
        <result column="change_date" jdbcType="TIMESTAMP" property="changeDate"/>
        <result column="file_number" jdbcType="VARCHAR" property="fileNumber"/>
        <result column="ebl_flag" jdbcType="VARCHAR" property="eblFlag"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.egovchina.partybuilding.partybuild.entity.TabPbOrgnizeChange">
        <result column="change_reason" jdbcType="LONGVARCHAR" property="changeReason"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
    </resultMap>
    <resultMap id="OrgChangeVOResultMap" type="com.egovchina.partybuilding.partybuild.vo.OrgChangeVO">
        <id column="change_id" jdbcType="BIGINT" property="changeId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="change_type" jdbcType="BIGINT" property="changeType"/>
        <result column="old_superior_id" jdbcType="BIGINT" property="oldSuperiorId"/>
        <result column="now_superior_id" jdbcType="BIGINT" property="nowSuperiorId"/>
        <result column="old_superior_name" jdbcType="VARCHAR" property="oldSuperiorName"/>
        <result column="now_superior_name" jdbcType="VARCHAR" property="nowSuperiorName"/>
        <result column="orgnize_name" jdbcType="VARCHAR" property="orgnizeName"/>
        <result column="orgnize_code" jdbcType="VARCHAR" property="orgnizeCode"/>
        <result column="change_date" jdbcType="TIMESTAMP" property="changeDate"/>
        <result column="file_number" jdbcType="VARCHAR" property="fileNumber"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="change_reason" jdbcType="LONGVARCHAR" property="changeReason"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <!--关联附件数据-->
        <association property="attachments"
                     select="com.egovchina.partybuilding.partybuild.repository.TabPbAttachmentMapper.selectWithConditions"
                     column="{hostId=change_id,attachmentType=attachment_type}"/>
    </resultMap>
    <sql id="Base_Column_List">
    change_id, dept_id, change_type, old_superior_id, now_superior_id, orgnize_name, 
    orgnize_code, change_date, file_number, ebl_flag, del_flag, order_num, description, 
    create_time, create_userid, create_username, update_time, update_userid, update_username, 
    version
  </sql>
    <sql id="Blob_Column_List">
    change_reason
  </sql>
    <select id="selectOrgChangeById" resultMap="OrgChangeVOResultMap">
        SELECT
        '64' as attachment_type,
        A.change_id,
        A.dept_id,
        d.`name` AS orgnize_name,
        d.org_short_name AS short_name,
        (select `name` from sys_dept where dept_id = A.now_superior_id) now_superior_name,
        (SELECT `name` FROM sys_dept WHERE dept_id = A.old_superior_id) AS old_superior_name,
        A.change_type,
        A.change_date,
        A.file_number,
        A.create_username,
        A.description,
        A.change_reason,
        A.orgnize_code
        FROM
        tab_pb_orgnize_change A left join sys_dept d on A.dept_id = d.dept_id and d.del_flag = 0
        WHERE
        A.del_flag = 0
        and A.change_id = #{changeId}
        ORDER BY
        A.update_time DESC
        LIMIT 1
    </select>
    <select id="selectOrgChangeByDeptIdOrderTime" resultMap="OrgChangeVOResultMap">
        SELECT
        '64' as attachment_type,
        A.change_id,
        A.dept_id,
        d.`name` AS orgnize_name,
        d.org_short_name AS short_name,
        (select `name` from sys_dept where dept_id = A.now_superior_id) now_superior_name,
        (SELECT `name` FROM sys_dept WHERE dept_id = A.old_superior_id) AS old_superior_name,
        A.change_type,
        A.change_date,
        A.file_number,
        A.create_username,
        A.description,
        A.change_reason
        FROM
        tab_pb_orgnize_change A left join sys_dept d on A.dept_id = d.dept_id and d.del_flag = 0
        WHERE
        A.del_flag = 0
        <if test="changeType != null">
            and A.change_type = #{changeType}
        </if>
        <if test="deptId != null">
            AND A.dept_id = #{deptId}
        </if>
        ORDER BY
        A.update_time DESC
        LIMIT 1
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tab_pb_orgnize_change
        where change_id = #{changeId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_pb_orgnize_change
    where change_id = #{changeId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbOrgnizeChange">
    insert into tab_pb_orgnize_change (change_id, dept_id, change_type, 
      old_superior_id, now_superior_id, orgnize_name, 
      orgnize_code, change_date, file_number, 
      ebl_flag, del_flag, order_num, 
      description, create_time, create_userid, 
      create_username, update_time, update_userid, 
      update_username, version, change_reason
      )
    values (#{changeId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT}, #{changeType,jdbcType=BIGINT}, 
      #{oldSuperiorId,jdbcType=BIGINT}, #{nowSuperiorId,jdbcType=BIGINT}, #{orgnizeName,jdbcType=VARCHAR}, 
      #{orgnizeCode,jdbcType=VARCHAR}, #{changeDate,jdbcType=TIMESTAMP}, #{fileNumber,jdbcType=VARCHAR}, 
      #{eblFlag,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{orderNum,jdbcType=BIGINT}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserid,jdbcType=BIGINT}, 
      #{createUsername,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserid,jdbcType=BIGINT}, 
      #{updateUsername,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT}, #{changeReason,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="changeId"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbOrgnizeChange">
        insert into tab_pb_orgnize_change
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="changeId != null">
                change_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="changeType != null">
                change_type,
            </if>
            <if test="oldSuperiorId != null">
                old_superior_id,
            </if>
            <if test="nowSuperiorId != null">
                now_superior_id,
            </if>
            <if test="orgnizeName != null">
                orgnize_name,
            </if>
            <if test="orgnizeCode != null">
                orgnize_code,
            </if>
            <if test="changeDate != null">
                change_date,
            </if>
            <if test="fileNumber != null">
                file_number,
            </if>
            <if test="eblFlag != null">
                ebl_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="changeReason != null">
                change_reason,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="changeId != null">
                #{changeId,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="changeType != null">
                #{changeType,jdbcType=BIGINT},
            </if>
            <if test="oldSuperiorId != null">
                #{oldSuperiorId,jdbcType=BIGINT},
            </if>
            <if test="nowSuperiorId != null">
                #{nowSuperiorId,jdbcType=BIGINT},
            </if>
            <if test="orgnizeName != null">
                #{orgnizeName,jdbcType=VARCHAR},
            </if>
            <if test="orgnizeCode != null">
                #{orgnizeCode,jdbcType=VARCHAR},
            </if>
            <if test="changeDate != null">
                #{changeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="fileNumber != null">
                #{fileNumber,jdbcType=VARCHAR},
            </if>
            <if test="eblFlag != null">
                #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="changeReason != null">
                #{changeReason,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbOrgnizeChange">
        update tab_pb_orgnize_change
        <set>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="changeType != null">
                change_type = #{changeType,jdbcType=BIGINT},
            </if>
            <if test="oldSuperiorId != null">
                old_superior_id = #{oldSuperiorId,jdbcType=BIGINT},
            </if>
            <if test="nowSuperiorId != null">
                now_superior_id = #{nowSuperiorId,jdbcType=BIGINT},
            </if>
            <if test="orgnizeName != null">
                orgnize_name = #{orgnizeName,jdbcType=VARCHAR},
            </if>
            <if test="orgnizeCode != null">
                orgnize_code = #{orgnizeCode,jdbcType=VARCHAR},
            </if>
            <if test="changeDate != null">
                change_date = #{changeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="fileNumber != null">
                file_number = #{fileNumber,jdbcType=VARCHAR},
            </if>
            <if test="eblFlag != null">
                ebl_flag = #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="changeReason != null">
                change_reason = #{changeReason,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where change_id = #{changeId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbOrgnizeChange">
    update tab_pb_orgnize_change
    set dept_id = #{deptId,jdbcType=BIGINT},
      change_type = #{changeType,jdbcType=BIGINT},
      old_superior_id = #{oldSuperiorId,jdbcType=BIGINT},
      now_superior_id = #{nowSuperiorId,jdbcType=BIGINT},
      orgnize_name = #{orgnizeName,jdbcType=VARCHAR},
      orgnize_code = #{orgnizeCode,jdbcType=VARCHAR},
      change_date = #{changeDate,jdbcType=TIMESTAMP},
      file_number = #{fileNumber,jdbcType=VARCHAR},
      ebl_flag = #{eblFlag,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT},
      change_reason = #{changeReason,jdbcType=LONGVARCHAR}
    where change_id = #{changeId,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbOrgnizeChange">
    update tab_pb_orgnize_change
    set dept_id = #{deptId,jdbcType=BIGINT},
      change_type = #{changeType,jdbcType=BIGINT},
      old_superior_id = #{oldSuperiorId,jdbcType=BIGINT},
      now_superior_id = #{nowSuperiorId,jdbcType=BIGINT},
      orgnize_name = #{orgnizeName,jdbcType=VARCHAR},
      orgnize_code = #{orgnizeCode,jdbcType=VARCHAR},
      change_date = #{changeDate,jdbcType=TIMESTAMP},
      file_number = #{fileNumber,jdbcType=VARCHAR},
      ebl_flag = #{eblFlag,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_userid = #{createUserid,jdbcType=BIGINT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_userid = #{updateUserid,jdbcType=BIGINT},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT}
    where change_id = #{changeId,jdbcType=BIGINT}
  </update>

    <select id="selectOrgChangeVOList" parameterType="com.egovchina.partybuilding.partybuild.entity.OrgChangeQueryBean"
            resultMap="OrgChangeVOResultMap">
        SELECT * FROM (SELECT
        '64' AS attachment_type,
        t.change_id,
        t.dept_id,
        d.`name` AS orgnize_name,
        d.org_short_name AS short_name,
        (SELECT `name` FROM sys_dept WHERE dept_id = t.now_superior_id) AS now_superior_name,
        (SELECT `name` FROM sys_dept WHERE dept_id = t.old_superior_id) AS old_superior_name,
        t.change_type,
        t.change_date,
        t.file_number,
        t.create_username,
        t.description,
        t.change_reason,
        t.orgnize_code
        FROM
        tab_pb_orgnize_change t
        JOIN sys_dept d ON t.dept_id = d.dept_id
        WHERE
        t.del_flag = 0
        AND t.change_type != 59424
        <if test="changeType != null">
            AND t.change_type = #{changeType}
        </if>
        <if test="orgRange != null and orgRange != '' ">
            <choose>
                <when test="orgRange == 1">
                    AND (d.dept_id = #{orgId} OR d.parent_id = #{orgId})
                </when>
                <when test="orgRange == 2">
                    AND find_in_set(#{orgId}, d.full_path)
                </when>
            </choose>
        </if>
        <if test="orgRange == null or orgRange.toString() == ''">
            AND d.dept_id = #{orgId}
        </if>
        UNION
        SELECT
        '64' AS attachment_type,
        ch.change_id,
        ch.dept_id,
        up.upgrade_dept_name AS `name`,
        up.upgrade_short_name AS short_name,
        (SELECT `name` FROM sys_dept WHERE dept_id = ch.now_superior_id) AS now_superior_name,
        (SELECT `name` FROM sys_dept WHERE dept_id = ch.old_superior_id) AS old_superior_name,
        ch.change_type,
        ch.change_date,
        ch.file_number,
        up.create_username,
        ch.description,
        ch.change_reason,
        ch.orgnize_code
        from sys_dept_upgrade_temp up
        LEFT JOIN tab_pb_orgnize_change ch ON up.dept_id = ch.dept_id AND ch.change_type = 59424 AND ch.del_flag = 0
        LEFT JOIN sys_dept d ON up.dept_id = d.dept_id
        where up.del_flag = 0
        <if test="changeType != null">
            AND ch.change_type = #{changeType}
        </if>
        <if test="orgRange != null and orgRange != '' ">
            <choose>
                <when test="orgRange == 1">
                    AND (d.dept_id = #{orgId} OR d.parent_id = #{orgId})
                </when>
                <when test="orgRange == 2">
                    AND find_in_set(#{orgId}, d.full_path)
                </when>
            </choose>
        </if>
        <if test="orgRange == null or orgRange.toString() == ''">
            AND d.dept_id = #{orgId}
        </if>
        ) a order by change_date desc
    </select>

    <!--组织历史信息Result Map-->
    <resultMap id="OrgnizeHistoryInformationResultVO"
               type="com.egovchina.partybuilding.partybuild.vo.OrgnizeLifeGraphVO">
        <result column="timeline" jdbcType="VARCHAR" property="timeline"/>
        <collection property="lines" ofType="com.egovchina.partybuilding.partybuild.vo.OrgnizeInformationVO">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="time" jdbcType="TIMESTAMP" property="time"/>
            <result column="label" jdbcType="VARCHAR" property="label"/>
            <result column="sub_label" jdbcType="VARCHAR" property="subLabel"/>
        </collection>
    </resultMap>

    <!--组织历史信息图-->
    <select id="selectOrgnizeLifeGraphVO"
            resultMap="OrgnizeHistoryInformationResultVO">
        SELECT
            c.*,
            DATE_FORMAT(c.time, '%Y-%m') AS timeline
        FROM
            (
            SELECT
                c.change_id as id,
                c.change_date AS time,
                d.label AS label,
                NULL AS subLabel
            FROM
                tab_pb_orgnize_change c
                INNER JOIN sys_dict d ON d.id = c.change_type
            WHERE
                c.dept_id = #{orgId}
                AND d.type = 'ZZBD' -- 默认组织调整
                AND c.del_flag = '0'
                AND c.ebl_flag = '1'
                AND d.del_flag = '0'

                <if test="orgnizeLife">
                    UNION ALL
                    SELECT
                        activities_id as id,
                        start_time AS time,
                        subject AS label,
                        NULL AS subLabel
                    FROM
                        tab_pb_activities
                    WHERE
                        org_id = #{orgId}
                        AND del_flag = '0'
                        AND ebl_flag = '1'
                </if>
            ) c
        ORDER BY c.time DESC
    </select>
</mapper>