<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizheng.partybuilding.repository.TabPbEduAnswerforsubjectMapper">
    <resultMap id="BaseResultMap" type="com.yizheng.partybuilding.entity.TabPbEduAnswerforsubject">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="answer_id" jdbcType="INTEGER" property="answerId"/>
        <result column="subject_id" jdbcType="INTEGER" property="subjectId"/>
        <result column="answer_content" jdbcType="VARCHAR" property="answerContent"/>
        <result column="answer_score" jdbcType="REAL" property="answerScore"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, answer_id, subject_id, answer_content, answer_score
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_pb_edu_answerforsubject
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_pb_edu_answerforsubject
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yizheng.partybuilding.entity.TabPbEduAnswerforsubject">
    insert into tab_pb_edu_answerforsubject (id, answer_id, subject_id, 
      answer_content, answer_score)
    values (#{id,jdbcType=INTEGER}, #{answerId,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, 
      #{answerContent,jdbcType=VARCHAR}, #{answerScore,jdbcType=REAL})
  </insert>
    <insert id="insertSelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduAnswerforsubject">
        insert into tab_pb_edu_answerforsubject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="answerId != null">
                answer_id,
            </if>
            <if test="subjectId != null">
                subject_id,
            </if>
            <if test="answerContent != null">
                answer_content,
            </if>
            <if test="answerScore != null">
                answer_score,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="answerId != null">
                #{answerId,jdbcType=INTEGER},
            </if>
            <if test="subjectId != null">
                #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="answerContent != null">
                #{answerContent,jdbcType=VARCHAR},
            </if>
            <if test="answerScore != null">
                #{answerScore,jdbcType=REAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yizheng.partybuilding.entity.TabPbEduAnswerforsubject">
        update tab_pb_edu_answerforsubject
        <set>
            <if test="answerId != null">
                answer_id = #{answerId,jdbcType=INTEGER},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="answerContent != null">
                answer_content = #{answerContent,jdbcType=VARCHAR},
            </if>
            <if test="answerScore != null">
                answer_score = #{answerScore,jdbcType=REAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yizheng.partybuilding.entity.TabPbEduAnswerforsubject">
    update tab_pb_edu_answerforsubject
    set answer_id = #{answerId,jdbcType=INTEGER},
      subject_id = #{subjectId,jdbcType=INTEGER},
      answer_content = #{answerContent,jdbcType=VARCHAR},
      answer_score = #{answerScore,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>