<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbWorkPlanMapper">
    <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbWorkPlan">
        <id column="plan_id" jdbcType="BIGINT" property="planId"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="plan_year" jdbcType="CHAR" property="planYear"/>
        <result column="report_date" jdbcType="TIMESTAMP" property="reportDate"/>
        <result column="summary_date" jdbcType="TIMESTAMP" property="summaryDate"/>
        <result column="plan_check_date" jdbcType="TIMESTAMP" property="planCheckDate"/>
        <result column="summary_check_date" jdbcType="TIMESTAMP" property="summaryCheckDate"/>
        <result column="check_org" jdbcType="BIGINT" property="checkOrg"/>
        <result column="check_result" jdbcType="BIGINT" property="checkResult"/>
        <result column="check_user" jdbcType="BIGINT" property="checkUser"/>
        <result column="summary_check_org" jdbcType="BIGINT" property="summaryCheckOrg"/>
        <result column="summary_check_result" jdbcType="BIGINT" property="summaryCheckResult"/>
        <result column="summary_check_user" jdbcType="BIGINT" property="summaryCheckUser"/>
        <result column="ebl_flag" jdbcType="VARCHAR" property="eblFlag"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="order_num" jdbcType="BIGINT" property="orderNum"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_userid" jdbcType="BIGINT" property="createUserid"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUsername"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_userid" jdbcType="BIGINT" property="updateUserid"/>
        <result column="update_username" jdbcType="VARCHAR" property="updateUsername"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.egovchina.partybuilding.partybuild.entity.TabPbWorkPlan">
        <result column="plan_content" jdbcType="LONGVARCHAR" property="planContent"/>
        <result column="plan_summary" jdbcType="LONGVARCHAR" property="planSummary"/>
        <result column="plan_check" jdbcType="LONGVARCHAR" property="planCheck"/>
        <result column="summary_check" jdbcType="LONGVARCHAR" property="summaryCheck"/>
    </resultMap>
    <!--工作计划VO结果集-->
    <resultMap id="WorkPlanVOResultMap" type="com.egovchina.partybuilding.partybuild.vo.WorkPlanVO">
        <id column="plan_id" jdbcType="BIGINT" property="planId"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="plan_year" jdbcType="CHAR" property="planYear"/>
        <result column="report_date" jdbcType="TIMESTAMP" property="reportDate"/>
        <result column="plan_check_date" jdbcType="TIMESTAMP" property="planCheckDate"/>
        <result column="check_org" jdbcType="BIGINT" property="checkOrg"/>
        <result column="check_result" jdbcType="BIGINT" property="checkResult"/>
        <result column="check_user" jdbcType="BIGINT" property="checkUser"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <!--工作计划VO带统计数字结果集-->
    <resultMap extends="WorkPlanVOResultMap" id="ContainsStatisticsWorkPlanVOResultMap"
               type="com.egovchina.partybuilding.partybuild.vo.WorkPlanVO">
        <result column="video_num" jdbcType="INTEGER" property="videoNum"/>
        <result column="img_num" jdbcType="INTEGER" property="imgNum"/>
        <result column="doc_num" jdbcType="INTEGER" property="docNum"/>
    </resultMap>
    <!--工作计划VO带附件-->
    <resultMap extends="WorkPlanVOResultMap" id="ContainsAttachmentWorkPlanVOResultMap"
               type="com.egovchina.partybuilding.partybuild.vo.WorkPlanVO">
        <result column="check_org_name" jdbcType="VARCHAR" property="checkOrgName"/>
        <result column="check_user_name" jdbcType="VARCHAR" property="checkUserName"/>
        <collection property="attachments"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbAttachmentMapper.selectWithConditions"
                    column="{hostId=plan_id,attachmentType=attachment_type}"/>
    </resultMap>
    <!--工作总结VO结果集-->
    <resultMap id="WorkSummaryVOResultMap" type="com.egovchina.partybuilding.partybuild.vo.WorkSummaryVO">
        <id column="plan_id" jdbcType="BIGINT" property="planId"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="plan_year" jdbcType="CHAR" property="planYear"/>
        <result column="summary_date" jdbcType="TIMESTAMP" property="summaryDate"/>
        <result column="summary_check_date" jdbcType="TIMESTAMP" property="summaryCheckDate"/>
        <result column="summary_check_org" jdbcType="BIGINT" property="summaryCheckOrg"/>
        <result column="summary_check_result" jdbcType="BIGINT" property="summaryCheckResult"/>
        <result column="summary_check_user" jdbcType="BIGINT" property="summaryCheckUser"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <!--工作总结VO带统计数字结果集-->
    <resultMap extends="WorkSummaryVOResultMap" id="ContainsStatisticsWorkSummaryVOResultMap"
               type="com.egovchina.partybuilding.partybuild.vo.WorkSummaryVO">
        <result column="video_num" jdbcType="INTEGER" property="videoNum"/>
        <result column="img_num" jdbcType="INTEGER" property="imgNum"/>
        <result column="doc_num" jdbcType="INTEGER" property="docNum"/>
    </resultMap>
    <!--工作总结VO带附件-->
    <resultMap extends="WorkSummaryVOResultMap" id="ContainsAttachmentWorkSummaryVOResultMap"
               type="com.egovchina.partybuilding.partybuild.vo.WorkSummaryVO">
        <result column="summary_check_org_name" jdbcType="VARCHAR" property="summaryCheckOrgName"/>
        <result column="summary_check_user_name" jdbcType="VARCHAR" property="summaryCheckUserName"/>
        <collection property="attachments"
                    select="com.egovchina.partybuilding.partybuild.repository.TabPbAttachmentMapper.selectWithConditions"
                    column="{hostId=plan_id,attachmentType=attachment_type}"/>
    </resultMap>

    <sql id="Base_Column_List">
    p.plan_id, p.org_id, p.plan_year, p.report_date, p.summary_date, p.plan_check_date, p.summary_check_date,
    p.check_org, p.check_result, p.check_user, p.summary_check_org, p.summary_check_result, p.summary_check_user,
    p.ebl_flag, p.del_flag, p.order_num, p.description, p.create_time, p.create_userid, p.create_username,
    p.update_time, p.update_userid, p.update_username, p.version
  </sql>
    <sql id="Blob_Column_List">
    p.plan_content, p.plan_summary, p.plan_check, p.summary_check
  </sql>
    <!--工作计划VO column-->
    <sql id="WorkPlanVO_Column_List">
        p.plan_id, p.org_id, p.plan_year, p.report_date, p.plan_check_date, p.check_org,
        p.check_result, p.check_user, p.description
    </sql>
    <sql id="WorkPlanVO_Blob_Column_List">
        p.plan_content, p.plan_check
    </sql>
    <!--工作总结VO column-->
    <sql id="WorkSummaryVO_Column_List">
        p.plan_id, p.org_id, p.plan_year, p.report_date, p.summary_date, p.summary_check_date,
        p.summary_check_org, p.summary_check_result, p.summary_check_user, p.description
    </sql>
    <sql id="WorkSummaryVO_Blob_Column_List">
        p.plan_summary, p.summary_check
    </sql>
    <sql id="Base_WhereCase_List">
        <if test="planYear != null and planYear != ''">
            AND p.plan_year = #{planYear}
        </if>
        <!--上报日期-->
        <if test="reportStartDate != null and reportStartDate != ''">
            AND date_format(p.report_date, '%Y-%m-%d') >= #{reportStartDate}
        </if>
        <if test="reportEndDate != null and reportEndDate != ''">
            AND date_format(p.report_date, '%Y-%m-%d') &lt;= #{reportEndDate}
        </if>
        <if test="checkResult != null and checkResult != ''">
            AND p.check_result = #{checkResult}
        </if>
        <!--组织范围  1 当前组织（包括一级下级组织）2当前组织（包含所有下级组织） -->
        <if test="orgRange != null and orgRange != ''">
            <choose>
                <when test="orgRange == 1">
                    AND (d.dept_id = #{rangeDeptId} OR d.parent_id = #{rangeDeptId})
                </when>
                <when test="orgRange == 2">
                    AND find_in_set(#{rangeDeptId}, d.full_path)
                </when>
            </choose>
        </if>
        <if test="orgRange == null or orgRange.toString() == ''">
            AND d.dept_id = #{rangeDeptId}
        </if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tab_pb_work_plan p
        where p.plan_id = #{planId,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="planId"
            parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbWorkPlan">
        insert into tab_pb_work_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planId != null">
                plan_id,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="planYear != null">
                plan_year,
            </if>
            <if test="reportDate != null">
                report_date,
            </if>
            <if test="summaryDate != null">
                summary_date,
            </if>
            <if test="planCheckDate != null">
                plan_check_date,
            </if>
            <if test="summaryCheckDate != null">
                summary_check_date,
            </if>
            <if test="checkOrg != null">
                check_org,
            </if>
            <if test="checkResult != null">
                check_result,
            </if>
            <if test="checkUser != null">
                check_user,
            </if>
            <if test="summaryCheckOrg != null">
                summary_check_org,
            </if>
            <if test="summaryCheckResult != null">
                summary_check_result,
            </if>
            <if test="summaryCheckUser != null">
                summary_check_user,
            </if>
            <if test="eblFlag != null">
                ebl_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserid != null">
                create_userid,
            </if>
            <if test="createUsername != null">
                create_username,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserid != null">
                update_userid,
            </if>
            <if test="updateUsername != null">
                update_username,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="planContent != null">
                plan_content,
            </if>
            <if test="planSummary != null">
                plan_summary,
            </if>
            <if test="planCheck != null">
                plan_check,
            </if>
            <if test="summaryCheck != null">
                summary_check,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planId != null">
                #{planId,jdbcType=BIGINT},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="planYear != null">
                #{planYear,jdbcType=CHAR},
            </if>
            <if test="reportDate != null">
                #{reportDate,jdbcType=TIMESTAMP},
            </if>
            <if test="summaryDate != null">
                #{summaryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="planCheckDate != null">
                #{planCheckDate,jdbcType=TIMESTAMP},
            </if>
            <if test="summaryCheckDate != null">
                #{summaryCheckDate,jdbcType=TIMESTAMP},
            </if>
            <if test="checkOrg != null">
                #{checkOrg,jdbcType=BIGINT},
            </if>
            <if test="checkResult != null">
                #{check_result,jdbcType=BIGINT},
            </if>
            <if test="checkUser != null">
                #{checkUser,jdbcType=BIGINT},
            </if>
            <if test="summaryCheckOrg != null">
                #{summaryCheckOrg,jdbcType=BIGINT},
            </if>
            <if test="summaryCheckResult != null">
                #{summaryCheckResult,jdbcType=BIGINT},
            </if>
            <if test="summaryCheckUser != null">
                #{summaryCheckUser,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="planContent != null">
                #{planContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="planSummary != null">
                #{planSummary,jdbcType=LONGVARCHAR},
            </if>
            <if test="planCheck != null">
                #{planCheck,jdbcType=LONGVARCHAR},
            </if>
            <if test="summaryCheck != null">
                #{summaryCheck,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbWorkPlan">
        update tab_pb_work_plan
        <set>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=BIGINT},
            </if>
            <if test="planYear != null">
                plan_year = #{planYear,jdbcType=CHAR},
            </if>
            <if test="reportDate != null">
                report_date = #{reportDate,jdbcType=TIMESTAMP},
            </if>
            <if test="summaryDate != null">
                summary_date = #{summaryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="planCheckDate != null">
                plan_check_date = #{planCheckDate,jdbcType=TIMESTAMP},
            </if>
            <if test="summaryCheckDate != null">
                summary_check_date = #{summaryCheckDate,jdbcType=TIMESTAMP},
            </if>
            <if test="checkOrg != null">
                check_org = #{checkOrg,jdbcType=BIGINT},
            </if>
            <if test="checkResult != null">
                check_result = #{checkResult,jdbcType=BIGINT},
            </if>
            <if test="checkUser != null">
                check_user = #{checkUser,jdbcType=BIGINT},
            </if>
            <if test="summaryCheckOrg != null">
                summary_check_org = #{summaryCheckOrg,jdbcType=BIGINT},
            </if>
            <if test="summaryCheckResult != null">
                summary_check_result = #{summaryCheckResult,jdbcType=BIGINT},
            </if>
            <if test="summaryCheckUser != null">
                summary_check_user = #{summaryCheckUser,jdbcType=BIGINT},
            </if>
            <if test="eblFlag != null">
                ebl_flag = #{eblFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserid != null">
                create_userid = #{createUserid,jdbcType=BIGINT},
            </if>
            <if test="createUsername != null">
                create_username = #{createUsername,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserid != null">
                update_userid = #{updateUserid,jdbcType=BIGINT},
            </if>
            <if test="updateUsername != null">
                update_username = #{updateUsername,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="planContent != null">
                plan_content = #{planContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="planSummary != null">
                plan_summary = #{planSummary,jdbcType=LONGVARCHAR},
            </if>
            <if test="planCheck != null">
                plan_check = #{planCheck,jdbcType=LONGVARCHAR},
            </if>
            <if test="summaryCheck != null">
                summary_check = #{summaryCheck,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where plan_id = #{planId,jdbcType=BIGINT}
    </update>

    <!--根据条件查询工作计划-->
    <select id="selectWorkPlanVOByCondition"
            parameterType="com.egovchina.partybuilding.partybuild.entity.WorkPlanQueryBean"
            resultMap="ContainsStatisticsWorkPlanVOResultMap">
        select
        <include refid="WorkPlanVO_Column_List"/>
        , d.name as org_name,
        ifnull(t.video_num, 0) video_num,
        ifnull(t.img_num, 0) img_num,
        ifnull(t.doc_num, 0) doc_num
        from tab_pb_work_plan p
        left join sys_dept d on p.org_id = d.dept_id
        left join view_attachment_count t on p.plan_id = t.host_id and t.attachment_type = 1
        <where>
            p.del_flag = 0
            <include refid="Base_WhereCase_List"/>
        </where>
    </select>

    <!--根据条件查询工作总结-->
    <select id="selectWorkSummaryVOByCondition" parameterType="java.util.Map"
            resultMap="ContainsStatisticsWorkSummaryVOResultMap">
        select
        <include refid="WorkSummaryVO_Column_List"/>
        , d.name as org_name,
        ifnull(t.video_num, 0) video_num,
        ifnull(t.img_num, 0) img_num,
        ifnull(t.doc_num, 0) doc_num
        from tab_pb_work_plan p
        left join sys_dept d on p.org_id = d.dept_id
        left join view_attachment_count t on p.plan_id = t.host_id and t.attachment_type = 4
        <where>
            p.del_flag = 0
            <include refid="Base_WhereCase_List"/>
        </where>
    </select>

    <!--逻辑删除-->
    <update id="logicDeleteById">
        update tab_pb_work_plan set del_flag = 1 where plan_id = #{planId}
    </update>

    <!--根据年度和组织id查询计划-->
    <select id="selectByPlanYearAndOrgId" resultMap="BaseResultMap">
        select * from tab_pb_work_plan where del_flag = 0 and plan_year = #{planYear} and org_id = #{orgId}
    </select>

    <!--根据id查询工作计划-->
    <select id="selectWorkPlanVOById" parameterType="java.lang.Long" resultMap="ContainsAttachmentWorkPlanVOResultMap">
        select
        <include refid="WorkPlanVO_Column_List"/>
        ,
        <include refid="WorkPlanVO_Blob_Column_List"/>
        , d.name as org_name,
        d2.name as check_org_name,
        u.realname as check_user_name,
        1 as attachment_type
        from tab_pb_work_plan p
        left join sys_dept d on p.org_id = d.dept_id
        left join sys_dept d2 on p.check_org = d2.dept_id
        left join sys_user u on p.check_user = u.user_id
        where p.del_flag = 0 and p.plan_id = #{planId}
    </select>

    <!--根据id查询工作总结-->
    <select id="selectWorkSummaryVOById" parameterType="java.lang.Long"
            resultMap="ContainsAttachmentWorkSummaryVOResultMap">
        select
        <include refid="WorkSummaryVO_Column_List"/>
        ,
        <include refid="WorkSummaryVO_Blob_Column_List"/>
        , d.name as org_name,
        d2.name as summary_check_org_name,
        u.realname as summary_check_user_name,
        4 as attachment_type
        from tab_pb_work_plan p
        left join sys_dept d on p.org_id = d.dept_id
        left join sys_dept d2 on p.summary_check_org = d2.dept_id
        left join sys_user u on p.summary_check_user = u.user_id
        where p.del_flag = 0 and p.plan_id = #{planId}
    </select>
</mapper>