<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.TabPbDeptSecretaryMapper">
  <resultMap id="BaseResultMap" type="com.egovchina.partybuilding.partybuild.entity.TabPbDeptSecretary">
    <id column="secretary_id" jdbcType="BIGINT" property="secretaryId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="dept_id" property="deptId"/>
    <result column="postive" jdbcType="VARCHAR" property="postive" />
    <result column="join_worker_time" jdbcType="TIMESTAMP" property="joinWorkerTime" />
    <result column="birth_address" jdbcType="VARCHAR" property="birthAddress" />
    <result column="professional_titles" jdbcType="VARCHAR" property="professionalTitles" />
    <result column="professional_specialty" jdbcType="VARCHAR" property="professionalSpecialty" />
    <result column="full_time_schooling" jdbcType="VARCHAR" property="fullTimeSchooling" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="college_major" jdbcType="VARCHAR" property="collegeMajor" />
    <result column="college_major_two" jdbcType="VARCHAR" property="collegeMajorTwo" />
    <result column="serving_time" jdbcType="TIMESTAMP" property="servingTime" />
    <result column="serving_real_time" jdbcType="TIMESTAMP" property="servingRealTime" />
    <result column="incumbent_time" jdbcType="TIMESTAMP" property="incumbentTime" />
    <result column="incumbent_real_time" jdbcType="TIMESTAMP" property="incumbentRealTime" />
    <result column="assessment_situation" jdbcType="VARCHAR" property="assessmentSituation" />
    <result column="selection_situation" jdbcType="VARCHAR" property="selectionSituation" />
    <result column="promotion_situation" jdbcType="VARCHAR" property="promotionSituation" />
    <result column="army_cadres_situation" jdbcType="VARCHAR" property="armyCadresSituation" />
    <result column="reserve_cadres_situation" jdbcType="VARCHAR" property="reserveCadresSituation" />
    <result column="whether_secretary" property="whetherSecretary"/>
    <result column="whether_member" property="whetherMember"/>
    <result column="committee_duties" jdbcType="VARCHAR" property="committeeDuties" />
    <result column="order_num" jdbcType="BIGINT" property="orderNum" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_userid" jdbcType="BIGINT" property="createUserid" />
    <result column="create_username" jdbcType="VARCHAR" property="createUsername" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_userid" jdbcType="BIGINT" property="updateUserid" />
    <result column="update_username" jdbcType="VARCHAR" property="updateUsername" />
    <result column="resume" jdbcType="LONGVARCHAR" property="resume" />
    <result column="training_situation" jdbcType="LONGVARCHAR" property="trainingSituation" />
    <result column="name" property="name"/>
    <collection property="user" ofType="com.egovchina.partybuilding.partybuild.entity.SysUser">
      <id column="user_id" jdbcType="BIGINT" property="userId"/>
      <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
      <result column="realname" jdbcType="VARCHAR" property="realname"/>
      <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
      <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo"/>
      <result column="gender" jdbcType="BIGINT" property="gender"/>
      <result column="nation" jdbcType="BIGINT" property="nation"/>
      <result column="ancestor_place" jdbcType="BIGINT" property="ancestorPlace"/>
      <result column="born_place" jdbcType="VARCHAR" property="bornPlace"/>
      <result column="health" jdbcType="BIGINT" property="health"/>
      <result column="familyorigin" jdbcType="BIGINT" property="familyorigin"/>
      <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
      <result column="work_date" jdbcType="TIMESTAMP" property="workDate"/>
      <result column="phone" jdbcType="VARCHAR" property="phone"/>
      <result column="positive" jdbcType="BIGINT" property="positive"/>
      <result column="police_office" jdbcType="VARCHAR" property="policeOffice"/>
      <result column="join_time" jdbcType="TIMESTAMP" property="joinTime"/>
      <result column="order_num" jdbcType="BIGINT" property="orderNum" />
      <result column="order_num_user" property="orderNumUser"/>
    </collection>
    <collection property="positive" ofType="com.egovchina.partybuilding.partybuild.entity.TabPbPositives">
      <id column="positive_id" jdbcType="INTEGER" property="positiveId"/>
      <result column="user_id" jdbcType="BIGINT" property="userId"/>
      <result column="positive_type" jdbcType="INTEGER" property="positiveType"/>
      <result column="left_type" jdbcType="INTEGER" property="leftType"/>
      <result column="positive_org_id" jdbcType="INTEGER" property="positiveOrgId"/>
      <result column="positive_org" jdbcType="VARCHAR" property="positiveOrg"/>
      <result column="positive_name_dict" jdbcType="VARCHAR" property="positiveNameDict"/>
      <result column="positive_name" jdbcType="INTEGER" property="positiveName"/>
      <result column="positive_level" jdbcType="INTEGER" property="positiveLevel"/>
      <result column="positive_start" jdbcType="TIMESTAMP" property="positiveStart"/>
      <result column="positive_finished" jdbcType="TIMESTAMP" property="positiveFinished"/>
    </collection>
  </resultMap>
  <sql id="user_column">
      u.user_id,u.dept_id,u.realname,u.avatar,u.id_card_no,u.gender,u.nation,u.ancestor_place,u.born_place,u.health,u.familyorigin,u.birthday,u.work_date,
      u.phone,u.positive,u.police_office,u.join_time,u.order_num as order_num_user
  </sql>
  <sql id="Base_Column_List">
    secretary_id, postive, join_worker_time, professional_titles,whether_secretary,whether_member,
    professional_specialty,full_time_schooling, education, college_major, college_major_two,
    serving_time, serving_real_time, incumbent_time, incumbent_real_time, assessment_situation, 
    selection_situation, promotion_situation, army_cadres_situation, reserve_cadres_situation, 
    committee_duties, order_num,resume, training_situation
  </sql>

  <select id="selectByIdCardNo" parameterType="java.lang.String" resultType="java.lang.Long">
    select count(1) from tab_pb_dept_secretary secretary
    JOIN sys_user u ON secretary.user_id = u.user_id
    AND u.del_flag = 0
    WHERE secretary.del_flag = 0 and u.id_card_no = #{idCardNo} and secretary.dept_id = #{deptId}
  </select>

  <select id="selectList" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbDeptSecretary" resultMap="BaseResultMap">
    SELECT
    secretary.*,
    <include refid="user_column"/>,
    dept.`name`,
    a.*
    FROM
    tab_pb_dept_secretary secretary
    JOIN sys_user u ON secretary.user_id = u.user_id
    AND u.del_flag = 0
    <if test="idCardNo != null and idCardNo != ''">
      and u.id_card_no = #{idCardNo}
    </if>
    <if test="realname != null and realname != ''">
      and u.realname LIKE CONCAT('%',#{realname},'%')
    </if>
    JOIN sys_dept dept ON secretary.dept_id = dept.dept_id
    <if test="orgRange != null and orgRange != ''">
      <choose>
        <when test="orgRange == 1">
          AND (dept.dept_id = #{rangeDeptId} OR dept.parent_id = #{rangeDeptId})
        </when>
        <when test="orgRange == 2">
          AND find_in_set(#{rangeDeptId}, dept.full_path)
        </when>
      </choose>
    </if>
    <if test="rangeDeptId == null or orgRange.toString() == ''">
      AND dept.dept_id = #{rangeDeptId}
    </if>
    left JOIN (
    SELECT
    p.user_id,p.positive_level,p.positive_org,p.positive_start,p.positive_finished,MIN(d.id) AS id,p.positive_name
    FROM
    tab_pb_positives p
    LEFT JOIN sys_dict d ON d.type = p.positive_level
    AND type = 'ZWJB'
    AND `value` != 'ZWJB'
    AND d.del_flag = 0
    WHERE p.del_flag = 0
    GROUP BY user_id
    ) a ON a.user_id = secretary.user_id
    AND dept.del_flag = 0
    WHERE
    secretary.del_flag = 0
    <if test="positiveLevel != null">
      and a.positive_name = #{positiveLevel}
    </if>
    order by dept.order_num,secretary.order_num,u.order_num
  </select>

  <select id="selectByPrimaryKey" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbDeptSecretary" resultMap="BaseResultMap">
    SELECT secretary.*,<include refid="user_column"/> FROM tab_pb_dept_secretary secretary
    JOIN sys_user u ON secretary.user_id =u.user_id AND u.del_flag = 0
    WHERE secretary.del_flag = 0
    <if test="secretaryId != null">
      and secretary_id = #{secretaryId,jdbcType=BIGINT}
    </if>
    <if test="deptId != null">
      and secretary.dept_id = #{deptId}
    </if>
    limit 1
  </select>
  <insert id="insertSelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbDeptSecretary">
    insert into tab_pb_dept_secretary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="postive != null">
        postive,
      </if>
      <if test="joinWorkerTime != null">
        join_worker_time,
      </if>
      <if test="professionalTitles != null">
        professional_titles,
      </if>
      <if test="professionalSpecialty != null">
        professional_specialty,
      </if>
      <if test="fullTimeSchooling != null">
        full_time_schooling,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="collegeMajor != null">
        college_major,
      </if>
      <if test="collegeMajorTwo != null">
        college_major_two,
      </if>
      <if test="resume != null">
        resume,
      </if>
      <if test="trainingSituation != null">
        training_situation,
      </if>
      <if test="servingTime != null">
        serving_time,
      </if>
      <if test="servingRealTime != null">
        serving_real_time,
      </if>
      <if test="incumbentTime != null">
        incumbent_time,
      </if>
      <if test="incumbentRealTime != null">
        incumbent_real_time,
      </if>
      <if test="assessmentSituation != null">
        assessment_situation,
      </if>
      <if test="selectionSituation != null">
        selection_situation,
      </if>
      <if test="promotionSituation != null">
        promotion_situation,
      </if>
      <if test="armyCadresSituation != null">
        army_cadres_situation,
      </if>
      <if test="reserveCadresSituation != null">
        reserve_cadres_situation,
      </if>
      <if test="whetherSecretary != null">
        whether_secretary,
      </if>
      <if test="whetherMember != null">
        whether_member,
      </if>
      <if test="committeeDuties != null">
        committee_duties,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserid != null">
        create_userid,
      </if>
      <if test="createUsername != null">
        create_username,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserid != null">
        update_userid,
      </if>
      <if test="updateUsername != null">
        update_username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="deptId != null">
        #{deptId},
      </if>
      <if test="postive != null">
        #{postive},
      </if>
      <if test="joinWorkerTime != null">
        #{joinWorkerTime},
      </if>
      <if test="professionalTitles != null">
        #{professionalTitles},
      </if>
      <if test="professionalSpecialty != null">
        #{professionalSpecialty},
      </if>
      <if test="fullTimeSchooling != null">
        #{fullTimeSchooling},
      </if>
      <if test="education != null">
        #{education},
      </if>
      <if test="collegeMajor != null">
        #{collegeMajor},
      </if>
      <if test="collegeMajorTwo != null">
        #{collegeMajorTwo},
      </if>
      <if test="resume != null">
        #{resume},
      </if>
      <if test="trainingSituation != null">
        #{trainingSituation},
      </if>
      <if test="servingTime != null">
        #{servingTime},
      </if>
      <if test="servingRealTime != null">
        #{servingRealTime},
      </if>
      <if test="incumbentTime != null">
        #{incumbentTime},
      </if>
      <if test="incumbentRealTime != null">
        #{incumbentRealTime},
      </if>
      <if test="assessmentSituation != null">
        #{assessmentSituation},
      </if>
      <if test="selectionSituation != null">
        #{selectionSituation},
      </if>
      <if test="promotionSituation != null">
        #{promotionSituation},
      </if>
      <if test="armyCadresSituation != null">
        #{armyCadresSituation},
      </if>
      <if test="reserveCadresSituation != null">
        #{reserveCadresSituation},
      </if>
      <if test="whetherSecretary != null">
        #{whetherSecretary},
      </if>
      <if test="whetherMember != null">
        #{whetherMember},
      </if>
      <if test="committeeDuties != null">
        #{committeeDuties},
      </if>
      <if test="orderNum != null">
        #{orderNum},
      </if>
      <if test="delFlag != null">
        #{delFlag},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="createUserid != null">
        #{createUserid},
      </if>
      <if test="createUsername != null">
        #{createUsername},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="updateUserid != null">
        #{updateUserid},
      </if>
      <if test="updateUsername != null">
        #{updateUsername},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbDeptSecretary">
    update tab_pb_dept_secretary
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId},
      </if>
      <if test="postive != null">
        postive = #{postive,jdbcType=VARCHAR},
      </if>
      <if test="joinWorkerTime != null">
        join_worker_time = #{joinWorkerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="professionalTitles != null">
        professional_titles = #{professionalTitles,jdbcType=VARCHAR},
      </if>
      <if test="professionalSpecialty != null">
        professional_specialty = #{professionalSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="fullTimeSchooling != null">
        full_time_schooling = #{fullTimeSchooling,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="collegeMajor != null">
        college_major = #{collegeMajor,jdbcType=VARCHAR},
      </if>
      <if test="collegeMajorTwo != null">
        college_major_two = #{collegeMajorTwo,jdbcType=VARCHAR},
      </if>
      <if test="servingTime != null">
        serving_time = #{servingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="servingRealTime != null">
        serving_real_time = #{servingRealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="incumbentTime != null">
        incumbent_time = #{incumbentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="incumbentRealTime != null">
        incumbent_real_time = #{incumbentRealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assessmentSituation != null">
        assessment_situation = #{assessmentSituation,jdbcType=VARCHAR},
      </if>
      <if test="selectionSituation != null">
        selection_situation = #{selectionSituation,jdbcType=VARCHAR},
      </if>
      <if test="promotionSituation != null">
        promotion_situation = #{promotionSituation,jdbcType=VARCHAR},
      </if>
      <if test="armyCadresSituation != null">
        army_cadres_situation = #{armyCadresSituation,jdbcType=VARCHAR},
      </if>
      <if test="reserveCadresSituation != null">
        reserve_cadres_situation = #{reserveCadresSituation,jdbcType=VARCHAR},
      </if>
      <if test="whetherSecretary != null">
        whether_secretary =  #{whetherSecretary},
      </if>
      <if test="whetherMember != null">
        whether_member = #{whetherMember},
      </if>
      <if test="committeeDuties != null">
        committee_duties = #{committeeDuties,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserid != null">
        create_userid = #{createUserid,jdbcType=BIGINT},
      </if>
      <if test="createUsername != null">
        create_username = #{createUsername,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null">
        update_userid = #{updateUserid,jdbcType=BIGINT},
      </if>
      <if test="updateUsername != null">
        update_username = #{updateUsername,jdbcType=VARCHAR},
      </if>
      <if test="resume != null">
        resume = #{resume,jdbcType=LONGVARCHAR},
      </if>
      <if test="trainingSituation != null">
        training_situation = #{trainingSituation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where secretary_id = #{secretaryId,jdbcType=BIGINT}
  </update>
  <update id="tombstone" parameterType="com.egovchina.partybuilding.partybuild.entity.TabPbDeptSecretary">
    update tab_pb_dept_secretary
    <set>
      del_flag = 1,
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserid != null">
        update_userid = #{updateUserid,jdbcType=BIGINT},
      </if>
      <if test="updateUsername != null">
        update_username = #{updateUsername,jdbcType=VARCHAR},
      </if>
    </set>
    where secretary_id = #{secretaryId}
  </update>
  
  <select id="maxOrderNum" parameterType="java.lang.Long" resultType="java.lang.Long">
    select MAX(order_num) from sys_user where dept_id = #{deptId}
  </select>

  <select id="punishmentRewards" resultType="com.egovchina.partybuilding.partybuild.dto.PunishmentRewardsDto" parameterType="java.lang.Long">
  SELECT * FROM(
  SELECT rewards_date AS startingTime,rewards_name AS `name` FROM tab_pb_rewards WHERE del_flag = 0 and user_id = #{userId}
  UNION
  SELECT punish_date AS startingTime,punish_name AS `name` FROM tab_pb_punishment WHERE del_flag = 0 and user_id = #{userId} ) a ORDER BY startingTime
  </select>

  <update id="updateOrderNum" parameterType="com.egovchina.partybuilding.partybuild.entity.SysUser">
    update sys_user
    <set>
      order_num = #{orderNum},
    </set>
    where user_id = #{userId}
  </update>
</mapper>