<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovchina.partybuilding.partybuild.repository.SysUserMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="baseResultMap" type="com.egovchina.partybuilding.partybuild.entity.SysUser">
		<id column="user_id" property="userId"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="phone" property="phone"/>
		<result column="avatar" property="avatar"/>
		<result column="salt" property="salt"/>
		<result column="dept_id" property="deptId"/>
		<result column="manage_dept_id" property="manageDeptId"/>
		<result column="wx_openid" property="wxOpenid"/>
		<result column="qq_openid" property="qqOpenid"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="del_flag" property="delFlag"/>
		<result column="report_org_id" property="reportOrgId"/>
		<result column="report_org_name" property="reportOrgName"/>
		<result column="report_org_contactor" property="reportOrgContactor"/>
		<result column="report_org_phone" property="reportOrgPhone"/>
		<result column="identity_type" property="identityType"/>
		<result column="hardship_type" property="hardshipType"/>
	</resultMap>

	<!-- userVo结果集 -->
	<resultMap id="userVoResultMap" type="com.egovchina.partybuilding.partybuild.system.vo.UserVO">
		<id column="user_id" property="userId"/>
		<result column="username" property="username"/>
		<result column="realname" property="realname"/>
		<result column="id_card_no" property="idCardNo"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="phone" property="phone"/>
		<result column="avatar" property="avatar"/>
		<result column="wx_openid" property="wxOpenid"/>
		<result column="qq_openid" property="qqOpenid"/>
		<result column="ucreate_time" property="createTime"/>
		<result column="uupdate_time" property="updateTime"/>
		<result column="udel_flag" property="delFlag"/>
		<result column="deptId" property="deptId"/>
		<result column="manage_dept_id" property="manageDeptId"/>
		<result column="deptName" property="deptName"/>
		<collection property="roleList" ofType="com.egovchina.partybuilding.partybuild.system.entity.SysRole">
			<id column="role_id" property="roleId"/>
			<result column="role_name" property="roleName"/>
			<result column="role_code" property="roleCode"/>
			<result column="role_desc" property="roleDesc"/>
			<result column="rcreate_time" property="createTime"/>
			<result column="rupdate_time" property="updateTime"/>
		</collection>
	</resultMap>

	<sql id="selectUserVo">
        SELECT
            `user`.user_id,
            `user`.username,
		`user`.realname,
            `user`.`password`,
            `user`.salt,
            `user`.phone,
            `user`.avatar,
            `user`.wx_openid,
            `user`.qq_openid,
		`user`.dept_id AS deptId,
		`user`.manage_dept_id,
            `user`.create_time AS ucreate_time,
            `user`.update_time AS uupdate_time,
            `user`.del_flag AS udel_flag,
            r.role_id,
            r.role_name,
            r.role_code,
            r.role_desc,
            r.create_time AS rcreate_time,
            r.update_time AS rupdate_time
        FROM
            sys_user AS `user`
            LEFT JOIN sys_user_role AS ur ON ur.user_id = `user`.user_id
            LEFT JOIN sys_role AS r ON r.role_id = ur.role_id
    </sql>

	<select id="selectUserVoByCardNo" resultMap="userVoResultMap">
		<include refid="selectUserVo"/>
		WHERE `user`.id_card_no = #{idCardNo}
	</select>

	<select id="selectUserVoById" resultMap="userVoResultMap">
         SELECT
            `user`.user_id,
            `user`.username,
			`user`.realname,
			`user`.id_card_no,
            `user`.`password`,
            `user`.salt,
            `user`.phone,
            `user`.avatar,
			`user`.wx_openid,
            `user`.qq_openid,
            `user`.create_time AS ucreate_time,
            `user`.update_time AS uupdate_time,
            `user`.del_flag AS udel_flag,
            r.role_id,
            r.role_name,
            r.role_code,
            r.role_desc,
            r.create_time AS rcreate_time,
            r.update_time AS rupdate_time,
            d.name AS deptName,
		d.dept_id AS manageDeptId
        FROM
            sys_user AS `user`
            LEFT JOIN sys_user_role AS ur ON ur.user_id = `user`.user_id
            LEFT JOIN sys_role AS r ON r.role_id = ur.role_id
		LEFT JOIN sys_dept AS d ON d.dept_id = `user`.manage_dept_id
        WHERE
           `user`.user_id = #{id}
    </select>

	<!-- 所有后台用户信息列表 -->
	<select id="listAll" parameterType="com.egovchina.partybuilding.partybuild.system.dto.UserAdminDTO" resultMap="userAllListMap">
		select
		users.user_id,users.username,users.realname,users.manage_dept_id,users.del_flag,users.phone ,users.create_time,
		users.create_username,dept.name as dept_name,r.role_name,users.id_card_no
		from sys_user users
		INNER JOIN sys_dept dept on users.manage_dept_id=dept.dept_id
        LEFT JOIN sys_user_role ur ON ur.user_id = users.user_id
        LEFT JOIN sys_role r ON r.role_id = ur.role_id
		where
        users.manage_dept_id > 0
		<if test="createUserid != null">
			and users.create_userid =#{createUserid}
		</if>
		<if test="realname != null and realname != ''">
			and users.realname LIKE CONCAT('%',#{realname},'%')
		</if>
		<if test="idCardNo != null and idCardNo != ''">
			and users.id_card_no LIKE CONCAT('%',#{idCardNo},'%')
		</if>
        order by users.user_id desc
    </select>
    <!-- userVo结果集 -->
	<resultMap id="userAllListMap" type="com.egovchina.partybuilding.partybuild.system.dto.UserAdminDTO">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
		<result column="realname" property="realname"/>
		<result column="id_card_no" property="idCardNo"/>
        <result column="phone" property="phone"/>
        <result column="create_time" property="createTime"/>
        <result column="create_username" property="createUsername"/>
        <result column="del_flag" property="delFlag"/>
		<result column="manage_dept_id" property="manageDeptId"/>
        <result column="dept_name" property="deptName"/>
        <collection property="roleNames" ofType="java.lang.String">
            <result column="role_name" property="roleName"/>
        </collection>
    </resultMap>


    <select id="selectUserVoPage" resultMap="userVoResultMap">
		SELECT
		`user`.user_id,
		`user`.username,
		`user`.realname,
		`user`.`password`,
		`user`.salt,
		`user`.phone,
		`user`.avatar,
		`user`.wx_openid,
		`user`.qq_openid,
		`user`.create_time AS ucreate_time,
		`user`.update_time AS uupdate_time,
		`user`.del_flag AS udel_flag,
		r.role_id,
		r.role_name,
		r.role_code,
		r.role_desc,
		r.create_time AS rcreate_time,
		r.update_time AS rupdate_time,
		d.name AS deptName,
		d.dept_id AS manageDeptId
		FROM
		sys_user AS `user`
		LEFT JOIN sys_user_role AS ur ON ur.user_id = `user`.user_id
		LEFT JOIN sys_role AS r ON r.role_id = ur.role_id
		LEFT JOIN sys_dept AS d ON d.dept_id = `user`.manage_dept_id
		WHERE
		r.del_flag = 0
		<if test="realname != null and realname != ''">
			and `user`.realname LIKE CONCAT('%',#{realname},'%')
		</if>
		ORDER BY `user`.create_time DESC
	</select>

	<select id="selectDeletedUserByCardNo" resultMap="baseResultMap">
		SELECT user_id,
		 	   username,
		realname,
		 	   password,
		 	   phone,
		 	   avatar,
		 	   salt,
		 	   dept_id,
		manage_dept_id,
		 	   wx_openid,
		 	   qq_openid,
		 	   create_time,
		 	   update_time,
		 	   del_flag
		FROM sys_user
		WHERE id_card_no = #{idCardNo}
			AND del_flag = 1
	</select>

	<delete id="deleteSysUserByCardNoAndUserId">
		DELETE FROM sys_user WHERE id_card_no=#{idCardNo} AND user_id=#{userId};
	</delete>

	<delete id="deleteUserId" parameterType="java.lang.Long">
		delete from sys_user where user_id=#{userId};
	</delete>

	<!--根据id修改密码-->
	<update id="updatePwdById" parameterType="com.egovchina.partybuilding.partybuild.entity.SysUser">
		update sys_user set password = #{password}, update_userid = #{updateUserid}, update_username = #{updateUsername},
			update_time = #{updateTime} where user_id = #{userId}
	</update>
</mapper>
